<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	// get the names of the category and display it in the title
	if (isNotAnEmptyString($request->d__category)) {
		$cat = getCategoryText($request->d__category);
		$category_text = "Community Forum: <span style='color:#999999;'>".$cat."</span>";
		$viewing_label = 'View topics in Category: '.$cat;
		
	} else {
		$category_text = "Community Forum";
		$viewing_label = 'Topics';
	}
	
	# Page title
	$title = $category_text; 
	$this->headTitle($title);
	
	# Create an instance of the class to handle the pagination
	$paginate = new Pagination();	
	$paginate->setView($this);
	# set the search columns to be used on this list
	$paginate->setSearchColumns(array("d.topic","u.firstname","u.lastname","l.lookupvaluedescription"));
	$paginate->setFilterColumns(array("d.category"));
	$paginate->setItemCountPerPage("10");
	// custom sort
	$customsortsql = "ORDER BY d.datecreated DESC";
	
	$paginate->processPost($request->getParams());
	$all_results_query = "SELECT d.id, d.category, d.createdby as createdby, d.category, '' as largepicture, '' as mediumpicture, '' as thumbnailpicture, d.topic, d.content, d.datecreated, l.lookupvaluedescription as `Category Name`, concat(u.firstname, ' ', u.lastname) as `Discussant`, count(c.communityforumid) as `No of Comments`, MAX(c.datecreated) as `Last Post On`, (SELECT concat(uc.firstname,' ',uc.lastname)  from comment cm left join useraccount as uc on (cm.userid = uc.id) where cm.datecreated =  Max(c.datecreated) ) as `Last Post By` FROM communityforum AS d Inner Join useraccount AS u ON d.createdby = u.id Left Join comment AS c ON d.id = c.communityforumid Inner Join lookuptypevalue AS l ON (d.category = l.lookuptypevalue AND l.lookuptypeid = 10) WHERE d.id <> '' ".$paginate->getSearchAndFilterSQL()." GROUP BY d.id ".$customsortsql;
	// debugMessage($all_results_query); // exit();
	
	$paginate->setItemCountFromSQLQuery($all_results_query);
	
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	//echo $current_results_query;
	$session->setVar(ALL_RESULTS_QUERY, $all_results_query);
	$session->setVar(CURRENT_RESULTS_QUERY, $current_results_query);
	# the query string to be appended to the return to list URL
	$session->setVar('list_query_string'.$request->getControllerName(), $request->getParams());
	
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$has_no_data = (count($result) == 0) ? true : false; 
	
	# This variable stores the number of redundant columns returned in the query so that when we are printing
	# we are able to know how many columns to ignore. This variable is sent in the print URL
	$number_of_redundant_columns = 7;
	
	# the columns which contain numbers in the invoice query
	# Please note that the column count begins at 0
	$export_number_column_list = "";	
	
	if(isEmptyString($request->tab)){
		$request->setParam('tab', 'topics'); 
	}

?>
<script type="text/javascript"> 
$(document).ready(function() {
	<?php if(!isEmptyString($request->tab)){ ?>
		$("#tabs").tabs({ selected:'<?php echo $request->tab; ?>', fx: {opacity: 'toggle'} });	   
	<?php } ?>
	$('#tabs').tabs({
		// the selected tab
		selected: '<?php echo $request->tab; ?>'
	});
	$("#create a").click(function(e){
		window.location.href = "<?php echo $this->baseUrl('communityforum/index'); ?>";
	});
	
	// update pagination links. Replace Next with older and Prev with newer
	$("a.page-mover:contains('Next')").html('Older');
	$("a.page-mover:contains('Prev')").html('Newer');
	
	// delete comment
	$(".delete_topic").click(function(){		
		var id = $(this).attr('theid');
		// alert('id is '+id);
		
		// confirm that user wants to delete the comment
		if(window.confirm("Are you sure you want to delete this Topic. \n Click 'OK' to confirm or 'Cancel' to stay on this page")){						
			// set comment id and entity to be deleted
			
			$.post(  
				"<?php echo $this->baseUrl("communityforum/delete/id/"); ?>"+id,
				function(data){
					if(data.search("success") != -1){
						// alert(data);						
						window.location.href = '<?php echo $this->baseUrl('communityforum/list'); ?>';
					} else {
						alert('An error occured in removing the comment. Please try again');
					}
				}  
			); // close the $.post 	
			$("#waiting_old_"+id).show();	
							
			return true;
		} else {
			return false;
		}
	});	
	
	/*equalHeight($("#forum, #tabs"));
	var hght = $("#tabs").height();
	$("#tabs").css({'height': hght - 50+'px'}).css({'z-index':'100'});/**/
	$("#tabs").css({'height': '1000px'});
}); 
</script>
<style>

</style>
<div class="row marginleft0" id="forum">
    <div class="span8 pull-left marginleft0 public_leftcolumn" >
        <div class="content">
            <h2 style="font-size:20px;"><?php echo $title; ?></h2> 
            <div id="tabs" class="discussion">   
                <ul>       
                   <li id="topiclist"><a href="#topics"><?php echo $this->translate('communityforum_section_topics'); ?></a></li>
                   <li id="create"><a href="#newtopic"><img src="<?php echo $this->baseUrl("images/add.png"); ?>" />&nbsp; <?php echo $this->translate('communityforum_section_newtopic'); ?></a></li>   
                </ul>
                <div id="topics">
                    <form action="<?php echo $this->baseUrl("communityforum/listsearch"); ?>" method="get" id="inboxform">
                        <ul id="searchbox">
                            <li>
                                <a style="padding-left:0; padding-right:0; width:100%;">
                                    <table id="directorysearchtable" class="table noborder margin0">
                                        <tr>
                                            <td style="width:160px; padding-top:35px; padding-left:2px; padding-right:2px;">                                    
                                               
                                            </td>
                                            <td style="width:180px; padding-left:4px; padding-right:2px;">
                                                <?php if(!isEmptyString($request->d__category)){ ?>
                                                	<a href="<?php echo $this->baseUrl('communityforum/list'); ?>" style="margin-top:5px;" id="reset" class="btn btn-primary pull-right" title="Back to all Topics">Show All Topics</a>
                                                <?php } ?>
                                            </td>
                                            <td style="padding:10px 3px 0 0; text-align:right;">
                                                <input type="hidden" name="advanced" id="advanced" value="<?php echo $request->getParam('advanced'); ?>" />
                                                <input style="width:200px; padding:8px;" name="searchterm" id="searchterm" value="<?php echo $request->searchterm; ?>" type="text" class="input-medium xsearch-query span2 pull-right" placeholder="Search by topic or discussion"></td>
                                            <td style="padding:10px 3px 0 0; text-align:left;">
                                                <button type="submit" id="searchbutton" class="btn" style="padding:10px 15px;"><i class="icon-search"></i></button>
                                                <input type="hidden" name="<?php echo 'd'.HTML_TABLE_COLUMN_SEPARATOR.'category'; ?>" id="<?php echo 'd'.HTML_TABLE_COLUMN_SEPARATOR.'category'; ?>" value="<?php echo $request->getParam('d'.HTML_TABLE_COLUMN_SEPARATOR.'category'); ?>" />
                                                <img id="wait" class="hidden" style=" width:25px;" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" />
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                                
                            </li>
                        </ul>
                        <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                            <div class="alert alert-success" style="clear:both;"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                        <?php } ?>
                        <?php if ($has_no_data) { ?>
                            <div style="clear:both;" class="alert alert-info margin5"><?php echo $this->translate("communityforum_list_norecords"); ?></div>
                        <?php } else { ?>
						<label style="text-align:left; width:75%; padding:0; margin:0; margin-bottom:10px;" class="searchedterm control-label pull-left leftalign"><?php echo $viewing_label; ?></label>
						<?php if (!$has_no_data) { ?>
                            <div class="paginatecustom" style="width:25%; padding:0; margin:0; margin-bottom:10px;"><?php echo sprintf($this->translate("communityforum_list_counter"), $paginate->getItemCounterText()); ?></div>
                        <?php } ?>
                        <div id="listresults_div">
                            <ul class="comments">
                            <?php 				  		
                                foreach($result as $line){		
                                //debugMessage($line);
                            ?>
                                <li id="topic_<?php echo $line['id']; ?>">                        
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td style="width:20px;" rowspan="2"></td>
                                                <td colspan="2" style=" padding-right:35px; padding-top:10px; padding-bottom:20px;">
                                                    <a class="topic" href="<?php echo $this->baseUrl('communityforum/view/id/'.encode($line['id'])); ?>" title="View Discussion"><?php echo snippet($line['topic'], 150, '...'); ?></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="60%" style="padding:0;">                                	
                                                    <label>Category: <a class="category" href="<?php echo $this->baseUrl('communityforum/list/d'.HTML_TABLE_COLUMN_SEPARATOR.'category/'.$line['category']); ?>"><?php echo $line['Category Name']; ?></a></label>
                                                    <label><a style="font-size:11px; font-weight:bold;" href="<?php echo $this->baseUrl('communityforum/view/id/'.encode($line['id'])); ?>" title="View details"><?php echo $line['No of Comments']; ?> <?php echo $line['No of Comments'] == 1 ? 'Comment' : 'Comments'; ?></a> | Created on <?php echo date('M j, Y - g:i A', strtotime($line['datecreated'])); ?> | by <?php echo $line['Discussant']; ?></label>
                                                </td>
                                                <td style="vertical-align:bottom;">
                                                    <?php if($line['No of Comments'] > 0){ ?>
                                                        <label><a style="font-size:11px;" href="<?php echo $this->baseUrl('communityforum/view/id/'.encode($line['id'])); ?>" title="View last post">Last Reply</a> by <?php echo $line['Last Post By']; ?></label>
                                                        <label>Posted on <?php echo date('M j, Y - g:i A', strtotime($line['Last Post On'])); ?> </label>
                                                    <?php } ?>
                                                    <?php if($userid == $line['createdby'] || isAdmin()){ ?>
                                                        <a href="javascript: void(0);" title="Delete Topic" class="delete_topic removeline close button btn" theid="<?php echo $line['id']; ?>" id="remove_topic_<?php echo $line['id']; ?>">&times;</a>
                                                        <input type="hidden" class="remove_topic_<?php echo $line['id']; ?>" title="<?php echo $line['id']; ?>" value="<?php echo $line['id']; ?>" />
                                                    <?php } ?>
                                                </td>
                                            </tr>                    
                                        </table>
                                    </div>
                                    <img class="loading hidden" style="margin-right:2px; margin-bottom:5px; float:right;" id="waiting_old_<?php echo $line['id']; ?>" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" />
                                </li>
                            <?php } ?>
                            </ul>
                        </div>    
                        <?php } ?> 
                        <div>
                            <div id="counter" style="float:left"><?php //echo $paginate->getItemCounterFormattedText(); ?></div>	
                            <div style="float:right" class="paginationlinks"><?php echo $paginate->getPaginationLinks(); ?></div>
                        </div><br />  
                    </form>
                </div>
                <div id="newtopic">
                    <div id="loading"><br />         
                      Please Wait ..... <br /><br />
                      <img src="<?php echo $this->baseUrl("images/loading.gif"); ?>" /> <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php require APPLICATION_PATH."/views/scripts/index/righthandband.phtml"; ?>
</div>
<?php
	$session->setVar(SUCCESS_MESSAGE, "");
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
