<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	// require_once(APPLICATION_PATH.'/../'.PUBLICFOLDER.'/dompdf/dompdf_config.inc.php');
		
	$title = "Farmers Bio Data Report";
	$this->headTitle($title); 
	
	$loggedinfarmer = new Farmer();
	$loggedinfarmer->populate($farmerid);
	$farmgroupid = $loggedinfarmer->getFarmGroupID();
	
	// $farmerarray = getFarmers($farmgroupid);
	// debugMessage($farmerarray);
	
	$paginate = new Pagination();	
	$paginate->setView($this);
	# set the search columns to be used on this list
	$paginate->setSearchColumns(array("f.firstname","f.lastname","f.othernames","u.username","u.email","up.phone","fg.orgname"));
	$paginate->setFilterColumns(array("u.gender","u.locationid","f.maritalstatus","f.educationlevel"));
	// $paginate->setDefaultSortBy("f.datecreated");	
	// $paginate->setDefaultSortOrder("DESC");
	$paginate->setItemCountPerPage("25");
	
	# define the letter to be clicked to ease navigation 
	$where_query = " WHERE f.id <> '' ";
	
	$groupid = $farmgroupid;
	if(!isEmptyString($request->getParam('farmgroupid'))){
		$groupid = $request->getParam('farmgroupid');
	}
	if(!isEmptyString($groupid)){
		$where_query .= " AND (f.`farmgroupid` = '".$groupid."') ";
	}
	
	$order = trim($request->order);
	$order_query = " ";
	if(isEmptyString($order)){
		$order = 1;
	}
	if($order == 1){
		$order_query = " ORDER BY f.datecreated DESC ";
	}
	if($order == 2){
		$order_query = " ORDER BY f.firstname ASC ";
	}
	if($order == 3){
		$order_query = " ORDER BY f.lastname ASC ";
	}
	if($order == 4){
		$order_query = " ORDER BY f.datecreated ASC ";
	}
	
	$paginate->processPost($request->getParams());
	$all_results_query = "SELECT f.id FROM farmer f INNER JOIN useraccount u on (f.userid = u.id) LEFT JOIN userphone as up on (u.id = up.userid) LEFT JOIN farmgroup as fg on (f.farmgroupid = fg.id) ".$where_query." AND u.type = 2 ".$paginate->getSearchAndFilterSQL()." GROUP BY f.id ".$order_query;
	
	// debugMessage($all_results_query);
	$paginate->setItemCountFromSQLQuery($all_results_query);
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$has_no_data = (count($result) == 0) ? true : false; 
	// debugMessage($result);
	
	// $infotrade_logo = ''; $farmis_logo ='';
?>
<script>
$(document).ready(function() {
	<?php if($request->print == 1){ ?>
		$("#headercontainer, #leftcolumn, .footer, #blankrow").remove().hide();
		$(".printpage").html($("#printer_page_action_buttons").html());
	<?php } ?>

});
</script>
<style>
#contentcolumn {
	min-height:600px;
}
#centercolumn {
	padding: 5px 0;
	width: 100%;
	margin-left:0;
	float:left;
}
#centercolumn h1, #centercolumn h2 {
	font-family:calibri, Telex, sans-serif;
}
#pageleft {
	margin:0 5px 0 0;
	width:100%;
	float:left;
	position:relative;
}
#pageleft .widgetsection {
	width:98%;
}
.widgetsection {
	margin-bottom:10px;
}
.widgetsection h3 {
	font-size:15px;
}
.contenttable {
	border:solid 1px #b3b3b3;
	border-collapse: separate;
 	*border-collapse: collapsed;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.contenttable .control-label {
	width:auto;
	white-space:normal;
	text-align:left;
	display:block;
}
.contenttable h2 {
	margin: 0;
	padding: 8px 0 8px 0;
	line-height:auto;
	text-align: left;
	border-bottom:1px solid #c4c2c2;
	color:#498D0F;
	font-size:18px;
	width:100%;
	font-weight:bold;
	line-height:16px;
}
.contenttable#estimates thead tr td {
	font-weight:bold;
	font-size:12px;
}
#outlength {
	width:72%;
}
.reportcontainer {
	height:auto; 
	min-height:400px; 
	display:block; 
	margin-top:10px;
	position:relative;
}
.reportlabel {
	display:inline-block;
	font-weight:bold;
	font-size:16px;
	padding-right:5px;
}
.reportfilter {
	margin-top:0; 
	float:right;
	margin-right:-10px;
	width:auto;
}
.reportlinks {
	margin-top:-10px;
}
#generate {
	margin-top:-10px;
}
.printpage {
	display:none;
}
pdfquicklinks {
	position:absolute; 
	left:10px; 
	top:8px;
}
.widgetsection h3.reportpagetitle {
	color:#282727;
}
.control-label {
	font-size:12px;
	white-space:nowrap;
	display:block;
	width:100%;
	text-align:left;
}
.table#data tr td {
	white-space:nowrap;
}
.paginatecustom {
	position:absolute;
	left:12px;
	top:10px;
	width:auto;
	text-align:left;
	float:left;
}
.pager {
	text-align:right;
}
<?php if($request->print == 1) { ?> 
#contentwrapper {
	margin: 10px 0 5px;
}
#centercolumn {
	float:left;
	width:90%;
}
#maincontainer.container {
	margin-left:20px;
	margin-top:10px;
}
#printer_page_action_buttons {
	margin:10px;
}
.hideonprint {
	display:none;
}
.printpage {
	margin:10px;
	display:block;
}
<?php } ?>
</style>
<form action="<?php echo $this->baseUrl("report/allfarmerssearch"); ?>" method="get" id="listform" class="form-search margin0" style="margin-top:5px;">
<div>
  <div id="centercolumn">
  	<div class="printpage"></div>
    <div class="hideonprint" style="width:100%;">
        <?php if((isAdmin() || isFarmGroupAdmin())){ ?>
    	<span class="reportfilter">
        	<table class="table table-condensed noborder margin0" style="width:auto; display:inline-block;">
            	<tr>
                    <td style="width:80px;">
                    	<label class="control-label">Gender:</label>
						<?php
                            $allgenders = array('' => 'All','1'=>'Male','2'=>'Female');
                            $genderdropdown = new Zend_Form_Element_Select('u'.HTML_TABLE_COLUMN_SEPARATOR.'gender',
                                                array(
                                                    'multiOptions' => $allgenders,
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array('gender','width80'),
                                                    'title' => 'Filter By Gender'		
                                                )
                            );  
                            $genderdropdown->setValue($request->getParam('u'.HTML_TABLE_COLUMN_SEPARATOR.'gender')); 
                            echo $genderdropdown->render();
                        ?></td>
                    <td style="width:80px;">
                    	<label class="control-label">Marital Status:</label>
                        <?php
							$maritalstatuses = getAllMaritalStatuses();
							$maritalstatusesdropdown = new Zend_Form_Element_Select('f'.HTML_TABLE_COLUMN_SEPARATOR.'maritalstatus',
												array(
													'multiOptions' => array_merge_maintain_keys(array('' => 'All'), $maritalstatuses),								
													'view' => new Zend_View(),
													'decorators' => array('ViewHelper'),
													'class' => array('width80'),
												)
											);
							$maritalstatusesdropdown->setValue($request->getParam('f'.HTML_TABLE_COLUMN_SEPARATOR.'maritalstatus')); 
							echo $maritalstatusesdropdown->render(); 
                           ?>
                    </td>
                    <td style="width:105px;">
                    	<label class="control-label">Education:</label>
                        <?php
							$educlevels = getAllEducationLevels();
							$educleveldropdown = new Zend_Form_Element_Select('f'.HTML_TABLE_COLUMN_SEPARATOR.'educationlevel',
												array(
													'multiOptions' => array_merge_maintain_keys(array('' => 'All'), $educlevels),								
													'view' => new Zend_View(),
													'decorators' => array('ViewHelper'),
													'class' => array('width100'),
												)
											);
							$educleveldropdown->setValue($request->getParam('f'.HTML_TABLE_COLUMN_SEPARATOR.'educationlevel')); 
							echo $educleveldropdown->render(); 
                        ?>
                    </td>
                    <?php if(isAdmin()){ ?>
                    <td style="width:105px;">
                    	<label class="control-label">Farm Group:</label>
                        <?php
							$groupdropdown = new Zend_Form_Element_Select('farmgroupid',
												array(
													'multiOptions' => array_merge_maintain_keys(array('' => 'All'), getAllFarmGroups()),								
													'view' => new Zend_View(),
													'decorators' => array('ViewHelper'),
													'class' => array('width100'),
												)
											);
							$groupdropdown->setValue($request->getParam('farmgroupid')); 
							echo $groupdropdown->render(); 
					   ?>
                    </td>
                    <?php } ?>
                    <td style="width:105px;">
                    	<label class="control-label">District:</label>
						<?php
                            $districtlist = new LookupType(); 
                            $districtlist->setName("ALL_DISTRICTS");
                            $districtdropdown = new Zend_Form_Element_Select('u'.HTML_TABLE_COLUMN_SEPARATOR.'locationid',
                                                array(
                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'All'), $districtlist->getOptionValuesFromQuery()),								'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array('width100')
                                                )
                                            );
                            $districtdropdown->setValue($request->getParam('u'.HTML_TABLE_COLUMN_SEPARATOR.'locationid')); 
                            echo $districtdropdown->render(); 
                          ?>
                    </td>
                    <td style="width:105px;">
                    	<label class="control-label">County:</label>
                        <select name="countyid" id="countyid" class="width100">
                          <option value="">&lt;Select One&gt;</option>
                        </select>
                    </td>
                    <td style="width:105px;">
                    	<label class="control-label">Subcounty:</label>
                        <select name="subcountyid" id="subcountyid" class="width100">
                          <option value="">&lt;Select One&gt;</option>
                        </select>
                    </td>
                    <td style="width:105px;">
                    	<label class="control-label">Crops:</label>
                        <?php
							$availablecrops = getFarmisCommodities();
							$cropdropdown = new Zend_Form_Element_Select('u'.HTML_TABLE_COLUMN_SEPARATOR.'cropid',
												array(
													'multiOptions' => array_merge_maintain_keys(array('' => 'All'), $availablecrops),								
													'view' => new Zend_View(),
													'decorators' => array('ViewHelper'),
													'class' => array('width100')
												)
											);
							$cropdropdown->setValue($request->getParam('fc'.HTML_TABLE_COLUMN_SEPARATOR.'cropid')); 
							echo $cropdropdown->render();
					   ?>
                    </td>
                    <td style="width:100px; vertical-align:bottom;">
                        <button type="submit" id="searchbutton" class="btn btn-primary" style="padding:6px 10px;"><i class="icon-white icon-search"></i> Generate</button>
                        <?php if(!isAdmin()){ ?>
                        	<input type="hidden" name="farmgroupid" id="farmgroupid" value="<?php echo $request->farmgroupid; ?>" />
                        <?php } ?>
                    </td>
                </tr>
            </table>
            
    	</span>
		<?php } ?>
    </div>
    <div class="pull-left" id="pageleft">
        <div class="widgetsection reportcontainer">
        	<h3 class="reportpagetitle"><?php echo $title; ?></h3>
                <?php if ($has_no_data) { ?>
                    <div style="clear:both;" class="alert alert-info margin5"><?php echo $this->translate("farmer_list_norecords"); ?></div>
                <?php } else { ?>
                	<div style="width:100%; display:block; height:30px;; position:relative;">
                    	<div class="paginatecustom"><?php echo sprintf($this->translate("farmer_list_counter"), $paginate->getItemCounterText()); ?></div>
                        <div style="margin-top:5px;"><?php echo $this->listcountdropdown; ?></div>
                    </div>
                    <div style="width:100%; height:auto; overflow:auto; margin-bottom:10px; display:block;">
                        
                        <table id="data" class="table table-bordered" style="margin:10px 0 10px 0; width:auto;">
                            <thead>
                                <tr>
                                    <td style="width:150px;" width="80"><label class="control-label">Reg No#</label></td>
                                    <td style="width:120px;"><label class="control-label">First Name</label></td>
                                    <td style="width:120px;"><label class="control-label">Last Name</label></td>
                                    <td style="width:120px;"><label class="control-label">Other Names</label></td>
                                    <td><label class="control-label">Salutation</label></td>
                                    <td><label class="control-label">Gender</label></td>
                                    <td><label class="control-label">Date of Birth</label></td>
                                    <td><label class="control-label">Phone</label></td>
                                    <td><label class="control-label">Alt Phone</label></td>
                                    <td style="width:150px;"><label class="control-label">Email</label></td>
                                    <td style="width:150px;"><label class="control-label">Alt Email</label></td>
                                    <td><label class="control-label">Country</label></td>
                                    <td><label class="control-label">District</label></td>
                                    <td><label class="control-label">County</label></td>
                                    <td><label class="control-label">Subcounty</label></td>
                                    <td><label class="control-label">Parish</label></td>
                                    <td><label class="control-label">Village</label></td>
                                    <td style="width:200px;"><label class="control-label">Physical Address</label></td>
                                    <td><label class="control-label">GPS Lat</label></td>
                                    <td><label class="control-label">GPS Lng</label></td>
                                    <td><label class="control-label">Marital Status</label></td>
                                    <td><label class="control-label">Education Level</label></td>
                                    <td><label class="control-label">No of Children</label></td>
                                    <td><label class="control-label">No of Dependants</label></td>
                                    <td style="width:150px;"><label class="control-label">Next of Keen</label></td>
                                    <td><label class="control-label">Farmer's Business Name</label></td>
                                    <td><label class="control-label">Farmer Group</label></td>
                                    <td><label class="control-label">Farming Since</label></td>
                                    <td><label class="control-label">Total Acrage</label></td>
                                    <td><label class="control-label">Active Use Acrage</label></td>
                                    <td><label class="control-label">Acquire Method</label></td>
                                    <td><label class="control-label">No of Farm Lands</label></td>
                                    <td><label class="control-label">No of Labourers</label></td>
                                    <td style="width:150px;"><label class="control-label">No of Crops</label></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php 
                                     foreach($result as $line){
                                        // debugMessage($key);
                                        $farmer = new Farmer();
                                        $farmer->populate($line['id']);	
                                        $farm = $farmer->getFarm();
                                        
                                        $regno = isEmptyString($farmer->getRegNo()) ? "--" : $farmer->getRegNo();
                                        $firstname = isEmptyString($farmer->getFirstName()) ? "--" : $farmer->getFirstName();
                                        $lastname = isEmptyString($farmer->getLastName()) ? "--" : $farmer->getLastName();
                                        $othername = isEmptyString($farmer->getOtherNames()) ? "--" : $farmer->getOtherNames();
                                        $salutation = isEmptyString($farmer->getSalutationLabel()) ? "--" : $farmer->getSalutationLabel();
                                        $gender = isEmptyString($farmer->getGenderLabel()) ? "--" : $farmer->getGenderLabel();
                                        $dateofbirth = $farmer->getUser()->getBirthDateFormatted();
                                        $activationdate = isEmptyString($farmer->getUser()->getActivationDate()) ? "--" : changeMySQLDateToPageFormat($farmer->getUser()->getActivationDate());
                                        $country = isEmptyString($farmer->getUser()->getAddress()->getCountry()) ? '--' : $farmer->getUser()->getAddress()->getCountryName();
                                        $district = isEmptyString($farmer->getUser()->getLocationID()) ? '--' : $farmer->getUser()->getLocation()->getName();
                                        $county = isEmptyString($farmer->getUser()->getAddress()->getCountyID()) ? '--' : $farmer->getUser()->getAddress()->getCounty()->getName();
                                        $subcounty = isEmptyString($farmer->getUser()->getAddress()->getSubCountyID()) ? '--' : $farmer->getUser()->getAddress()->getSubCounty()->getName();
                                        $parish = isEmptyString($farmer->getUser()->getAddress()->getParishID()) ? '--' : $farmer->getUser()->getAddress()->getParish()->getName();
                                        $village = isEmptyString($farmer->getUser()->getAddress()->getVillageID()) ? '--' : $farmer->getUser()->getAddress()->getVillage()->getName();
                                        $address = isEmptyString($farmer->getUser()->getAddress()->getStreetAddress()) ? '--' : nl2br($farmer->getUser()->getAddress()->getStreetAddress());
                                        $bio = isEmptyString($farmer->getUser()->getBio()) ? '--' : nl2br($farmer->getUser()->getBio());
                                        $children = isEmptyString($farmer->getNumberOfChildren()) ? '--': $farmer->getNumberOfChildren();
                                        $dependants = isEmptyString($farmer->getNumberOfDependants()) ? '--': $farmer->getNumberOfDependants();
                                        $thefarmgroup = isEmptyString($farmer->getFarmGroupID()) ? '--' : $farmer->getFarmGroup()->getName();
                                        $maritalstatus = isEmptyString($farmer->getMaritalStatusText()) ? '--': $farmer->getMaritalStatusText();
                                        $educlevel = isEmptyString($farmer->getEducationLevelText()) ? '--': $farmer->getEducationLevelText();
                                        $gpslat = $farmer->getLatGPSFormatted();
                                        $gpslng = $farmer->getLngGPSFormatted();
                                        
                                        $phone = isEmptyString($farmer->getUser()->getPhone()) ? '--' : $farmer->getUser()->getPhone();
                                        $phone2 = isEmptyString($farmer->getUser()->getAltPhone()) ? '--' : $farmer->getUser()->getAltPhone();
                                        $email = isEmptyString($farmer->getUser()->getEmail()) ? '--' : $farmer->getUser()->getEmail();
                                        $email2 = -isEmptyString($farmer->getUser()->getEmail2()) ? '--' : $farmer->getUser()->getEmail2();
                                        
                                        $keen_name = $farmer->getNextofkin_name();
                                        $keen_phone = $farmer->getNextofkin_phone();
                                        $keen_email = $farmer->getNextofkin_email();
                                        $keen = '';
                                        if(!isEmptyString($keen_name)){
                                            $keen = $keen_name;
                                        }
                                        if(!isEmptyString($keen_phone)){
                                            $keen .= ', '.$keen_phone;
                                        }
                                        if(!isEmptyString($keen_email)){
                                            $keen .= '<br /> '.$keen_email;
                                        }
                                        
                                        $farmingdate = isEmptyString($farm->getFullStartDate()) ? "--" : $farm->getFullStartDate();
                                        $regdate =  isEmptyString($farm->getRegDateFormatted()) ? "--" : $farm->getRegDateFormatted();
                                        $farmname = isEmptyString($farmer->getFarm()->getName()) ? "--" : $farmer->getFarm()->getName();
                                        $description = isEmptyString($farmer->getFarm()->getDescription()) ? "--" : nl2br($farmer->getFarm()->getDescription());
                                        $farmgroup = isEmptyString($farmer->getFarmGroup()->getName()) ? "--": $farmer->getFarmGroup()->getName();
                                        $thefarmgroup = isEmptyString($farmer->getFarmGroupID()) ? "--" : $farmer->getFarmGroup()->getName();
                                        $laborers = isEmptyString($farm->getNumberOfEmployees()) || $farm->getNumberOfEmployees() == 0 ? '--' : $farm->getNumberOfEmployees();
                                        $landsize = $farm->displayLandSize();
                                        $activeland = $farm->displayActiveLandSize();
                                        $acquiremethod = $farm->getLandAcquireMethodLabel();
                                        $nooffarms = isEmptyString($farm->getNumberOfFields()) || $farm->getNumberOfFields() == 0 ? '--' : $farm->getNumberOfFields();
                                        // $cropslabel = $farm->getCropList()
                                        $noofcrops = $farm->getCrops()->count();
                                    
                                ?>
                                <tr>
                                    <td><?php echo $regno; ?></td>
                                    <td><?php echo $firstname ; ?></td>
                                    <td><?php echo $lastname; ?></td>
                                    <td><?php echo $othername; ?></td>
                                    <td><?php echo $salutation; ?></td>
                                    <td><?php echo $gender; ?></td>
                                    <td><?php echo $dateofbirth; ?></td>
                                    <td><?php echo $phone; ?></td>
                                    <td><?php echo $phone2; ?></td>
                                    <td><?php echo $email; ?></td>
                                    <td><?php echo $email2; ?></td>
                                    <td><?php echo $country; ?></td>
                                    <td><?php echo $district; ?></td>
                                    <td><?php echo $county; ?></td>
                                    <td><?php echo $subcounty; ?></td>
                                    <td><?php echo $parish; ?></td>
                                    <td><?php echo $village; ?></td>
                                    <td><?php echo $address; ?></td>
                                    <td><?php echo $gpslat; ?></td>
                                    <td><?php echo $gpslng; ?></td>
                                    <td><?php echo $maritalstatus; ?></td>
                                    <td><?php echo $educlevel; ?></td>
                                    <td class="centeralign"><?php echo $children; ?></td>
                                    <td class="centeralign"><?php echo $dependants; ?></td>
                                    <td><?php echo isEmptyString($keen) ? '--': $keen; ?></td>
                                    <td><?php echo $farmname; ?></td>
                                    <td><?php echo $farmgroup; ?></td>
                                    <td><?php echo $farmingdate; ?></td>
                                    <td class="centeralign"><?php echo $landsize; ?></td>
                                    <td class="centeralign"><?php echo $activeland; ?></td>
                                    <td><?php echo $acquiremethod; ?></td>
                                    <td class="centeralign"><?php echo $laborers; ?></td>
                                    <td class="centeralign"><?php echo $nooffarms; ?></td>
                                    <td class="centeralign"><?php echo $noofcrops; ?></td>
                                </tr>
                                <?php } ?>
                            </tbody>
                        </table>
                    </div>
					<?php echo $paginate->getPaginationLinks(); ?>  
                <?php } ?>
		</div>
  	</div>
</div>
</form>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>