<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	require_once(APPLICATION_PATH.'/../'.PUBLICFOLDER.'/dompdf/dompdf_config.inc.php');
		
	$title = "FARMIS Baseline Summary Report";
	// meta data
	$this->headTitle($title); 
	
	$farmer = new Farmer();
	$id = $request->id;
	
	$loggedinfarmer = new Farmer();
	$loggedinfarmer->populate($farmerid);
	$farmgroupid = $loggedinfarmer->getFarmGroupID();
	
	if(!isEmptyString($id)){
		$farmer->populate($id);
	}
		
?>
<script>
$(document).ready(function() {
	<?php if($request->print == 1){ ?>
		$("#headercontainer, #leftcolumn, .footer, #blankrow").remove().hide();
		$(".printpage").html($("#printer_page_action_buttons").html());
	<?php } ?>
	
	// trigger path to farmer report to be generated
	$("#id").change(function(){
		var id = $(this).val()
		var url = '<?php echo $this->baseUrl('report/primarybaseline/id/'); ?>'+id;
		$("#generate").attr('href', url);
	});

});
</script>
<style>
#contentcolumn {
	min-height:600px;
}
#centercolumn {
	padding: 5px 0;
	width: 94%;
	margin-left:30px;
	float:left;
}
#centercolumn h1, #centercolumn h2 {
	font-family:calibri, Telex, sans-serif;
}
#pageleft {
	margin:0 5px 0 0;
	width:100%;
	float:left;
	position:relative;
}
#pageleft .widgetsection {
	width:100%;
}
.widgetsection {
	margin-bottom:10px;
}
.widgetsection h3 {
	font-size:15px;
}
.contenttable {
	border:solid 1px #b3b3b3;
	border-collapse: separate;
	*border-collapse: collapsed;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.contenttable .control-label {
	width:auto;
	white-space:normal;
	text-align:left;
	display:block;
}
.contenttable h2 {
	margin: 0;
	padding: 8px 0 8px 0;
	line-height:auto;
	text-align: left;
	border-bottom:1px solid #c4c2c2;
	color:#498D0F;
	font-size:18px;
	width:100%;
	font-weight:bold;
	line-height:16px;
}
.contenttable#estimates thead tr td {
	font-weight:bold;
	font-size:12px;
}
#outlength {
	width:72%;
}
.reportcontainer {
	height:auto; 
	min-height:800px; 
	display:block; 
	margin-top:10px;
	position:relative;
}
.reportlabel {
	display:inline-block;
	font-weight:bold;
	font-size:16px;
	padding-right:5px;
}
.reportfilter {
	margin-top:0; 
	float:right;
	margin-right:-10px;
}
.reportactions {
	position:absolute; 
	right:20px; 
	top:8px;
}
#generate {
	margin-top:-10px;
}
.printpage {
	display:none;
}
pdfquicklinks {
	position:absolute; 
	left:10px; 
	top:8px;
}
.widgetsection h3.reportpagetitle {
	color:#282727;
}

<?php if($request->print == 1) { ?> 
#contentwrapper {
	margin: 10px 0 5px;
}
#centercolumn {
	float:left;
	width:90%;
}
#maincontainer.container {
	margin-left:20px;
	margin-top:10px;
}
#printer_page_action_buttons {
	margin:10px;
}
.hideonprint {
	display:none;
}
.printpage {
	margin:10px;
	display:block;
}
<?php } ?>
</style>
<div>
  <div id="centercolumn">
  	<div class="printpage"></div>
    
    <div class="hideonprint" style="width:100%;">
    	<span class="reportlinks">
        	<a id="dash" href="<?php echo $this->baseUrl('report/overview'); ?>" class="btn btn-primary" title="Report Dashboard<"><i class="icon-list-alt icon-white"></i> Report Dashboard</a>&nbsp;
        </span>
        <?php if((isAdmin() || isFarmGroupAdmin())){ ?>
    	<span class="reportfilter">
            <label class="reportlabel cal-font">Farmer: </label>
            <?php
                $farmerarray = getFarmers($farmgroupid);
                $farmerdropdown = new Zend_Form_Element_Select('id',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '<Browse Farmer>'), $farmerarray),								
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array('autofilter', 'width180')
                                    )
                                );
                $farmerdropdown->setValue($request->getParam('id')); 
                echo $farmerdropdown->render(); 
              ?>&nbsp;&nbsp;
             <a id="generate" href="<?php echo $this->baseUrl('report/primarybaseline/id/'.$farmer->getID()); ?>" class="btn btn-primary" title="Genenerate Report"><i class="icon-list-alt icon-white"></i> Generate</a>&nbsp;
        </span>
        <?php } ?>
    </div>
    
    <?php if(isEmptyString($id)){  ?>
    	<div class="widgetsection reportcontainer">
        	<h3 class="reportpagetitle"><?php echo $title; ?></h3>
        
    <?php } ?>
    <div class="pull-left" id="pageleft">
    	<?php if($request->pdf == 1){ ?>
        	<div style="height:auto; position:relative;">
            	<span class="pdfquicklinks">
                	<a href="<?php echo $this->baseUrl('report/primarybaseline/id/'.$farmer->getID().'/print/1'); ?>" target="_blank" class="btn btn-primary btn-mini" title="Print Report"><i class="icon-print icon-white"></i> Print</a>&nbsp
                    <a href="<?php echo $this->baseUrl('report/primarybaseline/id/'.$farmer->getID()); ?>" class="btn btn-primary btn-mini" title="Return to Web Report"><i class="icon-list-alt icon-white"></i> View Web Format</a>&nbsp;
                    <a href="<?php echo $this->baseUrl('report/primarybaseline/id/'.$farmer->getID().'/download/1'); ?>" class="btn btn-primary btn-mini" title="Print Report"><i class="icon-download icon-white"></i> Download</a>
                </span>
            </div>
        <?php } ?>
      <?php 
	  	if(!isEmptyString($id)){
			$html = 
            '<div class="widgetsection reportcontainer">
                <h3 class="reportpagetitle">'.$title.'</h3>';
			?>
            <?php if($request->print != 1){ ?>
                <?php $html .= '<span class="reportactions">
                    <a href="'.$this->baseUrl('report/primarybaseline/id/'.$farmer->getID().'/print/1').'" target="_blank" class="btn btn-primary btn-mini" title="Print Report"><i class="icon-print icon-white"></i> Print</a>&nbsp;
                    <a href="'.$this->baseUrl('report/primarybaseline/id/'.$farmer->getID().'/pdf/1').'" class="btn btn-primary btn-mini" title="View PDF Report"><i class="icon-list-alt icon-white"></i> PDF</a>&nbsp;
                    <a href="'.$this->baseUrl('report/primarybaseline/id/'.$farmer->getID().'/download/1').'" class="btn btn-primary btn-mini" title="Print Report"><i class="icon-download icon-white"></i> Download</a>&nbsp;</span>';
				?>
            <?php } ?>
            <?php 
				$activationdate = isEmptyString($farmer->getUser()->getActivationDate()) ? "--" : changeMySQLDateToPageFormat($farmer->getUser()->getActivationDate());
				$country = isEmptyString($farmer->getUser()->getAddress()->getCountry()) ? '--' : $farmer->getUser()->getAddress()->getCountryName();
				$district = isEmptyString($farmer->getUser()->getLocationID()) ? '--' : $farmer->getUser()->getLocation()->getName();
				$county = isEmptyString($farmer->getUser()->getAddress()->getCountyID()) ? '--' : $farmer->getUser()->getAddress()->getCounty()->getName();
				$subcounty = isEmptyString($farmer->getUser()->getAddress()->getSubCountyID()) ? '--' : $farmer->getUser()->getAddress()->getSubCounty()->getName();
				$parish = isEmptyString($farmer->getUser()->getAddress()->getParishID()) ? '--' : $farmer->getUser()->getAddress()->getParish()->getName();
				$village = isEmptyString($farmer->getUser()->getAddress()->getVillageID()) ? '--' : $farmer->getUser()->getAddress()->getVillage()->getName();
				$address = isEmptyString($farmer->getUser()->getAddress()->getStreetAddress()) ? '--' : nl2br($farmer->getUser()->getAddress()->getStreetAddress());
				$bio = isEmptyString($farmer->getUser()->getBio()) ? '--' : nl2br($farmer->getUser()->getBio());
				$children = isEmptyString($farmer->getNumberOfChildren()) ? '--': $farmer->getNumberOfChildren();
				$dependants = isEmptyString($farmer->getNumberOfDependants()) ? '--': $farmer->getNumberOfDependants();
				$households = isEmptyString($farmer->getTotalHousehold()) ? '--': $farmer->getTotalHousehold();
				
				if($farmer->hasFarmGroup()){
					$grouplabel = "Farm Group";
					$thefarmgroup = isEmptyString($farmer->getFarmGroupID()) ? '--' : $farmer->getFarmGroup()->getName();
				} else {
					$grouplabel = "Support Provider";
					$thefarmgroup = isEmptyString($farmer->getSupportProvider()) ? '--' : $farmer->getSupportProvider();
				}
				
				$maritalstatus = isEmptyString($farmer->getMaritalStatusText()) ? '--': $farmer->getMaritalStatusText();
				$educlevel = isEmptyString($farmer->getEducationLevelText()) ? '--': $farmer->getEducationLevelText();
				$gpslat = $farmer->getLatGPSFormatted();
				$gpslng = $farmer->getLngGPSFormatted();
				
				$phone = isEmptyString($farmer->getUser()->getPhone()) ? '--' : $farmer->getUser()->getPhone();
				$phone2 = isEmptyString($farmer->getUser()->getAltPhone()) ? '--' : $farmer->getUser()->getAltPhone();
				$email = isEmptyString($farmer->getUser()->getEmail()) ? '--' : $farmer->getUser()->getEmail();
				$email2 = -isEmptyString($farmer->getUser()->getEmail2()) ? '--' : $farmer->getUser()->getEmail2();
				$keen_name = isEmptyString($farmer->getNextofkin_name()) ? '--': $farmer->getNextofkin_name();
				$keen_phone = isEmptyString($farmer->getNextofkin_phone()) ? '--': $farmer->getNextofkin_phone();
				$keen_email = isEmptyString($farmer->getNextofkin_email()) ? '--': $farmer->getNextofkin_email();
				
				$farmis_logo = $this->serverUrl($this->baseUrl('images/logo_gray.png'));
				$infotrade_logo = $this->serverUrl($this->baseUrl('images/logo_infotrade.png'));
				$profile_image = $this->serverUrl($farmer->getUser()->getMediumPicturePath());
				
				$thesubgroup = '';
				if(!isEmptyString($farmer->getSubGroupID())){
					$thesubgroup = '<tr><td><label class="control-label">Sub Group:</label>'.$farmer->getSubGroup()->getName().'</td></tr>';
				}
				$supportlist = $farmer->getSupportTypesLabel();
				$activitylist = $farmer->getActivityTypesLabel();
				$farmingtypelist = $farmer->getFarminigTypesLabel();
				$leadership = isEmptyString($farmer->getLeadershipRole()) ? '--' : $farmer->getLeadershipRole();
				
				if($request->download == 1 || $request->pdf == 1){
					$farmis_logo = APPLICATION_PATH.DIRECTORY_SEPARATOR."..".DIRECTORY_SEPARATOR."public".DIRECTORY_SEPARATOR."images".DIRECTORY_SEPARATOR.'logo_gray.png';
					$infotrade_logo = APPLICATION_PATH.DIRECTORY_SEPARATOR."..".DIRECTORY_SEPARATOR."public".DIRECTORY_SEPARATOR."images".DIRECTORY_SEPARATOR.'logo_infotrade.png';
				}
				
				// $infotrade_logo = ''; $farmis_logo ='';
				$html .= '
				<div>
                  	<table style="margin-top:10px; height:auto; width:100%;">
                        <tr>
                            <td  id="outlength" style="width:72%; vertical-align:top;">
								<table style="width:100%; height:190px; border-bottom:1px solid #e9e9e9;">
                                    <tr>
                                        <td style="vertical-align:top; padding-left:10px; padding-top:10px;"><span><img src="'.$farmis_logo.'" /></span></td>
                                        <td style="vertical-align:top; padding-left:10px; padding-top:10px;"><span><img src="'.$infotrade_logo.'" /></span></td>
                                    </tr>
                                </table>
								<table id="summary" class="table xtable-condensed noborder contenttable" style="margin:10px 0 0 0; width:99%;">
                                    <thead>
                                        <tr>
                                            <td colspan="2"><h2>Profile Summary</h2></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width:50%;"><label class="control-label">Name of Farmer:</label>'.$farmer->getName().'<input type="hidden" name="id" id="id" value="'.$farmer->getID().'" /></td>
                                            <td><label class="control-label">'.$this->translate("farmer_gender_label").':</label>'.$farmer->getGenderLabel().'</td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label nowrapping">Farmer Identification (FIN ID#):</label>'.$farmer->getRegNo().'</td>
                                            <td><label class="control-label">'.$this->translate("farmer_dateofbirth_label").':</label>'.$farmer->getUser()->getBirthDateFormatted().'</td> 
                                        </tr>
                                        <tr>
                                            <td></td> <td></td>
                                        </tr>
										<tr>
											<td><label class="control-label">'.$this->translate("farmer_farminigtypes_label").':</label>'.$farmer->getFarminigTypesLabel().'</td>  
                                            <td><label class="control-label">'.$this->translate("farmer_activities_label").':</label>'.$farmer->getActivityTypesLabel().'</td>
										</tr>
										
                                    </tbody>
                                </table>
								<table id="addresss" class="table table-condensed noborder contenttable" style="margin:10px 0 0 0; width:99%;">
                                    <thead>
                                        <tr>
                                            <td colspan="4"><h2>Address</h2></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width:35%;"><label class="control-label">Country:</label> '.$country.'
                                            <td style="width:35%;"><label class="control-label">District:</label>'.$district.'</td>
                                            <td><label class="control-label">County:</label>'.$county.'</td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label">Sub-county:</label>'.$subcounty.'</td>
                                            <td><label class="control-label">Parish:</label>'.$parish.'</td>
                                            <td><label class="control-label">Village:</label>'.$village.'</td>
                                        </tr>
										 <tr>
                                            <td><label class="control-label">GPS (Latitude):</label>'.$gpslat.'</td>
                                            <td colspan="2"><label class="control-label">GPS (Longitude):</label>'.$gpslng.'</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><label class="control-label">Postal/Street Address</label>'.$address.'</td>
                                        </tr>
                                    </tbody>
                                </table>
								<table id="Biography" class="table table-condensed noborder contenttable" style="margin:10px 0 0 0; width:99%;">
                                    <thead>
                                        <tr>
                                            <td colspan="4"><h2>Biography</h2></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="4"><label class="control-label">About:</label>
                                                <span style="min-height:40px; display:block; width:100%;">'.$bio.'</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><label class="control-label">Education Level:</label>'.$educlevel.'</td>
                                        </tr>
                                        <tr>
                                            <td style="width:25%"><label class="control-label">'.$this->translate("farmer_maritalstatus_label").':</label>'.$maritalstatus.'</td>  
                                            <td style="width:25%"><label class="control-label">'.$this->translate("farmer_nochildren_label").':</label>'.$children.'</td>
                                            <td style="width:25%"><label class="control-label">'.$this->translate("farmer_nodependants_label").':</label>'.$dependants.'</td>
											<td><label class="control-label">'.$this->translate("farmer_totalhousehold_label").':</label>'.$households.'</td>
                                        </tr>
										<tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
							</td>
							<td style="vertical-align:top; border-left:1px solid #e1e1e1;">
                                <table style="width:100%;">
                                    <tr>
                                        <td style="height:180px;">
                                            <div id="profileinfo" style="padding:4px;"> 
                                                <img id="profileimage" src="'.$farmer->getUser()->getMediumPicturePath().'" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="paddding0" style="padding-top:20px; padding-left:5px;">
											<table id="other" class="table table-condensed noborder contenttable">
                                                <thead>
                                                    <tr>
                                                        <td colspan="4"><h2>'.$grouplabel.'</h2></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label class="control-label">Name:</label>'.$thefarmgroup.'</td>
                                                    </tr>
													'.$thesubgroup.'
													<tr>
                                                        <td><label class="control-label">Support Received:</label>'.$supportlist.'</td>
                                                    </tr>
													<tr>
                                                        <td><label class="control-label">Leadership Role:</label>'.$leadership.'</td>
                                                    </tr>
                                                </tbody>
                                            </table>
											<table id="contacts" class="table table-condensed noborder contenttable" style="margin-top:10px;">
                                                <thead>
                                                    <tr>
                                                        <td colspan="4"><h2>Contacts</h2></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:45%;"><label class="control-label">Phone:</label>'.$phone.'</td>
                                                        <td><label class="control-label">Alt Phone:</label>'.$phone2.'</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><label class="control-label">Email:</label>'.$email.'</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><label class="control-label">Alt Email:</label>'.$email2.'</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table id="keen" class="table table-condensed noborder contenttable" style="margin-top:10px;">
                                                <thead>
                                                    <tr>
                                                        <td colspan="4"><h2>Next of Keen</h2></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label class="control-label">Name:</label>'.$keen_name.'</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label class="control-label">Phone:</label>'.$keen_phone.'</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><label class="control-label">Email:</label>'.$keen_email.'</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table id="other" class="table table-condensed noborder contenttable" style="margin-top:10px;">
                                                <thead>
                                                    <tr>
                                                        <td colspan="4"><h2>Signature</h2></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="height:100px;">
                                                            '; ?>
															 <?php if($farmer->hasSignature()){ ?>
                                                             <?php $html .= '
                                                                <div class="profileinfo pull-left" id="signinfo"><img id="profileimage" src="'.$farmer->getSignaturePath().'" width="180" height="90" /></div>'; ?>
															 <?php } else { ?>
                                                             	<?php $html .= '--'; ?>
                                                             <?php } ?>
                                                           <?php $html .= '
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
										</td>
									</tr>
								</table>
							</td>
                  		</tr>
					</table>
                </div>
            </div>';
			
			// echo page html
			if($request->pdf != 1){
				echo $html;
			}
			
			$pdf_html = '
				<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
				<html lang="en">
				<head>
					<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
					
				</head>
				<style>
					body {
						color: #555555;
						font-family: calibri, Telex, sans-serif;
						font-size: 13px;
						line-height: 18px;
					}
					.table-bordered {
					  border: 1px solid #dddddd;
					  border-left: 0;
					  border-collapse: separate;
					  *border-collapse: collapsed;
					   background-color: transparent;
						border-spacing: 0;
						max-width: 100%;
					}
					.table-bordered th,
					.table-bordered td {
					  border-left: 1px solid #dddddd;
					  border-top: 1px solid #dddddd;
					  padding: 2px 3px;
					  vertical-align: top;
					}
					.widgetsection {
						-moz-border-radius: 4px;	
						-webkit-border-radius:4px;
						-khtml-border-radius:4px;	
						border-radius:4px;	
						border-left: 4px solid #DDDDDD;
						border-right: 4px solid #DDDDDD;
						border-top: 2px solid #DDDDDD;
						border-bottom: 2px solid #DDDDDD;
						margin: 0 0 15px;
						padding: 0 5px 10px 5px;
						min-height:50px;
						height:auto;
						/*width:100%;*/
					}
					.widgetsection h3 {
						margin: 0;
						padding: 5px 5px 5px 5px;
						text-align: left;
						border-bottom:2px solid #E0E0E0;
						color:#498D0F;
						font-size:16px;
					}
					.widgetsection.height100 {
						min-height:100px;
					}
					.widgetsection.height150 {
						min-height:150px;
					}
					.widgetsection.height200 {
						min-height:200px;
					}
					.widgetsection.height300 {
						min-height:300px;
					}
					.widgetsection.height400 {
						min-height:400px;
					}
					.widgetsection.height500 {
						min-height:500px;
					}
					.widgetsection.height600 {
						min-height:600px;
					}
					
					#profileinfo, .profileinfo, #thumbinfo, .thumbinfo {
						position:relative;
						max-height: 195px;
						height:auto;
						width:165px;
						padding: 0;
						margin: 0 auto;
						border: 1px solid #C2C2C2;
						border: 1px solid rgba(0, 0, 0, 0.05);
						border-style: ridge;
						background-color:#f1f1f1;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
					}
					#profileinfo.new_pic, .profileinfo.new_pic {
						box-shadow: 0 0 0 1px #F5F5F5, 0 0 0 2px #EBEBEB, 0 0 0 3px #E0E0E0, 0 0 0 4px #D6D6D6;
						-moz-box-shadow: 0 0 0 1px #F5F5F5, 0 0 0 2px #EBEBEB, 0 0 0 3px #E0E0E0, 0 0 0 4px #D6D6D6;
						-webkit-shadow: 0 0 0 1px #F5F5F5, 0 0 0 2px #EBEBEB, 0 0 0 3px #E0E0E0, 0 0 0 4px #D6D6D6;
					}
					#profileinfo #profileimage, .profileinfo .profileimage {
						margin-top:2px;
					}

					#centercolumn {
						padding: 5px 0;
						width: 78%;
					}
					#centercolumn h1, #centercolumn h2 {
						font-family: calibri, Telex, sans-serif;
					}
					#pageleft {
						margin:0 5px 0 0;
						width:98%;
						float:left;
					}
					#pageleft .widgetsection {
						width:100%;
					}
					.widgetsection {
						margin-bottom:10px;
					}
					.widgetsection h3 {
						font-size:15px;
					}
					.contenttable {
						border:solid 1px #b3b3b3;
						border-collapse: separate;
						*border-collapse: collapsed;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
						width:100%;
					}
					.contenttable .control-label {
						width:auto;
						white-space:normal;
						text-align:left;
						display:block;
						color: #333333;
						margin-bottom: 5px;
						font-size: 13px;
						line-height: 18px;
						font-weight: bold;
					}
					.contenttable h2 {
						margin: 0;
						padding: 8px 0 8px 0;
						line-height:auto;
						text-align: left;
						border-bottom:1px solid #c4c2c2;
						color:#498D0F;
						font-size:18px;
						width:100%;
						font-weight:bold;
						line-height:16px;
						calibri,Telex,sans-serif;
					}
					.contenttable#estimates thead tr td {
						font-weight:bold;
						font-size:12px;
					}
					#contentwrapper {
						margin: 10px 0 5px;
					}
					#centercolumn {
						float:left;
						width:90%;
					}
					#maincontainer.container {
						 margin-left:20px;
						 margin-top:10px;
					}
					#printer_page_action_buttons {
						display:block;
						margin:10px;
					}
					table#crops {
						height:180px;
					}
					table#crops ul#croplist {
						margin:0;
						margin-left: -15px;
						height:130px;
					}
					.reportcontainer {
						height:auto; 
						min-height:800px; 
						display:block; 
						margin-top:10px;
						position:relative;
					}
					.reportlabel {
						display:inline-block;
						font-weight:bold;
						font-size:16px;
						padding-right:5px;
					}
					.reportfilter {
						margin-top:0; 
						float:right;
						margin-right:-10px;
					}
					#generate, .printpage, .pdfquicklinks, .reportactions{
						display:none;
					}
					.widgetsection h3.reportpagetitle {
						color:#282727;
					}
				</style>
				<body>
					<div style="width:100%;">
						'.$html.'
					</div>
				</body>
				</html>
			';
			
			$temp_file_name = '';
			if($request->download == 1 || $request->pdf == 1){
				$timestamp = time().rand(100, 5000);
				$temp_file_name = ($timestamp).".pdf";
	
				$dompdf = new DOMPDF();
				$dompdf->load_html($pdf_html);
				
				$dompdf->render();
				$output = $dompdf->output();
				// debugMessage($output);
				$path = APPLICATION_PATH.DIRECTORY_SEPARATOR."..".DIRECTORY_SEPARATOR."public".DIRECTORY_SEPARATOR."dompdf".DIRECTORY_SEPARATOR."temp".DIRECTORY_SEPARATOR.$temp_file_name;
				$relativepathtodocument = $this->serverUrl($this->baseUrl('dompdf/temp/'.$temp_file_name));
				
				file_put_contents($path, $output);
			} 
		
	  ?>
      <?php if($request->pdf == 1){ ?>
      	<iframe style ="margin: 0; width: 100%; height: 840px;" src="http://docs.google.com/gview?url=<?php echo $relativepathtodocument; ?>&embedded=true" frameborder="0"></iframe>
      <?php } } ?>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
<?php if($request->download == 1){ ?>
	var url = '<?php echo $this->baseUrl('download/index/type/primarybaseline/filename/'.encode($temp_file_name)); ?>';
	window.location.href = url;
<?php } ?>
});
</script>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>