<?php 
	require_once APPLICATION_PATH.'/includes/header.php';

	$title = 'Welcome to '.$this->translate("companyname");
	
	$this->headMeta()->appendName('keywords', '');
	$this->headMeta()->appendName('description', $title);
	
	$this->headTitle($title);  
	
?>
<script>
$(document).ready(function(){
	
});
</script>
<style>
body.publicbody {
	background-color: #fcfcfc;
	background-image: url("<?php echo $this->baseUrl('images/homefeature.png'); ?>");
	background-repeat:repeat-x;
	background-position:0 45px;
}
body.publicbody #contentwrapper {
	background:none;
}
body.publicbody #contentcolumn {
	min-height:1250px;
	clear:both;
	height:auto;
}
.table tbody tr td:hover, .table tr td:hover, table tr td:hover {
	background:none;
}
#intro {
	/*font-family:'calibri','Telex',sans-serif; */
	line-height:28px; font-size:18px;
	text-shadow: 0 1px 0 #e9e9e9;
}
.btn.shadowed, .shadowed {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
 	-moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
 	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.subheading {
	display:block; 
	color:#498d0f; 
	padding-left:15px;
}
.benefit_td {
	width:25%; height:250px; padding-left:8px; vertical-align:top;
}
.benefitimage, .benefitimage_1, .benefitimage_2, .benefitimage_3, .benefitimage_4 {
	width:100%; height:150px; background-image: url('<?php echo $this->baseUrl('images/featurebg.png'); ?>'); background-repeat:no-repeat; background-position:left top; display:block;
}
.benefitimage_1 {
	background-image: url('<?php echo $this->baseUrl('images/featurebg_1.png'); ?>');
}
.benefitimage_2 {
	background-image: url('<?php echo $this->baseUrl('images/featurebg_2.png'); ?>');
}
.benefitimage_3 {
	background-image: url('<?php echo $this->baseUrl('images/featurebg_3.png'); ?>');
}
.benefitimage_4 {
	background-image: url('<?php echo $this->baseUrl('images/featurebg_4.png'); ?>');
}
.benefitimage label {
	display:block; color:#4e4e4e; font-size:14px; padding-left:20px; padding-top:10px; font-weight:bold;
}
.benefitlabel {
	font-weight:bold; font-family:'calibri','Telex',sans-serif; font-size:16px; padding-left:5px; color:#636161;
}
.benefitdetails {
	display:block; font-family:'calibri','Telex',sans-serif; font-size:16px; color:#848282; padding-left:5px;
}
#benefitlist {
	list-style:none;
	float:left;
	margin:0 0 0 0;
	width:100%;
	padding: 0;
}
#benefitlist li {
	text-decoration:none;
	float:left;
	display:inline;
	width:210px;
	padding:0;
	padding-left:40px;
	position:relative;
	margin-bottom:5px;
	margin-right:0;
	height:150px;
}

#benefitlist li img {
	position:absolute;
	top:12px;
	left:0;
}
#benefitlist li h2 {
	color: #498d0f;
	font-size:15px;
	font-weight:bold;
	margin-top: 6px;
}
#benefitlist li p {
	color: #848282;
	/*font-family:'calibri','Telex',sans-serif; */
	font-family:calibri, Telex, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	margin-left:2px;
}
<?php if($islinux){ ?>
#benefitlist li {
	height:160px;
}
#benefitlist li h2 {
	font-size:14px;
	line-height:20px;
}
#benefitlist li p {
	font-size:14px;
}
<?php } ?>
ul.listitems {
	list-style:none;
	padding:0;
	margin:0;
}
ul.listitems li {
	padding:5px 0 0 10px;
}
ul.listitems#testimonial li {
	padding:5px 0 10px 80px;
	position:relative;
}
ul.listitems#testimonial li img {
	width:60px; 
	position:absolute; 
	top:12px; 
	left:10px;
}
ul.listitems#testimonial li span {
	display:block; 
	font-size:14px; 
	padding:0 0 0 0;
}
label#bestfarmis {
	margin:5px; 
	display:block; 
	font-weight:bold; 
	font-size:14px;
}
.username {
	display:inline-block; 
	font-size:11px; 
	color:#848282; 
	font-style:italic;
}

</style>
<div class="row margin0" style="height:360px;">
	<div id="homeleft" style="height:100%; margin-right:2px; float:left; width:62%;">
    	<table class="table margin0 border0" style="margin-top:30px; margin-left:-5px;">
        	<tr>
            	<td class="padding0"><img style="width:625px;" src="<?php echo $this->baseUrl('images/tour1.png'); ?>" /></td>
            </tr>
        </table>
    </div>
    <div id="homeright" style="height:100%; float:right; width:37%;">
    	<table class="table margin0 border0" style="margin-top:20px;">
        	<style>
            	#systemname {
					color:#252e28; 
					padding:0; 
					padding-bottom:20px; 
					font-size:18px; 
					font-weight:bold; 
					font-weight:bold; 
					text-align:center; 
					text-shadow: 0 1px 0 #e4e4e4;
				}
				<?php if($islinux){ ?>
				#systemname {
					font-size:15px; 
				}
				<?php } ?>
            </style>
        	<tr>
            	<td id="systemname" class="calfont">FARMER RECORD MANAGEMENT INFORMATION SYSTEM</td>
            </tr>
            <tr>
            	<td style="padding:0; padding-top:15px; border-top:2px solid #83b758;" class="centeralign"><label id="intro">FARMIS is the easy way to manage your <br /> agricultural business online allowing you to <br />quickly manage and evaluate your <br /> income and expenses.</label></td>
            </tr>
             <tr>
            	<td style="padding:0; padding-top:10px;" class="centeralign">
                	<a href="<?php echo $this->baseUrl("tour"); ?>" class="btn btn-large shadowed" style="padding:10px; margin-right:10px;">Take a Tour</a>
                    <a href="<?php echo $this->baseUrl("signup"); ?>" class="btn btn-large shadowed" style="padding:10px;">Start your 30day Free Trial</a>&nbsp;&nbsp;
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row clear lineblocked" style="min-height:400px;">
	<div class="blocked clear">
    <div id="columnleft" style="height:100%; margin-right:2px; float:left; width:75%;">
		<?php if(!isEmptyString($session->getVar('newsletter_success'))){ ?>
           <div class="alert alert-success clear"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar('newsletter_success'); ?></div>
        <?php } ?>
        <?php if(!isEmptyString($session->getVar('newsletter_error'))){ ?>
           <div class="alert alert-error clear"><?php echo $session->getVar('newsletter_error'); ?></div>
        <?php } ?>
    	<table class="border0" style="margin:0 0 15px 10px; width:98%;">
        	<tr>
            	<td style="height:225px; width:44%; padding:0; background-image: url('<?php echo $this->baseUrl('images/trial.png'); ?>'); background-repeat:no-repeat; background-position:left top;">
                	<table style="width:100%; margin:0;">
                    	<tr>
                        	<td style="height:60px; width:63%; padding-left:15px;"><label class="calfont" style="font-weight:bold; font-size:24px; color:#4c4b4b; margin-top:-10px;">Basic FARMIS</label></td>
                            <td class="calfont"><label style="font-weight:bold; font-size:22px; color:#fff; margin-top:20px; margin-left:40px;">B</label></td>
                        </tr>
                        <tr>
                        	<td class="calfont" colspan="2" style="padding:5px 20px 0 15px; height:70px; vertical-align:top; font-size:16px; color:#111111;">The Basic Plan gets you a feel of <a href="<?php echo $this->baseUrl('howitworks'); ?>" title="How FARMIS Works">How it works</a>. For a grace period of 30days, create your farm profile and test out the different features... <a href="<?php echo $this->baseUrl('billing'); ?>">read more</a></td>
                        </tr>
                        <tr>
                        	<td colspan="2" style="height:40px; padding:0;">
                            	<table style="width:100%; margin:0;">
                                	<tr>
                                    	<td style="width:50%; height:40px;">
                                        	<table style="width:100%; margin:0;">
                                				<tr>
                                                	<td style="width: 24%; color: rgb(255, 255, 255); padding-left: 20px; font-weight: bold; font-size: 12px;">30 Day Risk Free Trial.</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="height:40px;">
                                        	<a href="<?php echo $this->baseUrl('billing'); ?>" style="display:block; width:95%; height:100%; text-decoration:none;"></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width:10px; padding:0;"></td>
                <td style="padding:0; background-image: url('<?php echo $this->baseUrl('images/premium.png'); ?>'); background-repeat:no-repeat; background-position:left top; display:block;">
                	<table style="width:100%; margin:0;">
                    	<tr>
                        	<td style="height:85px; width:70%; padding-left:15px;"><label class="calfont" style="font-weight:bold; font-size:24px; color:#4c4b4b; margin-top:10px;">Premium FARMIS</label></td>
                            <td class="calfont"><label style="font-weight:bold; font-size:22px; color:#fff; margin-top:40px; margin-left:40px;">P</label></td>
                        </tr>
                        <tr>
                        	<td class="calfont" colspan="2" style="padding:5px 20px 0 15px; height:70px; vertical-align:top; font-size:16px; color:#111111;">The Premium Plan allows you full time access to all Farmis features at a non refundable fee payable 6 months in advance... <a href="<?php echo $this->baseUrl('billing'); ?>">read more</a></td>
                        </tr>
                        <tr>
                        	<td colspan="2" style="padding:0; height:60px;">
                            	<table style="width:100%; margin:0;">
                                	<tr>
                                    	<td style="width:10px;"></td>
                                        <td style="width:58%; height:60px; padding-left:5px;">
                                        	<table style="width:100%; margin:0;">
                                				<tr>
                                                    <td style="color:#fff; font-size:13px; font-weight:bold;">For only Ugx 9,200 / Per Farmer</td>
                                                </tr>
                                                <tr>
                                                	<td style="color:#fff; font-weight:bold; font-size:10px;">Valid and Renewable Every 6 months</td>
                                                </tr>
                                                
                                            </table>
                                        </td>
                                        <td style="height:25px; color:#fff;">
                                        	<a href="<?php echo $this->baseUrl('billing'); ?>" style="display:block; width:95%; height:100%; text-decoration:none;"></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <h2 class="subheading">Benefits</h2>
        <label style="display:block; width:100%; border:1px solid #d0d0d0;"></label>
        <ul id="benefitlist">
            <li>
            	<img src="<?php echo $this->baseUrl("images/benefit_tracking.png"); ?>" />
            	<h2>Automated record keeping</h2>
            	<p>This platform allows you to track all your farm businesss activities in one place. Schedule different farm events and track all the expenses incured for future reporting <a href="<?php echo $this->baseUrl('benefits'); ?>">...more</a></p>
            </li>
            <li>
            	<img src="<?php echo $this->baseUrl("images/benefit_time.png"); ?>" />
            	<h2>Market Information</h2>
            	<p>FARMIS provides current market information throughout major markets in Uganda. FARMIS gives you access to current food prices, <a href="<?php echo $this->baseUrl('benefits'); ?>">...more</a></p>
            </li>
            <li>
            	<img src="<?php echo $this->baseUrl("images/benefit_calendar.png"); ?>" />
            	<h2>Access to credit services</h2>
            	<p>Farmers cite unavailability of credit and capital as one of the major constraints in their business. Financial institutions on the other hand <a href="<?php echo $this->baseUrl('benefits'); ?>">...more</a></p>
            </li>
            <li>
            	<img src="<?php echo $this->baseUrl("images/benefit_map.png"); ?>" />
            	<h2>Market Linkages for produce</h2>
            	<p>Make use of the FARMIS platform to find out who is selling and buying. Using FARMIS you can now post offers for your produce before <a href="<?php echo $this->baseUrl('benefits'); ?>">...more</a></p>
            </li>
            <li>
            	<img src="<?php echo $this->baseUrl("images/benefit_report.png"); ?>" />
            	<h2>Promotional services</h2>
            	<p>Join FARMIS and market your produce through partnering local radio stations at no extra cost. Access other information like <a href="<?php echo $this->baseUrl('benefits'); ?>">...more</a></p>
            </li>
            <li>
            	<img src="<?php echo $this->baseUrl("images/security.png"); ?>" />
            	<h2>Access to farming tips</h2>
            	<p>Farming tips, agribusiness news, farmer success stories, etc. You can get all this by subscribing to FARMIS. You can also register to receive this <a href="<?php echo $this->baseUrl('benefits'); ?>">...more</a></p>
            </li>
        </ul>
        <h2 class="subheading">Features</h2>
        <table style="width:100%;">
        	<tr>
            	<td class="benefit_td">
                	<div class="benefitimage_1">
                    	<label><!--Profiling--></label>
                    </div>
                    <label class="benefitlabel">Farmer Profiling</label>
                    <span class="benefitdetails">
                    	Use farmis to profile your business records in one place so as to access it easily in future...
                    </span>
                </td>
                <td class="benefit_td">
                	<div class="benefitimage_2">
                    	<label><!--tbd texts--></label>
                    </div>
                    <label class="benefitlabel">Farm Groups</label>
                    <span class="benefitdetails">
                    	Join farmis as a Group and work collectively to help your farmers get access to credit while leveraging...
                    </span>
                </td>
                <td class="benefit_td">
                	<div class="benefitimage_3">
                    	<label><!--tbd text--></label>
                    </div>
                    <label class="benefitlabel">Activity Tracking</label>
                    <span class="benefitdetails">
                    	Manage your events and activities using an easy to use calendar. Schedule future activities and track them...
                    </span>
                </td>
                <td class="benefit_td">
                	<div class="benefitimage_4">
                    	<label><!--tbd text--></label>
                    </div>
                    <label class="benefitlabel">Customised Reports</label>
                    <span class="benefitdetails">
                    	Generate customised reports that come in handy in making timed decisions... 
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div style="height:100%; float:right; width:23%; margin-top:-65px;">
    	<div class="widgetsection" style="min-height:325px;">
            <h3>Latest News</h3>
            <div>
                <ul class="listitems">
                	<li>
                    	<h2 style="font-size:12px;"><a href="<?php echo $this->baseUrl('news'); ?>">FARMIS Gulu Tour</a></h2>
                        <label style="display:inline-block; font-size:12px; color:#848282;">02/25/2013</label>
                        <div>
                        	<img src="<?php echo $this->baseUrl('uploads/news/01003012_1.jpg'); ?>" style="width:175px;" />
                            <span class="calfont" style="font-size:16px; display:block; padding:16px 0 0 0;">Recently, the Farmis Team took a tour of subscribing farmers in northern uganda in a bid to provide essential training to targeted Farm Groups on how to use Farmis. A total of tbd Groups were trained on the benefits. <a href="<?php echo $this->baseUrl('news'); ?>">...more</a></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widgetsection height300" style="min-height:275px;">
            <h3>Testimonials</h3>
            <div>
       	    	<label class="calfont" id="bestfarmis">FARMIS is the best. But you don't have to take our word for it:</label>
                <ul class="listitems" id="testimonial">
                	<li>
                    	<img src="<?php echo $this->baseUrl('uploads/user_0/avatar/testuser1.jpg'); ?>" />
                        <label class="username">James Sulaiman</label>
                        <span class="calfont">I have just created my FARMIS account to help me track the different activities on my farm.<a href="<?php echo $this->baseUrl('testimonials'); ?>">...more</a></span>
                    </li>
                    <li>
                    	<img src="<?php echo $this->baseUrl('uploads/user_0/avatar/testuser6.jpg'); ?>" />
                        <label class="username">Rose Mary Kateraine</label>
                        <span class="calfont">With the new FARMIS i appreciate the ease with which i could track all expenditures i make <a href="<?php echo $this->baseUrl('testimonials'); ?>">...more</a></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widgetsection height200" style="min-height:0; height:135px;">
            <h3>Feedback</h3>
            <div>
            	<table style="margin:0; padding:0; width:100%;">
                	<tr>
                    	<td>
                        	<span class="calfont" style="padding:10px; padding-bottom:0; font-size:14px; display:block; line-height:20px;">
                                If You have any queries, questions or feedback please contact us.
                            </span>
                        </td>
                    </tr>
                    <tr>
                    	<td style="text-align:center; padding-bottom:5px;"><a href="<?php echo $this->baseUrl('contactus'); ?>" class="btn btn-primary">Contact Us Today</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>