<?php 
	$farmer = new Farmer();
	$farmer->populate($farmerid);
	
	$controllername = $request->getControllerName();
	$controlleraction = $request->getActionName();
	
	$hasfarm = false;
	$hasmultiplefarms = false;
	$countfarms = $farmer->getFarms()->count();
	if($countfarms == 1){
		$hasfarm = true;
		$farmid = $farmer->getFarms()->get(0)->getID();
	}
	if(!isEmptyString($farmer->getFarm()->getID())){
		$hasfarm = true;
		$farmid = $farmer->getFarm()->getID();
	}
	if($countfarms > 1){
		$hasmultiplefarms = true;
	}
	
	$latest_discussions = getLatestForumDiscussions(3);

?>
<div class="well" id="leftcolumn">
	<div id="button">
    	<h2 class="" style="border:solid 1px #666666; margin-left:0; background-color:#686968; color:#fff; padding-left:16px; width:90%; font-family:'calibri','Telex',sans-serif; font-size:18px; border-right:10px solid #A6A7A6;">Quick Links</h2>
        <ul class="nav nav-tabs nav-stacked" style="width:205px; margin-top:-1px;">
            <li><a href="<?php echo $this->baseUrl('dashboard'); ?>" class="" id=""><i class="icon-list icon-white"></i> Dashboard</a></li>
            <li><a href="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID())); ?>" class="" id=""><i class="icon-list icon-white"></i> My Profile</a></li>
            <?php if(isAdmin()){ ?>
                <li><a href="<?php echo $this->baseUrl('farmer/list'); ?>" class="" id=""><i class="icon-list icon-white"></i> Manage Farmers</a></li>
                <li><a href="<?php echo $this->baseUrl('farmgroup/list'); ?>" class="" id=""><i class="icon-list icon-white"></i> Manage Farm Groups</a></li>
            <?php } ?>  
            <?php if(isFarmGroupAdmin()){ 
				$farmgroup = new FarmGroup();
				$farmgroup->populate($farmer->getFarmGroupID());
			?>
                <li><a href="<?php echo $this->baseUrl('farmgroup/view/id/'.encode($farmer->getFarmGroupID())); ?>" class="" id=""><i class="icon-list icon-white"></i> Group Profile</a></li>
                <li><a href="<?php echo $this->baseUrl('farmer/list/farmgroupid/'.$farmer->getFarmGroupID()); ?>" class="" id=""><i class="icon-list icon-white"></i> Farmers</a></li>
            <?php } ?>  
            <?php if(isFarmer()){ ?>
                <?php if($hasfarm){ ?>
                    <?php if($hasmultiplefarms){ ?>
                        <li><a href="<?php echo $this->baseUrl('farm/list'); ?>" class="" id=""><i class="icon-list icon-white"></i> Manage Farms</a></li>
                    <?php } else { ?>
                        <li><a href="<?php echo $this->baseUrl('farm/view/id/'.encode($farmid)); ?>" class="" id=""><i class="icon-list icon-white"></i> Manage Farm</a></li>
                    <?php } ?>
                    <li><a href="<?php echo $this->baseUrl('farm/view/id/'.encode($farmid).'/tab/seasons'); ?>" title="Manage Seasons"><i class="icon-list icon-white"></i> Manage Seasons</a></li>
                <?php } ?>
                <?php if(!$hasfarm){ ?>
                	<li><a href="<?php echo $this->baseUrl('farm/index/farmerid/'.encode($session->getVar('farmerid'))); ?>" title="Setup Farm" id="newfarm"><i class="icon-plus icon-white"></i> Setup Farm</a></li>
                <?php } ?>
            <?php } ?>
            <li><a href="<?php echo $this->baseUrl('contact/list'); ?>" class="" id=""><i class="icon-list icon-white"></i> Business Directory</a></li>
            <?php if(isAdmin()){ ?>
                <li><a href="<?php echo $this->baseUrl('commodity/list'); ?>" class="" id=""><i class="icon-list icon-white"></i> Commodities</a></li>
            <?php } ?>
            <li><a href="<?php echo $this->baseUrl('message/list'); ?>"><i class="icon-list icon-white"></i> Inbox <span class="pagedescription" style="color:#fff; font-size:14px;">(<?php echo $unread_messages; ?> Unread)</span></a></li>
        </ul>
    </div>
    <div id="leftquick" class="widget" style="margin:8px 0 0 0; width:104%; padding-left:0;">
    	<div class="widgetsection" style="min-height:100px; max-height:200px; padding-bottom:20px; height:auto;">
            <h3>Quick Add</h3>
            <div style="margin-left:-8px; margin-top:2px; width:108%;">
                
                <ul class="nav nav-tabs nav-stacked" style="width:205px; margin-top:-1px;">
                    <?php if(isAdmin()){ ?>
                        <li><a href="<?php echo $this->baseUrl('farmgroup/add/pgc/true'); ?>" class="addpopup addgroup" title="New Farm Group" rel="New Farm Group" id="newfarmgroup" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmgroup/list'); ?>" action="<?php echo $this->baseUrl("farmgroup/create"); ?>"><i class="icon-plus "></i> <span>New Farm Group</span></a></li>
                        <li><a href="<?php echo $this->baseUrl('farmer/add/pgc/true'); ?>" class="addpopup addfarmer" title="New Farmer" rel="New Farmer" id="newfarmer" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/list'); ?>" action="<?php echo $this->baseUrl("farmer/create"); ?>"><i class="icon-plus"></i> <span>New Farmer</span></a></li>
                    <?php } ?>  
                    <?php if(isFarmer()){ 
						$newseason = $this->baseUrl('season/index/farmid/'.encode($farmer->getFarmID()));
						$logactivity = $this->baseUrl('farm/view/id/'.encode($farmer->getFarmID()).'/tab/seasons');
						$newxpense = $this->baseUrl('farm/view/id/'.encode($farmer->getFarmID()).'/tab/seasons');
						$inventory = $this->baseUrl('inventory/index/farmid/'.encode($farmer->getFarmID()).'/tab/inventory');
						if(isEmptyString($farmer->getFarmID())){
							$newseason = $logactivity = $newxpense = $inventory = $this->baseUrl('farm/index/farmerid/'.encode($farmer->getID()).'/restart/1');
						}
						
						if(isEmptyString($farmer->getFarmID())){
							
						}
					?>
                    	<li><a href="<?php echo $newseason; ?>"><i class="icon-plus"></i> <span>New Season</span></a></li>
                        <li><a href="<?php echo $logactivity; ?>"><i class="icon-plus"></i> <span>Log Activity</span></a></li>
                        <li><a href="<?php echo $newxpense; ?>"><i class="icon-plus"></i> <span>Record New Expense</span></a></li>
                        <li><a href="<?php echo $inventory; ?>"><i class="icon-plus"></i> <span>Add Inventory Item</span></a></li>   
                        <li><a href="<?php echo $this->baseUrl('contact/index'); ?>"><i class="icon-plus"></i> <span>New Contact</span></a></li>
                    <?php } ?>
                    <?php if(isFarmGroupAdmin()){ ?>
                    	<li><a href="<?php echo $this->baseUrl('farmer/add/pgc/true/farmgroupid/'.$farmgroup->getID()); ?>" class="addfarmer addpopup"  rel="Add Farmer | <?php echo $farmgroup->getName(); ?>" title="Add Farmer" id="addfarmer" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/list/farmgroupid/'.$farmgroup->getID()); ?>" action="<?php echo $this->baseUrl("farmer/create"); ?>"><i class="icon-plus"></i> <span>New Farmer</span></a></li>
                        <li><a href="<?php echo $this->baseUrl('contact/index'); ?>"><i class="icon-plus"></i> <span>New Contact</span></a></li>	
                    <?php } ?>
                </ul> 
            </div>
        </div>
        <?php if(isFarmGroupAdmin()){ ?>
        <div class="widgetsection height200" style="height:175px; min-height:0;">
            <h3>At a Glance</h3>
            <div>
                <table class="table table-striped table-bordered table-condensed" id="stats">
                    
                    <tr>		                    
                        <td class="profilerightlabel">Total Farmers:</td>
                        <td class="profilerightvalue leftalign"><?php echo $farmer->getFarmGroup()->getCountFarmers(); ?></td>
                    </tr>
                    <tr>		                    
                        <td class="profilerightlabel">No of Male:</td>
                        <td class="profilerightvalue leftalign"><?php echo $farmer->getFarmGroup()->getMaleFarmers(); ?></td>
                    </tr>
                    <tr>		                    
                        <td class="profilerightlabel">No of Female:</td>
                        <td class="profilerightvalue leftalign"><?php echo $farmer->getFarmGroup()->getFeMaleFarmers(); ?></td>
                    </tr>
                    <tr>		                    
                        <td class="profilerightlabel">Active Farmers:</td>
                        <td class="profilerightvalue leftalign"><?php echo $farmer->getFarmGroup()->getCountRegisteredFarmers(); ?></td>
                    </tr>
                </table>
            </div>
        </div>
        <?php } ?>
        <?php if(isFarmer()){ ?>
                 <div class="widgetsection height200" style="height:175px; min-height:0;">
                    <h3>At a Glance</h3>
                    <div>
                        <table class="table table-striped table-bordered table-condensed" id="stats">
                            <tr>		                    
                                <td class="profilerightlabel">No of Crops:</td>
                                <td class="profilerightvalue leftalign"><?php echo $farmer->getFarm()->getCrops()->count(); ?></td>
                            </tr>
                            <tr>		                    
                                <td class="profilerightlabel">No of Farms:</td>
                                <td class="profilerightvalue leftalign"><?php echo $farmer->getFarms()->count(); ?></td>
                            </tr>
                            <tr>		                    
                                <td class="profilerightlabel">No of Seasons:</td>
                                <td class="profilerightvalue leftalign"><?php echo $farmer->getFarm()->getSeasons()->count(); ?></td>
                            </tr>
                        </table>
                     </div>
                 </div>
				<?php } ?>
        <?php if(!isAdmin()){ ?>
        <style>
        	ul.nav.nav-tabs#disabledcontent li a {
				color:#98BED6;
			}
			ul.nav.nav-tabs#disabledcontent li a span.pagedescription {
				color:#D1D1D1;
			}
        </style>
			<?php if($controllername == 'dashboard'){ ?>
            <div class="widgetsection height200" style="min-height:0; height:340px; padding-bottom:20px;">
                <h3>Recent Activities</h3>
                <div style="margin-top:5px;">
                    <div style="padding:5px 5px; margin:15px 0;" class="alert alert-info centeralign">Currently no season activities </div>
                    <ul class="nav nav-tabs nav-stacked" id="disabledcontent">                
                        <li><a>Maize Planting<br /><span class="pagedescription" style="font-style:normal;">Date: 15/02/2013</span></a></li>
                        <li><a>Tillage <br /><span class="pagedescription" style="font-style:normal;">Date: 05/02/2013</span></a></li>
                        <li><a>Season Inputs <br /><span class="pagedescription" style="font-style:normal;">Date: 28/01/2013</span></a></li>	
                        <li><a>Season Start <br /><span class="pagedescription" style="font-style:normal;">Date: 26/01/2013</span></a></li>	
                        <li><a class="bolded">View season Timeline</a></li>	
                    </ul>
                </div>
            </div>
            <?php } ?>
        <?php } ?>
        <?php if($controllername == 'dashboard'){ ?>
        <div class="widgetsection" style="min-height:275px;">
            <h3>Latest Forum Discussion</h3>
            <div style="margin-top:5px;">
            	<?php if(count($latest_discussions) == 0){ ?>
                	<div style="padding:5px 5px; margin:15px 0;" class="alert alert-info centeralign">No discussions available</div>
                <?php } else { ?>
                <ul class="nav nav-tabs nav-stacked">
					<?php 
                        foreach($latest_discussions as $line){
							$topic = new CommunityForum();
							$topic->populate($line['id']);
							$noofcomments = $topic->countComments();
							$comment_text = $noofcomments == 1 ? ' Comment' : ' Comments';
                    ?>
                        <li><a id="<?php echo 'topic_'.$line['id']; ?>" href="<?php echo $this->baseUrl('communityforum/view/id/'.encode($line['id'])); ?>" title="View discussion"><?php echo $line['topic']; ?> <br /><span class="pagedescription" style="font-style:normal; font-size:10px;">By <?php echo $topic->getCreator()->getName().", <br />(".$noofcomments.$comment_text; ?>)</span></a></li>		
                    <?php } ?>
                </ul>
                <?php } ?>
            </div>
        </div>
        <?php } ?>
    </div>
</div>