<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$farm = new Farm(); 
	$farm->populate($request->farmid);
	
	$request->setParam('tab', 'finance'); 
	
	$thefarmid = $farm->getID();
	$seasonid = $request->seasonid;
	$showresults = false;
	if(!isEmptyString($seasonid)){
		$showresults = true;
		$season = new Season();
		$season->populate($seasonid);
		// debugMessage($season->toArray());
	}
	
	$title = "Profit and Loss Statement Report"; 
	$this->headTitle($title);  
?>
<script>
	$(document).ready(function() {
		
	}); 
</script>
<style>
.table td.amountcell {
	text-align:right;
	padding-right:20px;
}
</style>
<h1><?php echo $this->translate('farm_title'); ?></h1>
<div id="tabs">
    <?php require APPLICATION_PATH."/views/scripts/farm/farmleftcolumn.phtml"; ?>
    <div class="span9 tab-content" id="center">
    	<?php require APPLICATION_PATH."/views/scripts/farm/tabstop.phtml"; ?>
		<div id="finance">
            <form id="listform" class="form-horizontal form-search"  action="<?php echo $this->baseUrl("finance/statementsearch"); ?>" method="get">
                <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left well lighter margin0" style="width:96%; min-height:120px; position:relative;">
                        <h3 class="well-legend"><?php echo $title; ?></h3>
                        <div class="margin0" style="position:absolute; right:10px; top:10px;">
                        	<a class="btn btn-mini" href="<?php echo $this->baseUrl('farm/view/id/'.encode($farm->getID()).'/tab/finance'); ?>" title="Finance Dashboard"><i class="icon-list"></i> Finance Dashboard</a>                                       
                        </div>
                        <ul id="searchbox" style="margin-top:10px;">
                            <li>
                                <a style="padding-left:0; padding-right:0; width:100%;">
                                    <table id="directorysearchtable" class="table noborder margin0">
                                        <tr>
                                            <td style="width:200px;">                                    
                                                <label class="control-label">Season:</label>
                                                <?php
													
                                                    $allseasons = getAllSeasons($farm->getID());
                                                    $seasondropdown = new Zend_Form_Element_Select('seasonid',
                                                                        array(
                                                                            'multiOptions' => array_merge_maintain_keys(array('' => 'Select Season'), $allseasons),
                                                                            'view' => new Zend_View(),
                                                                            'decorators' => array('ViewHelper'),
                                                                            'class' => array('width200'),
                                                                            'title' => 'Filter Seasons'		
                                                                        )
                                                    );  
                                                    $seasondropdown->setValue($request->getParam('seasonid')); 
                                                    echo $seasondropdown->render();
                                                ?>
                                            </td>
                                            <td style="width:125px; padding-left:2px; padding-right:2px;">
                                                <!--<label class="control-label">Starting From:</label>
                                                <input type="text" name="startdate" id="startdate" class="datefield width100" value="<?php // echo changeMySQLDateToPageFormat($request->getParam('startdate')); ?>" title="Start Date" />-->
                                            </td>
                                            <td style="width:110px; padding-left:2px; padding-right:2px;">
                                                <!--<label class="control-label">Up to:</label>
                                                <input type="text" name="enddate" id="enddate" class="datefield width100" value="<?php // echo changeMySQLDateToPageFormat($request->getParam('enddate')); ?>" title="End Date" />-->
                                            </td>                                  
                                            <td style="padding-left:2px; padding-right:2px; text-align:right; vertical-align:bottom;">
                                                <button type="submit" id="searchbutton" class="btn btn-primary pull-right" style="padding:6px 10px"><i class="icon-white icon-search"></i> Generate Report</button>
                                                <input type="hidden" name="farmid" id="farmid" value="<?php echo $request->getParam('farmid'); ?>" />
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </li>
                        </ul>
                    </span>
                    <?php if(!$showresults){ ?>
                    <span class="pull-left margin0" style="width:99%; margin-top:10px; min-height:120px; position:relative;">
                    	<div class="alert alert-info" style="margin-top:10px;">Filter Season and Click 'Generate Report' to view statement</div>
                    </span>
                    <?php } else { ?>
                    <span class="pull-left margin0" style="width:99%; margin-top:10px; min-height:120px; position:relative;">
                    	<table class="table table-bordered table-condensed table-hover" style="margin-bottom:10px;">
                            <?php 
								$sales = $season->getTotalRevenue(); 
								$inputs = $season->getTotalSeasonInputs();
								$margin = $sales - $inputs;
								$perc_margin = $sales == 0 ? 0 : $margin / $sales * 100;
								$expenselines = $season->getBundledExpenses();
								$expense_count = count($expenselines);
								$tot_expense = 0;
								
							?>
                            <tr class="info">
                            	<td colspan="2" style="padding-left:10px;"><h3 class="well-legend noborder" style="border:none;">Operating Revenue</h3></td>
                            </tr>
                            <tr>
                            	<td style="padding-left: 20px;">Net Season Sales <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td style="width:20%;" class="amountcell"></td>
                                <td style="width:20%;" class="amountcell"><?php echo ($sales == 0 || isEmptyString($sales)) ? 0: formatMoneyOnly($sales); ?></td>
                            </tr>
                            <tr>
                            	<td style="padding-left: 20px;">Net Service Sales <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td class="amountcell"></td>
                                <td class="amountcell">0</td>
                            </tr>
                            <tr>
                            	<td style="padding-left:20px;" class="bolded">Total Sales Revenue <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td class="amountcell"></td>
                                <td class="amountcell bolded"><?php echo ($sales == 0 || isEmptyString($sales)) ? 0 : formatMoneyOnly($sales); ?></td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-condensed table-hover" style="margin-bottom:10px;">
                        	<tr class="info">
                            	<td colspan="3" style="padding-left:10px;"><h3 class="well-legend noborder" style="border:none;">Cost of Sales</h3></td>
                            </tr>
                            <tr>
                            	<td style="padding-left: 20px;">Cost of Season Inputs <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td style="width:20%;" class="amountcell"><?php echo ($inputs == 0 || isEmptyString($inputs)) ? '--': formatMoneyOnly($inputs); ?></td>
                                <td style="width:20%;" class="amountcell"></td>
                            </tr>
                            <tr>
                            	<td style="padding-left: 20px;">Inventory Stock for period <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td class="amountcell">--</td>
                                <td class="amountcell"></td>
                            </tr>
                            <tr>
                            	<td style="padding-left:20px;" class="bolded">Total Cost of Sales <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td class="amountcell bolded"><?php echo ($inputs == 0 || isEmptyString($inputs)) ? '--': formatMoneyOnly($inputs); ?></td>
                                <td class="amountcell"></td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-condensed table-hover" style="margin-bottom:10px;">
                            <tr>
                            	<td style="padding-left:20px;" class="bolded">Gross Margin <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td style="width:20%;" class="amountcell"></td>
                                <td style="width:20%;" class="amountcell bolded"><?php echo formatMoneyOnly($margin); ?></td>
                            </tr>
                            <tr>
                            	<td style="padding-left:20px;" class="bolded">Gross Margin (%)</td>
                                <td class="amountcell"></td>
                                <td class="amountcell bolded"><?php echo round(formatMoneyOnly($perc_margin)); ?> %</td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-condensed table-hover" style="margin-bottom:10px;">
                        	<tr class="info">
                            	<td colspan="3" style="padding-left:10px;"><h3 class="well-legend noborder" style="border:none;">Overhead, General and Administrative Expenses</h3></td>
                            </tr>
                            <?php if($expense_count > 0 ){ ?>
                            	<?php 
									foreach($expenselines as $value){ 
										$tot_expense = $tot_expense + $value['amount'];
								?>
                                    <tr>
                                        <td style="padding-left: 20px;"><?php echo $value['name']; ?> <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                        <td style="width:20%;" class="amountcell"><?php echo formatMoneyOnly($value['amount']); ?></td>
                                        <td style="width:20%;" class="amountcell"></td>
                                    </tr>
                                <?php } ?>    
                            <?php } ?>
                            <tr>
                            	<td style="padding-left:20px;" class="bolded">Total Operating Expenses <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td style="width:20%;" class="amountcell bolded"><?php echo formatMoneyOnly($tot_expense); ?></td>
                                <td style="width:20%;" class="amountcell"></td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-condensed table-hover" style="margin-bottom:10px;">
                            <tr>
                            	<td style="padding-left: 20px;" class="bolded">Profit Before Taxes <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td style="width:20%;" class="amountcell"></td>
                                <td style="width:20%;" class="amountcell bolded"><?php echo formatMoneyOnly($margin - $tot_expense); ?></td>
                            </tr>
                            <tr>
                            	<td style="padding-left:20px;">Total Taxes <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td class="amountcell">0</td>
                                <td class="amountcell"></td>
                            </tr>
                            <tr>
                            	<td style="padding-left:20px;" class="bolded">Net Profit <?php echo "&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                                <td class="amountcell bolded"></td>
                                <td class="amountcell bolded"><?php echo formatMoneyOnly($margin - $tot_expense); ?></td>
                            </tr>
                            <tr>
                            	<td style="padding-left:20px;" class="bolded">Net Profit (%)</td>
                                <td class="amountcell bolded"></td>
                                <td class="amountcell bolded"><?php echo $sales == 0 ? 0 : round(($margin - $tot_expense) / $sales * 100); ?> %</td>
                            </tr>
                        </table>
                    </span>
                    <?php } ?>
                </div>
            </form>
        </div>
        <?php require APPLICATION_PATH."/views/scripts/farm/tabsbottom.phtml"; ?> 
    </div>
</div>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>