<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$title = "Benefits of FARMIS";
	$this->headTitle($this->translate("appname")." | ".$title); 

?>
<div class="row marginleft0">
    <div class="span8 pull-left marginleft0 public_leftcolumn">
        <div class="content">
            <h1><?php echo $title; ?></h1> 
            <p>FARMIS has been packaged by experts who have studied carefully the needs of nearest all stakeholders in the Agricultural sector of Uganda. These have been tailored so as to give the farmer maximum benefit while also allowing other beneficiaries to leverage from the infrastructure. Among the benefits include;</p>
            
            <h2>Improved automated record keeping</h2>
            <p>This platform allows you to track all your farm business activities in one place, schedule different farm events and track all the expenses incurred for future reporting and decision making.</p>
            
            <h2>Current Market Information</h2>
            <p>FARMIS provides current market information throughout major markets in Uganda. FARMIS gives you access to current food prices, fuel prices, organic prices and current input prices for Uganda</p>
            
            <h2>Access to credit services</h2>
            <p>Farmers cite unavailability of credit and capital as one of the major constraints in their business. Financial institutions on the other hand cite lack of proper farmer records as a major constraint when evaluating farmers' viability for credit.</p> 
<p>FARMIS provides a platform that enables farmers effectively store records and financial institutions review farmers' performance over a period of time to help them make an informed decision about the farmer's capabilities to manage credit.</p>
            
            <h2>Access to genuine inputs at affordable prices</h2>
            <p>The inputs market has been greatly affected by the emergence of counterfeit inputs on the market today. FARMIS keeps a database of all genuine input suppliers in the country complete with contact addresses and current input prices across East Africa</p>
            
            <h2>Market linkages to buyers and sellers</h2>
            <p>Make use of the FARMIS platform to find out who is selling and buying. Using FARMIS you can now post offers for your produce before harvest so that you have ready market when you finally harvest. If you are a trader or other bulk buyer you can find offers from producers looking for market.</p>
            
            <h2>Promotional services through the radio</h2>
            <p>Join FARMIS and market your produce through partnering local radio stations at no extra cost. Access other information like agricultural news, farming tips and current prices from all over the country.</p>
            
            <h2>Access to relevant farming tips</h2>
            <p>Farming tips, agribusiness news, farmer success stories, etc. You can get all this by subscribing to FARMIS. You can also register to receive this information directly to your mobile phone through our <a href="javascipt: void(0)">Infotrade SMS service</a>.</p>
            
        </div>
    </div>
    <?php require APPLICATION_PATH."/views/scripts/index/righthandband.phtml"; ?>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
