<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	# Page title
	$title = $this->translate("commodity_pagetitle_list");
	$this->headTitle($title);
	
	$list_title = "All Commodities:";
	$searched = false;
	if(!isEmptyString($request->searchterm)){
		$list_title = "Commodities: ".$request->searchterm; 
		$searched = true;
	}
	if(!isEmptyString($request->getParam('c'.HTML_TABLE_COLUMN_SEPARATOR.'categoryid'))){
		$category = new CommodityCategory();
		$category->populate($request->getParam('c'.HTML_TABLE_COLUMN_SEPARATOR.'categoryid'));
		// debugMessage($category->toArray());
		$list_title .= " /".$category->getName();
		$searched = true;
	}
	if(!isEmptyString($request->getParam('c'.HTML_TABLE_COLUMN_SEPARATOR.'unitid'))){
		$unit = new CommodityUnit();
		$unit->populate($request->getParam('c'.HTML_TABLE_COLUMN_SEPARATOR.'unitid'));
		// debugMessage($unit->toArray());
		$list_title .= " /".$unit->getName();
		$searched = true;
	}
	
	
	# Create an instance of the class to handle the pagination
	$paginate = new Pagination();	
	$paginate->setView($this);
	# set the search columns to be used on this list
	$paginate->setSearchColumns(array("c.name", "u.name", "cat.name"));
	$paginate->setFilterColumns(array("c.categoryid", "c.unitid"));
	$paginate->setDefaultSortBy("c.datecreated");	
	$paginate->setDefaultSortOrder("DESC");	
	
	# define the letter to be clicked to ease navigation 
	$where_query = "";	
	if (!isEmptyString($request->letter)){
		$where_query .= " AND (`c`.`name` LIKE '".$request->letter."%') ";
		$searched = true;
	}
	
	if(isEmptyString($request->getParam('show')) || $request->getParam('show') == 1){
		$request->setParam('show', '1'); 
		$where_query .= " AND `c`.`allowfarmer` = 1 ";
	}
		
	$paginate->processPost($request->getParams());
	$all_results_query = "SELECT c.id, c.name as `Commodity`, cat.name as Category, c.description as Description, u.`name` as `Unit` FROM commodity c INNER JOIN commoditycategory cat ON c.categoryid = cat.id LEFT JOIN commodity p ON c.parentid = p.id LEFT JOIN commodityunit as u ON(c.unitid = u.id) WHERE c.name <> '' ".$where_query."".$paginate->getSearchAndFilterSQL()." GROUP BY c.id ".$paginate->getSortSQL();
	
	// debugMessage($all_results_query);
	$paginate->setItemCountFromSQLQuery($all_results_query);
	
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	//echo $current_results_query;
	$session->setVar(ALL_RESULTS_QUERY, $all_results_query);
	$session->setVar(CURRENT_RESULTS_QUERY, $current_results_query);
	# the query string to be appended to the return to list URL
	$session->setVar('list_query_string'.$request->getControllerName(), $request->getParams());
	
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$has_no_data = (count($result) == 0) ? true : false; 

?>
<script>
	$(document).ready(function(){		
		// set hidden field for the alphabet and submit the form
		$(".alphabet").click(function(){
			var letter = $(this).attr('id');
			// alert(letter);
			$('#letter').val(letter);
			$("#listform").submit();
		});
		
	}); 
</script>
<style>

</style>
<div>
	<?php require APPLICATION_PATH."/views/scripts/index/leftcolumn.phtml"; ?>
    <div id="centercolumn">
        <form action="<?php echo $this->baseUrl("commodity/listsearch"); ?>" method="get" id="listform" class="form-search">
    	<h1><?php echo $title; ?></h1>
        <div class="wellcontent" style=" margin-top:-10px;">
            <div class=" blocked clear" style="position:relative; margin-top:25px;">
                <ul id="searchbox">
                    <li>
                        <a style="padding-left:0; padding-right:0; width:100%;">
                            <table id="directorysearchtable" class="table noborder margin0">
                                <tr>
                                    <td style="width:60px;">                                    
                                        <a href="<?php echo $this->baseUrl('commodity/add/pgc/true'); ?>" class="addpopup addcommodity btn btn-primary btn-mini" title="New Commodity" rel="New Commodity" id="newcommodity" formtitle="indexform" successurl="<?php echo $this->baseUrl('commodity/list'); ?>" action="<?php echo $this->baseUrl("commodity/create"); ?>"><i class="icon-plus icon-white"></i> New</a>
                                    </td>
                                    <td style="width:150px; padding-left:2px; padding-right:2px;">
									<?php
                                        $commoditycategorylist = new LookupType(); 
                                        $commoditycategorylist->setName("ALL_COMMODITY_CATEGORIES");
                                        $commoditycategorylistdropdown = new Zend_Form_Element_Select('c'.HTML_TABLE_COLUMN_SEPARATOR.'categoryid',
                                                            array(
                                                                'multiOptions' => array_merge_maintain_keys(array('' => 'All Categories'), $commoditycategorylist->getOptionValuesFromQuery()),								
                                                                'view' => new Zend_View(),
                                                                'decorators' => array('ViewHelper'),
                                                                'class' => array('autofilter', 'xchzn-select', 'width170'),											
                                                                'title' => 'Filter Commodities By Commodity Category'
                                                            )
                                                        );
                                        $commoditycategorylistdropdown->setValue($request->getParam('c'.HTML_TABLE_COLUMN_SEPARATOR.'categoryid')); 
                                        echo $commoditycategorylistdropdown->render(); 
                                      ?>
                                    </td>
                                    <td style="padding-left:2px; padding-right:2px;">
                                    <?php
										$commodityunitdropdown = new Zend_Form_Element_Select('c'.HTML_TABLE_COLUMN_SEPARATOR.'unitid',
												array(
													'multiOptions' => array_merge_maintain_keys(array('' => 'All Units'), getAllStandardUnits()),								
													'view' => new Zend_View(),
													'decorators' => array('ViewHelper'),
													'class' => array('autofilter', 'xchzn-select', 'width100'),
													'title' => 'Filter Commodities By Commodity Unit'
												)
											);
										$commodityunitdropdown->setValue($request->getParam('c'.HTML_TABLE_COLUMN_SEPARATOR.'unitid')); 
										echo $commodityunitdropdown->render(); 
									  ?>&nbsp;
                                      <?php
                                            $showtypes = array("1"=>"Farmis Only", "3"=>"All");
                                            $showdropdown = new Zend_Form_Element_Select('show',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys($showtypes),
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('width100','autofilter'),
                                                                    'title' => 'Filter Commodities'		
                                                                )
                                            );  
                                            $showdropdown->setValue($request->getParam('show')); 
                                            echo $showdropdown->render();
                                        ?>
                                    </td>                                   
                                    <td style="padding:8px 3px 0 0; width:165px;">
                                        <input type="hidden" name="advanced" id="advanced" value="<?php echo $request->getParam('advanced'); ?>" />
                                        <input style="width:150px;" name="searchterm" id="searchterm" value="<?php echo $request->searchterm; ?>" type="text" class="input-medium xsearch-query span2 pull-right" placeholder="Search Commodities"></td>
                                    <td style="padding:8px 3px 0 0; width:25px;">
                                        <button type="submit" id="searchbutton" class="btn" style="padding:6px 10px"><i class="icon-search"></i></button>
                            			<input type="hidden" name="letter" id="letter" value="<?php echo $request->getParam('letter'); ?>" />                                
                                    </td>
                                    <td style="padding:8px 3px 0 0; width:25px;">
                                    <?php if($searched){ ?>
                                    	<a href="<?php echo $this->baseUrl('commodity/list'); ?>" id="reset" class="btn btn-primary btn-mini pull-left" title="Reset list or clear all filters">Reset</a>
                                    <?php } ?>    
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="alphabetlist pull-left blocked clear"><a href="<?php echo $this->baseUrl("commodity/list/show/2"); ?>" title="All Commodities">All</a>&nbsp;&nbsp;|&nbsp;&nbsp;<?php echo $paginate->getAlphabetString(); ?></div>
            <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                <div class="alert alert-success margin0 blocked clear"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
            <?php } ?>
            <div class="paginatelisttop maxwidth blocked clear">
            	<label class="listlabel pull-left control-label 30width lineblocked" style="text-align:left;"><?php echo $list_title; ?></label>
                <?php if (!$has_no_data) { ?>
            	<div class="paginatecustom pull-right lineblocked"><?php echo sprintf($this->translate("commodity_list_counter"), $paginate->getItemCounterText()); ?><?php echo $this->listcountdropdown; ?></div>
                <?php } ?>
            </div>
            <?php if ($has_no_data) { ?>
            	<div style="clear:both;" class="alert alert-info margin0 blocked clear"><?php echo $this->translate("contact_list_norecords"); ?></div>
            <?php } else { ?>
            
                <ul id="datalist" class="nav nav-stacked">
					<?php 				  		
                        foreach($result as $line){
							$commodity = new Commodity();
							$commodity->populate($line['id']);
                    ?>
                    <li>
                        <table class="table noborder margin0">
                            <tr>                                
                                <td width="30%" style="padding-right:25px;">
                                	<a href="<?php echo $this->baseUrl("commodity/view/id/".encode($line['id'])); ?>" title="Details">
                                        <div class="imagecontainer" style="width:100%; min-height:100px; padding:2px;">
                                        <img style="width:100%;" src="<?php echo $commodity->getImagePath(); ?>" />
                                        </div>
                                    </a>
                                </td>
                                <td class="padding0">
                                    <div style="position:relative;">
                                        <table class="itemlist table noborder margin0">
                                            <tr>
                                                <td colspan="4"><h2 style="font-size:15px;"><a href="<?php echo $this->baseUrl("commodity/view/id/".encode($line['id'])); ?>" title="<?php echo "View ".$commodity->getName()."'s Profile"; ?>"><?php echo $commodity->getName(); ?></a></h2>
                                                </td>
                                                <td class="actionbuttons" rowspan="4" style="padding-top:5px;">
                                                    <a class="btn btn-primary btn-mini" style="position:absolute; top:5px; right:20px;" href="<?php echo $this->baseUrl("commodity/view/id/".encode($commodity->getID())); ?>">View Details</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:70px;"><label class="control-label">Category: </label></td>
                                                <td style="width:100px;" class="nowrapping"><span><?php echo $line['Category']; ?></span></td>
                                                <td style="width:40px;"><label class="control-label">Unit: </label></td>
                                                <td class="nowrapping"><span><?php echo $line['Unit']; ?></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </li>
                	<?php } ?>    
            	</ul>
            <?php echo $paginate->getPaginationLinks(); ?>  
            <?php } ?>
		</div>
        </form>
    </div>
</div>    
<?php
	$session->setVar(SUCCESS_MESSAGE, "");
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
