<?php
	require_once APPLICATION_PATH.'/includes/header.php';

	$farmgroup = new FarmGroup();
	$farmgroup->populate(decode($request->id));
	// debugMessage($farmgroup->toArray());
	
	$total_farmers = $farmgroup->getListOfFarmers()->count();
	$thefarmers = $farmgroup->getFeaturedFarmers(10);
	$farmer_count = $thefarmers->count();
	
	$id = $farmgroup->getManagerID();
	
	#cleanup address
	$farmgroup->cleanUpAddress();
	// debugMessage($farmers->toArray());
	
	$controller = $request->getControllerName();
	$action = $request->getActionName();
	if($controller == 'farmer' && isEmptyString($request->tab)){
		$request->setParam('tab', 'basics'); 
	}
	
	$subgroups = $farmgroup->getListOfSubGroups();
	$hassubgroups = false;
	if($farmgroup->hasSubGroups()){
		$hassubgroups = true;
	}
	
	$title = $farmgroup->getName();
	$this->headTitle($title);
	
	if(isEmptyString($request->tab)) {
		$request->setParam('tab', 'basics');
	}
	
?>
<script>
$(document).ready(function() {
	// override default tab
	<?php if(!isEmptyString($request->tab)){ ?>
		$("#tabs").tabs({ selected:'<?php echo $request->tab; ?>', fx: {opacity: 'toggle'} });	   
	<?php } ?>
	$('#tabs').tabs({
		// the selected tab
		selected: '<?php echo $request->tab; ?>'
	});
	
	$("#tabs ul#leftnav li a").click(function(e){
		curentclass = $(this).attr('class');
		$(".form-horizontal."+curentclass).html("<a id='loading' class='xhidden' style='text-align:center; display:block; margin-top:75px;'><span style='display:block; margin-bottom:15px; font-weight:bold;'>Loading...</span><img style='margin-left:-10px;' src='<?php echo $this->baseUrl('images/farmisloader.gif'); ?>' /></a>").css({'display':'block'});
		var url = '';
		var action = '<?php echo $action; ?>';
		if(action == 'view' || action == 'picture'){ 
			var url = "<?php echo $this->baseUrl("farmgroup/view/id/".encode($farmgroup->getID())."/tab/"); ?>"+curentclass;
		}
		if(action == 'index'){
			var url = "<?php echo $this->baseUrl("farmgroup/index/id/".encode($farmgroup->getID())."/tab/"); ?>"+curentclass;
		}
		if(curentclass == 'account'){
			var url = "<?php echo $this->baseUrl("farmer/view/id/".encode($farmgroup->getManagerID())); ?>"+curentclass;
		}
		
		location.href = url;  
	});
	
	$("#tabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
	$("#tabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
	
}); 
</script>
<style>
.form-horizontal .control-label {
	text-align:left;
}
</style>
<h1><?php echo $title; ?></h1>
<div id="tabs">
    <div class="span3 marginleft0" id="left">    
        <div class="well" id="profiletop">
            <div id="profileinfo" style="width:170px; margin-bottom:10px;"> 
				<?php if(isAdmin() || $farmerid == $farmgroup->getManagerID()){ ?>
                    <a href="<?php echo $this->baseUrl('farmgroup/picture/id/'.encode($farmgroup->getID())); ?>" class="editpic" title="Update Image"><img id="profileimage" src="<?php echo $farmgroup->getMediumLogoPath(); ?>" /><pre id="uploadlink" class="hide absoluteupload"><i class="icon-pencil"></i> Upload Image</pre></a>
                <?php } else { ?>
                    <img id="profileimage" src="<?php echo $farmgroup->getMediumLogoPath(); ?>" alt="Update Profile Image" />
                <?php } ?>
            </div>
        </div>
        <ul id="leftnav" style="width:97%;">
            <li id="tab_basics"><a href="#basics" class="basics">Basic Info</a></li>
            <?php if($farmgroup->hasSubGroups()){ ?>
	        <li id="tab_subgroups"><a href="#subgroups" class="subgroups">Sub Groups</a></li>
            <?php } ?>
            <li id="tab_farmers"><a href="#farmers" class="farmers">Farmers</a></li>
            <li id="tab_resources"><a href="#resources" class="resources">Resources</a></li>
            <li id="tab_subscription"><a href="#subscription" class="subscription">Subscription</a></li>
            <?php if(isFarmGroupAdmin()){ ?>
            <li id="tab_account"><a href="#account" class="account">My Account</a></li>
            <?php } ?>
        </ul>
    </div>
    <div class="span9 tab-content" id="center">   
        <div id="basics">
        	<h2>Basic Info</h2>
            <form id="profileform-personal" class="form-horizontal basics">
            <?php if($request->tab == 'basics'){ ?>
                <div class="row" style="margin-left:0px;">
					<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                        <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                    <?php } ?>
                    <span class="span6 marginleft0" style="width:72%;">
                        <div class="well row marginleft0" style="min-height:60px; padding-left:10px;">                        
                            <table class="table noborder"> 
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("farmgroup_name_label"); ?>:</label></td>
                                    <td colspan="3"><?php echo $farmgroup->getName(); ?></td>
                                </tr>
                                <?php if(!isEmptyString($farmgroup->hasSubGroup())){ ?>
                                <tr>
                                    <td><label class="control-label">Derived From: </label></td>
                                    <td><a href="<?php echo $this->baseUrl('farmgroup/view/id/'.encode($farmgroup->getParentID())); ?>" title="View Details"><?php echo $farmgroup->getParent()->getName(); ?></a></td>
                                </tr>
                                <?php } ?>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("farmgroup_type_label"); ?>:</label></td>
                                    <td><?php echo $farmgroup->getTypeLabel(); ?></td>
                                    <td><label class="control-label"><?php echo $this->translate("farmgroup_shortname_label"); ?>:</label></td>
                                    <td><?php echo isEmptyString($farmgroup->getShortName()) ? '--': $farmgroup->getShortName(); ?></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("farmgroup_refno_label"); ?>:</label></td>
                                    <td colspan="3"><?php echo isEmptyString($farmgroup->getRefNo()) ? '--': $farmgroup->getRefNo(); ?></td>
                                </tr>
                                <tr>
                                    <td style="width:100px;"><label class="control-label"><?php echo $this->translate("farmgroup_regno_label"); ?>:</label></td>
                                    <td style="width:120px;"><?php echo isEmptyString($farmgroup->getRegNo()) ? '--': $farmgroup->getRegNo(); ?></td>
                                    <td style="width:100px;"><label class="control-label"><?php echo $this->translate("farmgroup_dateregistered_label"); ?>:</label></td>
                                    <td><?php echo $farmgroup->getRegDateFormatted(); ?></td>
                                </tr>
                            </table>
                        </div>
                        <div class="well row marginleft0" style="min-height:140px;">
                            <h3 class="well-legend">About</h3>
                            <table class="table">                       
                               <tr>		                    
                                    <td valign="top"><?php echo isEmptyString($farmgroup->getNotes()) ? '--' : nl2br($farmgroup->getNotes()); ?></td>
                               </tr>
                            </table>
                        </div> 
                    </span>
                    <span class="span3 pull-right" style="width:24%; margin-right:0;">
                        <div class="well row" style="min-height:150px;">
                            <h3 class="well-legend">Quick Links</h3>
                            <table class="table">                       
                               <tr>		                    
                                    <td class="formactions">
										<?php if(isAdmin() || isFarmGroupAdmin() || $farmerid == $farmgroup->getManagerID()){ ?>
                                            <a class="btn btn-primary" style="width:65px;" href="<?php echo $this->baseUrl('farmgroup/index/id/'.encode($farmgroup->getID())); ?>" id="update" title="Update Profile"><i class="icon-pencil icon-white"></i> Update</a>
                                        <?php } ?>
                                        <?php if(isAdmin()){ ?>
                                            <a style="display:inline-block; "href="javascript: void(0)" id="deleteline_multiple" title="Delete Entry" class="btn btn-mini deleteline noimgbutton" action="<?php echo $this->baseUrl('farmgroup/delete/id/'.$farmgroup->getID()."/entityname/FarmGroup/successurl/".encode($this->baseUrl('farmgroup/list'))); ?>" message="Deleting this Group will also erase all Farmer Data associated with it. <br />Are you sure you want to delete this Farm Group?"><i class="icon-trash"></i></a>
                                        <?php } ?>
                                        <?php if(isAdmin() || isFarmGroupAdmin() || $farmerid == $farmgroup->getManagerID()){ ?>
                                            <a class="btn btn-primary addpopup" style="margin-bottom: 10px;" href="<?php echo $this->baseUrl('farmer/add/pgc/true/farmgroupid/'.$farmgroup->getID()); ?>" rel="Add Farmer | <?php echo $farmgroup->getName(); ?>" title="Add Farmer" id="addfarmer" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmgroup/view/id/'.encode($farmgroup->getID()).'/tab/farmers'); ?>" action="<?php echo $this->baseUrl("farmer/create"); ?>"><i class="icon-plus icon-white"></i> Add Farmer</a>
                                        <?php if(isAdmin()){ ?>
                                            <a class="btn btn-primary" href="<?php echo $this->baseUrl('farmgroup/list'); ?>" id="view" title="List all Farm Groups"><i class="icon-list icon-white"></i> List Groups</a></li>
                                        <?php } ?>
                                    </td>
                               </tr>
                            </table>
                        </div>
                        <div class="well row" style="min-height:150px;">
                            <h3 class="well-legend">Statistics</h3>
                            <table class="table">                       
                               <tr>		                    
                                    <td></td>
                               </tr>
                            </table>
                        </div>                   
                    </span>
                </div>
            	<div class="well row marginleft0" style="min-height:100px; width:97%;">
                    <h3 class="well-legend">Contact Information</h3>                  
                    <table class="table norborder">
                        <tr>
                            <td><label class="control-label themedlabel"><?php echo $this->translate("farmgroup_membershipclerk_label"); ?></label></td>
                            <td><label class="control-label themedlabel"><?php echo $this->translate("farmgroup_bizclerk_label"); ?></label></td>
                            <td><label class="control-label themedlabel"><?php echo $this->translate("farmgroup_dataclerk_label"); ?></label></td>
                        </tr>
                        <tr>
                        	<td style="width:33%;" class="padding0">
                            	<table class="table border0 margin0">
									<tr>
                                        <td><label class="control-label"><?php echo $this->translate("farmgroup_name_label"); ?>:</label>
                                            <?php echo isEmptyString($farmgroup->getContactName2()) ? '--' : $farmgroup->getContactName2(); ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label"><?php echo $this->translate("farmgroup_phone_label"); ?>:</label>
                            			<?php echo isEmptyString($farmgroup->getContactPhone2()) ? '--' : getShortPhone($farmgroup->getContactPhone2()); ?></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label"><?php echo $this->translate("farmgroup_email_label"); ?>:</label>
                                            <?php echo isEmptyString($farmgroup->getContactEmail2()) ? '--' : $farmgroup->getContactEmail2(); ?>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:33%;" class="padding0">
                            	<table class="table border0 margin0">
                                	<tr>
                                        <td><label class="control-label"><?php echo $this->translate("farmgroup_name_label"); ?>:</label>
                                            <?php echo isEmptyString($farmgroup->getContactName3()) ? '--' : $farmgroup->getContactName3(); ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label"><?php echo $this->translate("farmgroup_phone_label"); ?>:</label>
                            			<?php echo isEmptyString($farmgroup->getContactPhone3()) ? '--' : getShortPhone($farmgroup->getContactPhone3()); ?></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label"><?php echo $this->translate("farmgroup_email_label"); ?>:</label>
                                            <?php echo isEmptyString($farmgroup->getContactEmail3()) ? '--' : $farmgroup->getContactEmail3(); ?>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="padding0">
                            	<table class="table border0 margin0">
                                	<tr>
                                        <td><label class="control-label"><?php echo $this->translate("farmgroup_name_label"); ?>:</label>
                                            <?php if(!isEmptyString($farmgroup->getManagerID()) && !isEmptyString($farmgroup->getManager()->getUserID())){ ?>
                                                <a title="View Profile" href="<?php echo $this->baseUrl("farmer/view/id/".encode($farmgroup->getManagerID())); ?>"><?php echo $farmgroup->getManager()->getName(); ?></a>
                                            <?php } else { ?>
                                                <?php echo isEmptyString($farmgroup->getContactName()) ? '--' : $farmgroup->getContactName(); ?>
                                            <?php } ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label"><?php echo $this->translate("farmgroup_phone_label"); ?>:</label>
                            			<?php echo isEmptyString($farmgroup->getPhone()) ? '--' : getShortPhone($farmgroup->getPhone()); ?></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label"><?php echo $this->translate("farmgroup_email_label"); ?>:</label>
                                            <?php if(isFarmer()){ ?>
                                                <?php echo isEmptyString($farmgroup->getEmail()) ? '--' : $farmgroup->getEmail(); ?>
                                            <?php } ?>
                                            <?php if(isFarmGroupAdmin() || isAdmin()){ ?>
                                                <?php if($farmgroup->getManager()->getUser()->isUserActive()){ ?>
                                                    <?php echo isEmptyString($farmgroup->getEmail()) ? '--' : $farmgroup->getEmail(); ?>
                                                <?php } else { ?>
                                                        <?php if(isEmptystring($farmgroup->getManagerID())){ ?>
                                                            <?php echo '--'; ?>
                                                        <?php } else { ?>
                                                            <span class="inv_before" id="inv_before_<?php echo $id; ?>" style="margin-top:2px;">
                                                                <input type="text" name="email_<?php echo $id; ?>" id="email_<?php echo $id; ?>" placeholder="enter email" title="Invite <?php echo $farmgroup->getManager()->getFirstName(); ?> to join FARMIS" value="<?php echo $farmgroup->getEmail(); ?>" class="invite invite_<?php echo $id; ?>" style="width:230px;" /><br />
                                                                <a href="javascript:doNothing();" class="btn btn-primary btn-mini invitetrigger" style="margin-top:5px;" id="invite_<?php echo $id; ?>" title="Invite <?php echo $farmgroup->getManager()->getFirstName(); ?> to join <?php echo $this->translate('appname'); ?>"><i class="icon-envelope icon-white"></i> Invite</a>
                                                                <label class="hide invite_<?php echo $id; ?>" title="<?php echo $id; ?>"><?php echo $id; ?></label>                            
                                                                <div id="invite_<?php echo $id; ?>_error" style="margin-top:4px;"></div>
                                                            </span>
                                                            <span class="inv_after" id="inv_after_<?php echo $id; ?>">
                                                                <a id="loading_<?php echo $id; ?>" class="hidden"><img style="margin-left:0" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" /></a>
                                                            </span>
                                                        <?php } ?>
                                                        <?php if($farmgroup->getManager()->getIsInvited() == 1 && $farmgroup->getManager()->getHasAcceptedInvite() == 0){ ?>
                                                            <?php echo isEmptyString($farmgroup->getEmail()) ? '--' : $farmgroup->getEmail(); ?>
                                                            <span class="pagedescription alert alert-info" style="display:block; text-align:center; padding:2px; margin-top:5px; margin-bottom:0;">Invitation sent. Confirmation pending</span>
                                                        <?php } ?>
                                                    <?php } ?>
                                                <?php } ?>
                                            <?php } ?>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
            	</div>
            	<div class="well row marginleft0" style="min-height:100px; width:97%;">
                    <h3 class="well-legend">Address</h3>
                    <table class="table noborder">                       
                       <tr>
                            <td width="35%"><label class="control-label"><?php echo $this->translate("global_country_label"); ?>:</label>
                                <?php echo isEmptyString($farmgroup->getAddress()->getCountry()) ? '--' : $farmgroup->getAddress()->getCountryName(); ?>
                            </td>
                            <td width="30%"><label class="control-label"><?php echo $this->translate("global_district_label"); ?>:</label>
                                <?php echo isEmptyString($farmgroup->getAddress()->getDistrictID()) ? '--' : $farmgroup->getAddress()->getDistrict()->getName(); ?>
                            </td>
                            <td width="35%"><label class="control-label"><?php echo $this->translate("global_county_label"); ?>:</label>
                                <?php echo isEmptyString($farmgroup->getAddress()->getCountyID()) ? '--' : $farmgroup->getAddress()->getCounty()->getName(); ?>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label"><?php echo $this->translate("global_subcounty_label"); ?>:</label>
                                <?php echo isEmptyString($farmgroup->getAddress()->getSubCountyID()) ? '--' : $farmgroup->getAddress()->getSubCounty()->getName(); ?>
                            </td>
                            <td><label class="control-label"><?php echo $this->translate("global_parish_label"); ?>:</label>
                                <?php echo isEmptyString($farmgroup->getAddress()->getParishID()) ? '--' : $farmgroup->getAddress()->getParish()->getName(); ?>
                            </td>
                            <td><label class="control-label"><?php echo $this->translate("global_village_label"); ?>:</label>
                                <?php echo isEmptyString($farmgroup->getAddress()->getVillageID()) ? '--' : $farmgroup->getAddress()->getVillage()->getName(); ?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><label class="control-label"><?php echo $this->translate("farmgroup_address_label"); ?></label>
                                <?php echo isEmptyString($farmgroup->getAddress()->getStreetAddress()) ? '--' : nl2br($farmgroup->getAddress()->getStreetAddress()); ?>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <?php } ?>    
        </div>
        <?php require APPLICATION_PATH."/views/scripts/farmgroup/groupbottom.phtml"; ?>
	</div>
</div>
<?php
	$session->setVar(SUCCESS_MESSAGE, '');
	require_once APPLICATION_PATH.'/includes/footer.php';
?>