<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	# Load the profile, if no ID provided then use the profile of the currently logged in user
	$farmer = new Farmer(); 
	if(isEmptyString($request->id)){
		$farmer->populate($farmerid);
	} else {
		$farmer->populate(decode($request->id));
	}
	
	$dob = ""; $dateofbirth = '';  $fdateofbirth = ''; $birthday = ''; $birthmonth = ''; $birthyear = '';
	
	$id = $farmer->getID();	
	$name = $farmer->getName();
	$firstname = $farmer->getFirstName();
	
	#cleanup address
	if(!isEmptyString($farmer->getID())){
		// $farmer->cleanUpAddress();
	}
	
	$isme = false;
	if($farmerid == $farmer->getID()){
		$isme = true;
	}
	
	$button_title = $this->translate("farmer_button_save");
	$posturl = $this->baseUrl("farmer/edit"); 
	
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$farmer->processPost($session->getVar(FORM_VALUES));		
	}
	// set the default tab
	if (isEmptyString($request->tab)) {
		$request->setParam('tab','basics'); 
	}
	
	$thedays = getMonthDays();
	$themonths = getAllMonthsAsShortNames();
	
	// format date of birth
	if(!isEmptyString($farmer->getUser()->getDateOfBirth())){
		$dob = $farmer->getUser()->getDateOfBirth();
		$dateofbirth = date('M d, Y', strtotime($dob)); 
		$birthday = abs(date('d', strtotime($dob)));  $birthmonth = abs(date('m', strtotime($dob))); $birthyear = date('Y', strtotime($dob));
	}
	
	# determine farm
	$hasfarm = false;
	$hasmultiplefarms = false;
	$hasnofarm = false;
	$countfarms = $farmer->getFarms()->count();
	if($countfarms == 0){
		$farmlabel = "Setup Farm";
		$hasnofarm = true;
	}
	if($countfarms == 1){
		$hasfarm = true;
		$farmid = $farmer->getFarms()->get(0)->getID();
		$farmlabel = "Manage Farm";
	}
	if(!isEmptyString($farmer->getFarm()->getID())){
		$hasfarm = true;
		$farmid = $farmer->getFarm()->getID();
	}
	if($countfarms > 1){
		$hasmultiplefarms = true;
		$farmlabel = "Manage Farms";
	}
	
	if(isEmptyString($request->tab)) {
		$request->setParam('tab', 'basics');
	}
	$address = $farmer->getUser()->getAddresses()->get(0);
	
	if($request->tab == 'contacts' || $request->tab == 'account') {
		$userphone = $farmer->getUser()->getPrimaryPhone();
		$phone = getShortPhone($userphone->getPhone());
		$userphoneid = $userphone->getID();
		
		$validated = false;
		$valid_text = '';
		if(!isEmptyString($phone)){
			$valid_text = '&nbsp; (Unconfirmed)';
		}
		$allowrevalidate = false;
		if(!isEmptyString($phone) && $userphone->isValidated()){
			$validated = true;
			$valid_text = '&nbsp; <span class="pagedescription" style="color:#55A411;">(Validated)</span';
		}
		if($userphone->hasPendingActivation()){
			$allowrevalidate = true;
		}
		
		$userphone2 = $farmer->getUser()->getSecondaryPhone();
		$altphone = getShortPhone($userphone2->getPhone());
		$userphone2id = $userphone2->getID(); 
		
		$svalidated = false;
		$svalid_text = '';
		if(!isEmptyString($altphone)){
			$svalid_text = '&nbsp; (Unconfirmed)';
		}
		$sallowrevalidate = false;
		if($userphone2->isValidated()){
			$svalidated = true;
			$svalid_text = '&nbsp; <span class="pagedescription" style="color:#55A411;">(Validated)</span';
		}
		if($userphone2->hasPendingActivation()){
			$sallowrevalidate = true;
		}

	}
	// debugMessage(toArray());
	$title = "Update Profile";
	$this->headTitle($title);
?>
<script>
$(document).ready(function() {
	// configure the date picker not to accept dates before today
	var dateofbirthOpts = datepickerOpts;
	var startfrom = '<?php echo date('Y') - 18; ?>';
	dateofbirthOpts.yearRange = "-100:-18"; 
	dateofbirthOpts.minDate = "-100Y";
	datepickerOpts.maxDate = new Date("Dec 31, "+startfrom);	
	$("#dateofbirth").datepicker(dateofbirthOpts);
	// disable editing counntry	
	disableField("country"); disableField("country2");	
	
	<?php if($request->tab == 'basics') { ?>
		$("#profileform-basics").validate({		
			// define the validation rules one field at a time
			rules: {
				gender: "required",
				firstname: "required",
				lastname: "required",
				country: "required",
				locationid2: "required",
				regdate: "required",
				refno: {
					required: true,
					validate_number: true,
					maxlength:8,
					minlength:3
				}
			}, 
			// the messages for each of the fields being validated
			messages: {		
				gender: "<?php echo $this->translate("farmer_gender_error"); ?>",
				firstname: "<?php echo $this->translate("farmer_firstname_error"); ?>",
				lastname: "<?php echo $this->translate("farmer_lastname_error"); ?>",
				country: "<?php echo $this->translate("farmer_country_error"); ?>",
				locationid2: "<?php echo $this->translate("farmer_district_error"); ?>",
				regdate: "Please select Registration Date",
				refno: {
					required: "Please enter a Reference Number",
					validate_number: "Invalid Ref No specified",
					maxlength: "Should not be more than 8 digits",
					minlength: "Should not be less than 3 digits"
				}
			},
			// custom error positions
			errorPlacement: function(error, element) {
				switch(element.attr("name")){					
					default:
						if(element.hasClass("useid_error")){
							error.appendTo("#"+element.attr("id")+"_error");
						} else {
							error.appendTo("#"+element.attr("name")+"_error");
						}
						break;
				}			
			}
		});
		
		// basics custom failure and success url
		$("#profileform-basics .savethenview").click(function() {
			$("#profileform-basics .successurl").val('<?php echo encode($this->baseUrl('farmer/view/tab/basics')); ?>');
			$("#profileform-basics .failureurl").val('<?php echo encode($this->baseUrl('farmer/index/id/'.encode($farmer->getID()).'/tab/basics')); ?>');
		});
		
		var dateofregOpts = datepickerOpts;
		dateofregOpts.yearRange = "-5";
		dateofregOpts.maxDate = new Date();
		<?php if(isAdmin() || isFarmGroupAdmin()){ ?>
		$("#regdate").datepicker(dateofregOpts);
		<?php } ?>
		
		$(".readonly").each(function(){
			$(this).attr('readonly','readonly');
		});
		$("#refno").keyup(function(){
			$("#regno").val('<?php echo FARMER_REG_PREFIX.'/'.$farmer->getFarmGroup()->getRefNo(); ?>/'+$(this).val());
		});
		$("#refno").trigger('keyup');
		
		<?php if($farmer->getFarmGroup()->hasSubGroups()){ ?>
			// chained select to load the subcounties for a county
			$('#farmgroupid').selectChain({
				target: $('#subgroupid'),
				url: '<?php echo $this->baseUrl('farmer/selectchain/'.SELECT_CHAIN_TYPE.'/farmgroup_children/')?>',
				data: 'currentvalue=<?php echo $farmer->getSubGroupID(); ?>',
				type: 'get'
			});
			<?php if(!isEmptyString($farmer->getFarmGroupID())){ ?>
				$('#farmgroupid').trigger("change");
			<?php } ?>
		<?php } ?>
		
	<?php } ?>
	
	<?php if($request->tab == 'personal') { ?>
		$("#profileform-personal").validate({		
			// define the validation rules one field at a time
			rules: {
				nextofkin_email: {
					required: false,
					email: true
				}
			}, 
			// the messages for each of the fields being validated
			messages: {		
				nextofkin_email: {
					email: "<?php echo $this->translate("useraccount_email_invalid_error"); ?>"
				}
			},
			// custom error positions
			errorPlacement: function(error, element) {
				switch(element.attr("name")){					
					default:
						if(element.hasClass("useid_error")){
							error.appendTo("#"+element.attr("id")+"_error");
						} else {
							error.appendTo("#"+element.attr("name")+"_error");
						}
						break;
				}			
			}
		});
		
		// personal custom failure and success url
		$("#profileform-personal .savethenview").click(function() {
			$("#profileform-personal .successurl").val('<?php echo encode($this->baseUrl('farmer/view/tab/personal')); ?>');
			$("#profileform-personal .failureurl").val('<?php echo encode($this->baseUrl('farmer/index/id/'.encode($farmer->getID()).'/tab/personal')); ?>');
		}); 
	<?php } ?>
	
	<?php if($request->tab == 'contacts') { ?>
		$("#profileform-contacts").validate({		
			// define the validation rules one field at a time
			rules: {
				phone: {
					required: false, 					
					validnumber: true,
					maxlength: 10,
					minlength: 10,
					validate_ug: true
				},
				phone2: {
					required: false, 					
					validnumber: true,
					maxlength: 10,
					minlength: 10,
					validate_ug: true
				},
				email: {
					required: false, 
					email: true
				}
			}, 
			// the messages for each of the fields being validated
			messages: {		
				phone: {
					validnumber: "Please enter a valid Phone Number",
					maxlength: "Phone Number must have 10 Digits",
					minlength: "Phone Number must have 10 Digits",
					validate_ug: "<?php echo $this->translate("globale_phonenumber_format"); ?>"
				},
				phone2: {
					validnumber: "Please enter a valid Phone Number",
					maxlength: "Phone Number must have 10 Digits",
					minlength: "Phone Number must have 10 Digits",
					validate_ug: "<?php echo $this->translate("globale_phonenumber_format"); ?>"
				},
				email: {
					"email": "<?php echo $this->translate("useraccount_email_invalid_error"); ?>"
				}
			},
			// custom error positions
			errorPlacement: function(error, element) {
				switch(element.attr("name")){					
					default:
						if(element.hasClass("useid_error")){
							error.appendTo("#"+element.attr("id")+"_error");
						} else {
							error.appendTo("#"+element.attr("name")+"_error");
						}
						break;
				}			
			}
		});
		
		// add the validation for wholesale price to be less than retail price
		$.validator.addMethod("validnumber", function(value, element, params) { 
			if (IsValidAmount(value) || isEmptyString(value)) {
				return true; 
			}
			return false;        
		}, "Please enter a valid Phone Number");
		$.validator.addMethod("validate_ug", function(value, element, params) { 
			if(!isUgNumber(value) && !isEmptyString(value)) {
				return false; 
			}
			return true;        
		}, "<?php echo $this->translate("globale_phonenumber_format"); ?>");
		
		
		// contacts custom failure and success url
		$("#profileform-contacts .savethenview").click(function() {
			$("#profileform-contacts .successurl").val('<?php echo encode($this->baseUrl('farmer/view/tab/contacts')); ?>');
			$("#profileform-contacts .failureurl").val('<?php echo encode($this->baseUrl('farmer/index/id/'.encode($farmer->getID()).'/tab/contacts')); ?>');
		});
		
		// chained select to load the counties for a district
		$('#districtid').selectChain({
			target: $('#countyid'),
			url: '<?php echo $this->baseUrl('farmer/selectchain/'.SELECT_CHAIN_TYPE.'/district_counties/')?>',
			data: 'currentvalue=<?php echo $address->getCountyID(); ?>',
			type: 'get'
		});
		<?php if(!isEmptyString($farmer->getUser()->getLocationID())){ ?>
		$('#districtid').trigger("change");
		<?php } ?>
		// chained select to load the subcounties for a county
		$('#countyid').selectChain({
			target: $('#subcountyid'),
			url: '<?php echo $this->baseUrl('farmer/selectchain/'.SELECT_CHAIN_TYPE.'/county_subcounties/')?>',
			data: 'currentvalue=<?php echo $address->getSubcountyID(); ?>',
			type: 'get'
		});
		<?php if(!isEmptyString($address->getCountyID())){ ?>
		$('#countyid').trigger("change");
		<?php } ?>
		// chained select to load the subcounties for a county
		$('#subcountyid').selectChain({
			target: $('#parishid'),
			url: '<?php echo $this->baseUrl('farmer/selectchain/'.SELECT_CHAIN_TYPE.'/subcounty_parishes/')?>',
			data: 'currentvalue=<?php echo $address->getParishID(); ?>',
			type: 'get'
		});
		<?php if(!isEmptyString($address->getSubcountyID())){ ?>
		$('#subcountyid').trigger("change");
		<?php } ?>
		// chained select to load the subcounties for a county
		$('#parishid').selectChain({
			target: $('#villageid'),
			url: '<?php echo $this->baseUrl('farmer/selectchain/'.SELECT_CHAIN_TYPE.'/parish_villages/')?>',
			data: 'currentvalue=<?php echo $address->getVillageID(); ?>',
			type: 'get'
		});
		<?php if(!isEmptyString($address->getParishID())){ ?>
			$('#parishid').trigger("change");
		<?php } ?>
		
		$("#isinvited-1").attr('checked', false);
		$("#isinvited-2").attr('checked', false);
	
	<?php } ?>
}); 
</script>
<style>
.form-horizontal .control-label {
	width:0;
	white-space:nowrap;
	text-align:left;
}
.form-horizontal div.radio.inline {
	padding-left:0;
	margin-left:5px;
}
.form-horizontal div.zendradio .radio {
	padding-left:15px;
	margin-left:0;
}
select.country {
	width:180px;
}
select.country2 {
	width:150px;
}
select.chzn-select#locationid, select.chzn-select#locationid2 {
	width:170px;
}
select#salutation {
	width:95px;
}
#phone, #phone2 {
	width:160px;
}
#email, #email2 {
	width:210px;
}
#center .ui-widget-content {
	width:100%;
	float:left;
}
.alert.alert-success {
	width:90%;
}
</style>
<div id="tabs">
    <?php require APPLICATION_PATH."/views/scripts/farmer/farmerleftcolumn.phtml"; ?>
    <div class="span9 tab-content" id="center">   
        <div id="basics">
            <h2>Update Profile</h2>
            <form id="profileform-basics" class="form-horizontal basics" action="<?php echo $posturl; ?>" method="post">
            <?php if($request->tab == 'basics'){ ?>
        	<div class="row" style="margin-left:0px;">
				<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>	
                <?php if($sessionhaserror) { ?>
                    <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                <?php } ?>
                <span class="span6 marginleft0" style="width:72%;">
                    <div id="row1_left" class="well lighter row marginleft0" style="height:auto; padding-left:10px;">                        
                        <table class="table">                       
                           <tr>
                                <td width="54%"><label class="control-label"><?php echo $this->translate("farmer_firstname_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                <input name="firstname" id="firstname" type="text" class="span2 hastooltip" value="<?php echo $farmer->getFirstName(); ?>" title="<?php echo $this->translate("farmer_firstname_tooltip"); ?>" /><div id="firstname_error"></div></td>
                                <td><label class="control-label"><?php echo $this->translate("farmer_lastname_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                <input name="lastname" id="lastname" type="text" class="span2 hastooltip" value="<?php echo $farmer->getLastName(); ?>" title="<?php echo $this->translate("farmer_lastname_tooltip"); ?>" /><div id="lastname_error"></div></td>                                                             
                            </tr>
                            <tr>		                    
                                <td><label class="control-label"><?php echo $this->translate("farmer_othernames_label"); ?>:</label>
                                <input name="othernames" id="othernames" type="text" class="span2 hastooltip" value="<?php echo $farmer->getOtherNames(); ?>" title="<?php echo $this->translate("farmer_othernames_tooltip"); ?>" /></td>
                                <td><label class="control-label"><?php echo $this->translate("farmer_gender_label"); ?>: </label>
								<?php						  
                                      $genderradio = new Zend_Form_Element_Radio('gender',
                                              array(
                                                      'multiOptions' => array('1'=>'Male','2'=>'Female'), 
                                                      'view' => new Zend_View(),
                                                      'disableLoadDefaultDecorators' => true,
                                                      'separator' => '&nbsp;',										  
                                                      'decorators' => array('ViewHelper',
                                                                          array('HtmlTag', array('tag' => 'div', 'class' => array('inline', 'radio', 'zendradio'))) // use a sorrounding DIV with classes which are copied to the label by JQuery
                                                                      )
                                              )
                                      );
                                      $genderradio->setValue($farmer->getUser()->getGender());
                                      echo $genderradio->render();
                                  ?><div id="gender_error"></div></td>  
                            </tr> 
                            <tr>
                                <td><label class="control-label dateofbirth"><?php echo $this->translate("farmer_dateofbirth_label"); ?>:</label>
                                        <?php
                                            $daydp = new Zend_Form_Element_Select('birthday',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'Day'), getMonthDays()),	
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('birth'),
                                                                    'title' => 'Select Day'		
                                                                )
                                                            );
                                            $daydp->setValue($birthday); 
                                            echo $daydp->render(); 
                                        ?>
                                        <?php
                                            $monthdp = new Zend_Form_Element_Select('birthmonth',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'Month'), getAllMonthsAsShortNames()),	
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('birth'),
                                                                    'title' => 'Select Month'		
                                                                )
                                                            );
                                            $monthdp->setValue($birthmonth); 
                                            echo $monthdp->render(); 
                                        ?>
                                        <?php
                                            $years = getSubscribeBirthYears();
                                            $yeardp = new Zend_Form_Element_Select('birthyear',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'Year'), $years),	
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('birth'),
                                                                    'title' => 'Select Year'		
                                                                )
                                                            );
                                            $yeardp->setValue($birthyear); 
                                            echo $yeardp->render(); 
                                        ?>
                                        <input name="dateofbirth" id="dateofbirth" type="text" class="span2 datefield hastooltip" value="<?php echo $dateofbirth; ?>" title="<?php echo $this->translate("person_dateofbirth_tooltip"); ?>" />
                                    	<div id="dateofbirth_error"></div>
									</td>
                                    <td><label class="control-label suffix"><?php echo $this->translate("farmer_suffix_label"); ?>: </label>
                                        <?php
                                              $suffixlookup = new LookupType();
                                              $suffixlookup->setName("SALUTATION");
                                              $suffixselect = new Zend_Form_Element_Select('salutation',
                                                      array(
                                                              'multiOptions' => array_merge_maintain_keys(array('' => '<Select>'), $suffixlookup->getOptionValuesAndDescription()),
                                                              'view' => new Zend_View(),
                                                              'decorators' => array(array('ViewHelper')),
                                                              'class' => array('chzn-selectX','span1','type','hastooltip'),
                                                              'title' => $this->translate("farmer_suffix_tooltip")	
                                                      )
                                              );
                                              
                                              $suffixselect->setValue($farmer->getSalutation());
                                              echo $suffixselect->render();
                                          ?>
                                </td>
                            </tr>                                 
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("farmer_country_label"); ?>:</label>
									<?php
                                        $countries = getCountries();
                                        $countrydropdown = new Zend_Form_Element_Select('country2',
                                                            array(
                                                                'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>", "UG"=>"Uganda"), $countries),
                                                                'view' => new Zend_View(), 
                                                                'decorators' => array('ViewHelper'),
                                                                'class' => array('span3', 'country', 'xchzn-select', 'disabledfield')                                                            )
                                                        );
                                        $countrydropdown->setValue($farmer->getUser()->getCountry()); 
                                        echo $countrydropdown->render(); 
                                    ?><input type="hidden" name="country2" id="country2" value="<?php echo $address->getCountry(); ?>" />
                                </td>
                                <td><label class="control-label"><?php echo $this->translate("farmer_location_label"); ?>:  <?php echo $this->translate("global_required_field_marker"); ?></label>
									<?php
                                        $districtlist = new LookupType(); 
                                        $districtlist->setName("ALL_DISTRICTS");
                                        $districts = $districtlist->getOptionValuesFromQuery();
                                        
                                        $districtdropdown = new Zend_Form_Element_Select('locationid2',
                                                            array(
                                                                'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $districts),								
                                                                'view' => new Zend_View(),
                                                                'decorators' => array('ViewHelper'),
                                                                'class' => array('filterselect', 'hastooltip_custom', 'country'),
                                                                'title' => $this->translate("farmer_district_tooltip")
                                                            )
                                                        );
                                        $districtdropdown->setValue($farmer->getUser()->getLocationID()); 
                                        echo $districtdropdown->render(); 
                                   ?>
                                   <span id="tooltip_locationid2"></span><div id="locationid2_error"></div></td>                           
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("farmer_refno_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <?php if(isAdmin() || isFarmGroupAdmin()){ ?>
                                        <input type="text" name="refno" id="refno" class="width100" maxlength="8" value="<?php echo $farmer->getRefNo(); ?>" />
                                    <?php } else { ?>
                                        <input type="hidden" name="refno" id="refno" value="<?php echo $farmer->getRefNo(); ?>" />
                                        <?php echo isEmptyString($farmer->getRefNo()) ? '--': $farmer->getRefNo(); ?>
                                    <?php } ?>
                                    <div id="refno_error"></div>
                                </td>
                                <td><label class="control-label"><?php echo $this->translate("farmer_regno_label"); ?>:</label>
                                    <?php if(isAdmin() || isFarmGroupAdmin()){ ?>
                                        <input type="text" name="regno" id="regno" class="readonly width150" style="width:120px;" value="<?php echo $farmer->getRegNo(); ?>" />
                                    <?php } else { ?>
                                        <input type="hidden" name="regno" id="regno" value="<?php echo $farmer->getRegNo(); ?>" />
                                        <?php echo isEmptyString($farmer->getRegNo()) ? '--': $farmer->getRegNo(); ?>
                                    <?php } ?>
                                    <div id="regno_error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("farmer_dateregistered_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <?php if(isAdmin() || isFarmGroupAdmin()){ ?>
                                        <input type="text" name="regdate" id="regdate" class="datefield width100" value="<?php echo changeMySQLDateToPageFormat($farmer->getRegDate()); ?>" />
                                    <?php } else { ?>
                                        <input type="hidden" name="regdate" id="regdate" value="<?php echo changeMySQLDateToPageFormat($farmer->getRegDate()); ?>" />
                                        <?php echo isEmptyString($farmer->getRegDate()) ? '--': changeMySQLDateToPageFormat($farmer->getRegDate()); ?>
                                    <?php } ?>   
                                    <div id="regdate_error"></div> 
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </span> 
                <span class="span3 pull-right" style="width:22%; margin-right:20px; ">
                    <div id="row1_right" class="well row" style="height:auto;">
                        <h3 class="well-legend">Action</h3>
                        <table class="table">                       
                           <tr>		                    
                                <td class="formactions">
                                	<button type="submit" class="btn btn-primary savethenview"><i class="icon-ok icon-white"></i> <?php echo $this->translate('global_button_save_changes'); ?></button>
                                    <a href="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID())); ?>" class="btn"><i class="icon-remove"></i> <?php echo $this->translate('global_button_cancel'); ?></a>
                                    <input type="hidden" name="entityname" value="Farmer" />
                                    <input type="hidden" id="id" name="id" value="<?php echo encode($farmer->getID()); ?>" />
                                    <input type="hidden" id="userid" name="userid" value="<?php echo $farmer->getUserID(); ?>" />
                                    <input type="hidden" id="theaddressid" name="theaddressid" value="<?php echo $address->getID(); ?>" />                               
                                    <input type="hidden" class="successurl" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" title="general" />
                                    <input type="hidden" class="failureurl" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" title="general" />
                                    <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="Profile updated successfully" />    
								</td>
                           </tr>
                        </table>
                    </div>
                </span>		
        	</div>
            <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                <span class="pull-left well lighter margin0" style="width:95%; min-height:180px; height:auto; margin-bottom:10px;">
                	<table class="table">     
                    	<tr>
                            <td style="width:40%;">
								<?php if(isFarmer() && !$farmer->hasFarmGroup()){ ?>
                                    <label class="control-label">Farming Support Provider:</label>
                                    <input type="text" name="supportprovider" id="supportprovider" value="<?php echo $farmer->getSupportProvider(); ?>" class="hastooltip width200" title="<?php echo $this->translate("farmgroup_supportprovider_tooltip"); ?>" />
                                <?php } ?>
                                <?php if($farmer->hasFarmGroup()){ ?>
                                	<label class="control-label"><?php echo $this->translate("farmer_group_label"); ?>:</label>
								   <?php if(isAdmin()){ ?>
                                        <?php
                                            $groupdropdown = new Zend_Form_Element_Select('farmgroupid',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), getAllFarmGroups()),								
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('width300', 'hastooltip_custom'),
                                                                    'title' => $this->translate("farmer_farmgroupid_tooltip")
                                                                )
                                                            );
                                            $groupdropdown->setValue($farmer->getFarmGroupID()); 
                                            echo $groupdropdown->render(); 
                                       ?>
                                   <?php } else { ?>
                                        <?php echo !$farmer->hasFarmGroup() ? "--" : $farmer->getFarmGroup()->getName(); ?>
                                        <input type="hidden" id="farmgroupid" name="farmgroupid" value="<?php echo $farmer->getFarmGroupID(); ?>" /> 
                                   <?php } ?>
                                <?php } ?>
                            </td>
                            <td>
                            	<?php if($farmer->hasFarmGroup() && $farmer->getFarmGroup()->hasSubGroups()){ ?>
                                	<label class="control-label"><?php echo $this->translate("farmer_subgroup_label"); ?>:</label>
                                    <?php if(isAdmin() || isFarmGroupAdmin()){ ?>
                                    	<?php
                                            $groupdropdown = new Zend_Form_Element_Select('subgroupid',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), getSubGroups($farmer->getFarmGroupID())),								
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('width300', 'hastooltip_custom'),
                                                                    'title' => $this->translate("farmer_subgroupid_tooltip")
                                                                )
                                                            );
                                            $groupdropdown->setValue($farmer->getSubGroupID()); 
                                            echo $groupdropdown->render(); 
                                       ?>
                                    <?php } else { ?>
                                        <?php echo isEmptyString($farmer->getSubGroupID()) ? "--" : $farmer->getSubGroup()->getName(); ?>
                                        <input type="hidden" id="subgroupid" name="subgroupid" value="<?php echo $farmer->getSubGroupID(); ?>" /> 
                                   <?php } ?>
                                <?php } else { ?>
                                	<input type="hidden" id="subgroupid" name="subgroupid" value="" /> 
                                <?php } ?>
                            </td>
                        </tr>
                        <?php if($farmer->isFarmer()){ ?>
                        <tr>
                            <td><label class="control-label">Support Received <?php echo !$farmer->hasFarmGroup() ? "from Provider" : "in Farm Group"; ?></label>
                            	<?php
									  $listdropdown = new Zend_Form_Element_Multiselect('supporttypeids',
											  array(
													  'multiOptions' => getSupportTypes(),
													  'view' => new Zend_View(),
													  'decorators' => array(array('ViewHelper')),
													  'class' => array('chzn-select','multipleselect','span4','hastooltip_custom'),
													  'title' => $this->translate("farmer_supporttypes_tooltip")
											  )
									  );
									  
									  $listdropdown->setValue($farmer->getSupportTypeIDs());
									  $listdropdown->setAttrib("data-placeholder", 'Select all in category');
									  echo $listdropdown->render();
								  ?><span id="tooltip_supporttypes"></span>
                            </td>
                            <td><label class="control-label">Types of Farming Practiced</label>
                            	<?php
									  $listdropdown = new Zend_Form_Element_Multiselect('farmingtypeids',
											  array(
													  'multiOptions' => getFarmingTypes(),
													  'view' => new Zend_View(),
													  'decorators' => array(array('ViewHelper')),
													  'class' => array('chzn-select','multipleselect','span5','hastooltip_custom'),
													  'title' => $this->translate("farmer_farmingtypes_tooltip")
											  )
									  );
									  
									  $listdropdown->setValue($farmer->getFarmingTypeIDs());
									  $listdropdown->setAttrib("data-placeholder", 'Select all in category');
									  echo $listdropdown->render();
								  ?><span id="tooltip_farmingtypes"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label"><?php echo !$farmer->hasFarmGroup() ? 'Leadership Role <span class="pagedescription">(If any)</span>' : 'Leadership Role in Group'; ?>: </label>
                            	<input type="text" name="leadershiprole" id="leadershiprole" value="<?php echo $farmer->getLeadershipRole(); ?>" class="hastooltip width200" title="<?php echo $this->translate("farmgroup_leadershiprole_tooltip"); ?>" />
                            </td>
                            <td><label class="control-label">Other Income Generating Activities</label>
                            	<?php
									  $listdropdown = new Zend_Form_Element_Multiselect('activitytypeids',
											  array(
													  'multiOptions' => getOtherActivityTypes(),
													  'view' => new Zend_View(),
													  'decorators' => array(array('ViewHelper')),
													  'class' => array('chzn-select','multipleselect','span5','hastooltip_custom'),
													  'title' => $this->translate("farmer_activitytypes_tooltip")
											  )
									  );
									  
									  $listdropdown->setValue($farmer->getActivityTypeIDs());
									  $listdropdown->setAttrib("data-placeholder", 'Select all in category');
									  echo $listdropdown->render();
								  ?><span id="tooltip_activitytypes"></span>
                            </td>
                        </tr>
                        <?php } ?>
                    </table>	
                </span>
            </div>
            <?php } ?>
        	</form> 
        </div>
         <div id="contacts">
            <!--<h2>Contact Information</h2>-->
            <form id="profileform-contacts" class="form-horizontal contacts" action="<?php echo $posturl; ?>" method="post">
            <?php if($request->tab == 'contacts'){ ?>
            	<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>	
                <?php if($sessionhaserror) { ?>
                    <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                <?php } ?>
                <div class="row" style="margin-left:0px;">
                    <span class="span6 marginleft0" style="width:72%;">
                        <div class="well row marginleft0" style="min-height:150px;">     
                        <h3 class="well-legend">Contact Information</h3>                   
                            <table class="table">
                                <tr>
                                    <td width="50%"><label class="control-label">Phone:</label>
                                    <?php if($validated){ ?>
										<?php echo $phone; ?> <?php echo $valid_text; ?>
                                        <input type="hidden" name="phone" id="phone" value="<?php echo $phone; ?>" />
                                    <?php } else { ?>
                                    	<div class="input-prepend">
                                        	<span class="add-on"><?php echo '+'.COUNTRY_CODE_UG; ?></span><input name="phone" id="phone" type="text" maxlength="10" class="span2 hastooltip" style="width:110px;" value="<?php echo getShortPhone($phone); ?>" title="<?php echo $this->translate("farmer_phone_tooltip"); ?>" />
                                        </div>
                                        <div id="phone_error"></div>
                                    <?php } ?>
                                    </td>
                                    <td>
                                    <label class="control-label">Alt Phone:</label>
                                    <?php if($svalidated){ ?>
										<?php echo $altphone; ?> <?php echo $svalid_text; ?>
                                        <input type="hidden" name="phone2" id="phone" value="<?php echo $altphone; ?>" />
                                    <?php } else { ?>
                                        <div class="input-prepend">
                                        	<span class="add-on"><?php echo '+'.COUNTRY_CODE_UG; ?></span><input name="phone2" id="phone2" type="text" maxlength="10" class="span2 hastooltip" style="width:110px;" value="<?php echo getShortPhone($altphone); ?>" title="<?php echo $this->translate("farmer_phone_tooltip"); ?>" />
                                        </div>
                                        <div id="phone2_error"></div>
                                    <?php } ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Email:</label>
									<?php if(!isEmptyString($farmer->getUser()->getEmail()) && $farmer->getUser()->isUserActive()){ ?>
										<?php echo $farmer->getUser()->getEmail(); ?> &nbsp;<span class="pagedescription">(Primary)</span>
                                        <input type="hidden" name="email" id="email" class="span3" value="<?php echo $farmer->getUser()->getEmail(); ?>" title="" />
                                    <?php } else { ?>
                                    	<input type="text" name="email" id="email" class="span3 hastooltip"  value="<?php echo isEmptyString($farmer->getUser()->getEmail()) ? $farmer->getEmail() : $farmer->getUser()->getEmail(); ?>" title="<?php echo $this->translate("farmer_email_tooltip"); ?>"/>
                                    <?php } ?>	
                                    </td>
                                    <td>
                                    	<label class="control-label">Alt Email:</label>
                                        <?php if(!isEmptyString($farmer->getUser()->getEmail2())){ ?>
											<?php echo $farmer->getUser()->getEmail2(); ?>
                                            <input type="hidden" name="email2" id="email2" value="<?php echo $farmer->getUser()->getEmail2(); ?>" />
                                        <?php } else { ?>
                                            <input type="text" name="email2" id="email2" class="span3 hastooltip" value="<?php echo $farmer->getUser()->getEmail2(); ?>" title="<?php echo $this->translate("farmer_phone2_tooltip"); ?>" />
                                        <?php } ?>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </span>
                    <span class="span3 pull-right" style="width:22%; margin-right:20px; ">
                        <div class="well row" style="min-height:150px;">
                            <h3 class="well-legend">Action</h3>
                            <table class="table">                       
                               <tr>		                    
                                    <td class="formactions">
                                        <button type="submit" class="btn btn-primary savethenview"><i class="icon-ok icon-white"></i> <?php echo $this->translate('global_button_save_changes'); ?></button>
                                        <a href="javascript:doNothing();" class="btn"><i class="icon-remove"></i> <?php echo $this->translate('global_button_cancel'); ?></a>
                                        <input type="hidden" name="entityname" value="Farmer" />
                                        <input type="hidden" id="id" name="id" value="<?php echo encode($farmer->getID()); ?>" /> 
                                        <input type="hidden" id="userid" name="userid" value="<?php echo $farmer->getUserID(); ?>" /> 
                                        <input type="hidden" id="farmgroupid" name="farmgroupid" value="<?php echo $farmer->getFarmGroupID(); ?>" /> 
                                        <input type="hidden" id="theaddressid" name="theaddressid" value="<?php echo $farmer->getUser()->getAddresses()->get(0)->getID(); ?>" />
                                        <input type="hidden" class="successurl" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" title="general" />
                                        <input type="hidden" class="failureurl" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" title="general" />
                                        <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="Profile updated successfully" />
                                    </td>
                               </tr>
                            </table>
                        </div>
                    </span>		
                </div>
                <div class="well row marginleft0" style="min-height:100px; width:94%;">
                    <h3 class="well-legend">Address</h3>
                    <table class="table">                       
                       <tr>
                            <td width="35%"><label class="control-label">Country:</label>
								<?php
                                    $countries = getCountries();
                                    $countrydropdown = new Zend_Form_Element_Select('country',
                                                        array(
                                                            'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>", "UG"=>"Uganda"), $countries),
                                                            'view' => new Zend_View(), 
                                                            'decorators' => array('ViewHelper'),
                                                            'class' => array('country', 'xchzn-select', 'disabledfield')                                                            )
                                                    );
                                    $countrydropdown->setValue($address->getCountry()); 
                                    echo $countrydropdown->render(); 
                                ?><input type="hidden" name="country" id="country" value="<?php echo $address->getCountry(); ?>" />
                                <span id="tooltip_country"></span><div id="country_error"></div>
                            </td>
                            <td width="30%"><label class="control-label">District:</label>
                                <?php
									$districtlist = new LookupType(); 
									$districtlist->setName("ALL_DISTRICTS");
									$districts = $districtlist->getOptionValuesFromQuery();
									
									$districtdropdown = new Zend_Form_Element_Select('districtid',
														array(
															'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $districts),								
															'view' => new Zend_View(),
															'decorators' => array('ViewHelper'),
															'class' => array('filterselect', 'country')
														)
													);
									$districtdropdown->setValue($address->getDistrictID()); 
									echo $districtdropdown->render(); 
							   ?>
							   <span id="tooltip_districtid"></span><div id="districtid_error"></div>
                            </td>
                            <td width="35%"><label class="control-label">County:</label>
                                <select name="countyid" id="countyid" class="country">
                                  <option value="">&lt;Select One&gt;</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Sub-county:</label>
                                <select name="subcountyid" id="subcountyid" class="country">
                                  <option value="">&lt;Select One&gt;</option>
                                </select>
                            </td>
                            <td><label class="control-label">Parish:</label>
                                <select name="parishid" id="parishid" class="country">
                                  <option value="">&lt;Select One&gt;</option>
                                </select>
                            </td>
                            <td><label class="control-label">Village:</label>
                            	<select name="villageid" id="villageid" class="country">
                                  <option value="">&lt;Select One&gt;</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><label class="control-label">Postal/Street Address</label>
                              	<textarea name="streetaddress" id="streetaddress" class="span4 expanding" style="min-height:60px;"><?php echo $address->getStreetAddress(); ?></textarea>
                            </td>
                        </tr>
                    </table>
                </div>                
                <div class="well row marginleft0" style="min-height:100px; width:94%;">
                    <h3 class="well-legend">Location / Position</h3>
                    <table class="table">  
                       <tr>
                            <td colspan="2"><label class="control-label">Geographical Cordinates</label></td>
                            <td colspan="2"><label class="control-label">GPS Cordinates:</label></td>
                       </tr>
                       <tr>
                            <td width="15%"><label class="control-label">Latitude:</label></td>
                            <td width="30%"><input name="lat" id="lat" type="text" class="span2 hastooltip" value="<?php echo $farmer->getLat(); ?>" title="<?php echo $this->translate("farmer_latitude_tooltip"); ?>" /></td>
                            <!--<td width="15%"><label class="control-label">Latitude:</label></td>
                            <td><input name="lat_gps" id="lat_gps" type="text" class="span2 hastooltip" value="<?php //echo $farmer->getLatGPSFormatted(); ?>" title="<?php //echo $this->translate("farmer_latitude_tooltip"); ?>" /></td>-->
                            <td width="15%"><label class="control-label">Latitude:</label></td>
                            <td><?php echo $farmer->getLatGPSFormatted(); ?></td>
                       </tr>
                       <tr>
                            <td><label class="control-label">Longitude:</label></td>
                            <td><input name="lng" id="lng" type="text" class="span2 hastooltip" value="<?php echo $farmer->getLng(); ?>" title="<?php echo $this->translate("farmer_longitude_tooltip"); ?>" /></td>
                            <!--<td><label class="control-label">Longitude:</label></td>
                            <td><input name="lng_gps" id="lng_gps" type="text" class="span2 hastooltip" value="<?php //echo $farmer->getLngGPSFormatted(); ?>" title="<?php //echo $this->translate("farmer_longitude_tooltip"); ?>" /></td>-->
                            <td><label class="control-label">Longitude:</label></td>
                            <td><?php echo $farmer->getLngGPSFormatted(); ?></td>
                       </tr>
                    </table>
                </div>
            <?php } ?>
            </form>   	
        </div>
        <div id="personal">
            <h2>Personal Information</h2>
            <form id="profileform-personal" class="form-horizontal personal" action="<?php echo $posturl; ?>" method="post">
            <?php if($request->tab == 'personal'){ ?>
                <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>	
                <?php if($sessionhaserror) { ?>
                    <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                <?php } ?>
                <div class="row" style="margin-left:0px;">
                    <span class="span6 marginleft0" style="width:72%">
                        <div class="well row marginleft0" style="height:auto;">                        
                            <table class="table margin0">
                                <tr>		  
                                    <td style="padding-left:0;"><label class="control-label"><?php echo $this->translate("farmer_biography_label"); ?>:</label>
                                    <textarea name="bio" id="bio" class="span5 expanding hastooltip" style="width:90%; min-height:100px;" title="<?php echo $this->translate("farmer_bio_tooltip"); ?>"><?php echo $farmer->getUser()->getBio(); ?></textarea></td>
                                </tr>
                            </table>
                        </div>
                    </span>
                    <span class="span3 pull-right" style="width:22%; margin-right:20px; ">
                        <div class="well row" style="min-height:150px;">
                            <h3 class="well-legend">Action</h3>
                            <table class="table">                       
                               <tr>		                    
                                    <td class="formactions">
                                        <button type="submit" class="btn btn-primary savethenview"><i class="icon-ok icon-white"></i> <?php echo $this->translate('global_button_save_changes'); ?></button>
                                        <a href="javascript:doNothing();" class="btn"><i class="icon-remove"></i> <?php echo $this->translate('global_button_cancel'); ?></a>
                                        <input type="hidden" name="entityname" value="Farmer" />
                                        <input type="hidden" id="id" name="id" value="<?php echo encode($farmer->getID()); ?>" />
                                        <input type="hidden" id="theaddressid" name="theaddressid" value="<?php echo $address->getID(); ?>" />
                                        <input type="hidden" id="farmgroupid" name="farmgroupid" value="<?php echo $farmer->getFarmGroupID(); ?>" />                                 		<input type="hidden" id="userid" name="userid" value="<?php echo $farmer->getUserID(); ?>" /> 
                                        <input type="hidden" class="successurl" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" title="general" />
                                        <input type="hidden" class="failureurl" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" title="general" />
                                        <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="Profile updated successfully" />    
                                    </td>
                               </tr>
                            </table>
                        </div>
                    </span>		
                </div>
                <div class="well row marginleft0" style="min-height:75px; width:94%;"> 
                    <h3 class="well-legend">Family</h3>
                    <table class="table margin0">                       
                       <tr>		  
                            <td width="30%" style="padding-left:0;"><label class="control-label"><?php echo $this->translate("farmer_maritalstatus_label"); ?>:</label>
                            <?php
                                $maritalstatuses = getAllMaritalStatuses();
                                $maritalstatusesdropdown = new Zend_Form_Element_Select('maritalstatus',
                                                    array(
                                                        'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $maritalstatuses),								
                                                        'view' => new Zend_View(),
                                                        'decorators' => array('ViewHelper'),
                                                        'class' => array('filterselect', 'hastooltip', 'span2'),
                                                        'title' => $this->translate("farmer_maritalstatus_tooltip")
                                                    )
                                                );
                                $maritalstatusesdropdown->setValue($farmer->getMaritalStatus()); 
                                echo $maritalstatusesdropdown->render(); 
                           ?></td>
                            <td width="20%"><label class="control-label"><?php echo $this->translate("farmer_nochildren_label"); ?>:</label>
                            <input name="numberofchildren" id="numberofchildren" type="text" class="span1 hastooltip centeralign isnumber" value="<?php echo $farmer->getNumberOfChildren(); ?>" title="<?php echo $this->translate("farmer_nochildren_tooltip"); ?>" /><div id="numberofchildren_error"></div></td>
                            <td width="20%"><label class="control-label"><?php echo $this->translate("farmer_nodependants_label"); ?>:</label>
                            <input name="numberofdependants" id="numberofdependants" type="text" class="span1 hastooltip centeralign isnumber" value="<?php echo $farmer->getNumberOfDependants(); ?>" title="<?php echo $this->translate("farmer_nodependants_tooltip"); ?>" /><div id="numberofdependants_error"></div></td>
                            <td><label class="control-label"><?php echo $this->translate("farmer_totalhousehold_label"); ?>:</label>
                            <input name="totalhousehold" id="totalhousehold" type="text" class="span1 hastooltip centeralign isnumber" value="<?php echo $farmer->getTotalHousehold(); ?>" title="<?php echo $this->translate("farmer_totalhousehold_tooltip"); ?>" /><div id="totalhousehold_error"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="well row marginleft0" style="min-height:100px; width:94%;">
                    <h3 class="well-legend"><?php echo $this->translate("farmer_nextofkin_label"); ?></h3>
                    <table class="table">                       
                       <tr>		  
                            <td width="30%"><label class="control-label"><?php echo $this->translate("global_name_label"); ?>:</label>
                            <input name="nextofkin_name" id="nextofkin_name" type="text" class="span3 hastooltip" style="width:150px;" value="<?php echo $farmer->getNextofkin_Name(); ?>" title="<?php echo $this->translate("farmer_nextofkin_name_label"); ?>" />
                            </td>
                            <td width="30%"><label class="control-label"><?php echo $this->translate("global_phone_label"); ?>:</label>
                                <div class="input-prepend">
                                    <span class="add-on"><?php echo '+'.COUNTRY_CODE_UG; ?></span><input name="nextofkin_phone" id="nextofkin_phone" type="text" maxlength="10" class="span2 hastooltip isnumber" style="width:110px;" value="<?php echo $farmer->getNextofkin_phone(); ?>" title="<?php echo $this->translate("farmer_phone_tooltip"); ?>" placeholder="e.g 0772123456" />
                                </div>
                                <div id="nextofkin_phone_error"></div>
                            </td>
                            <td><label class="control-label"><?php echo $this->translate("global_email_label"); ?>:</label>
                            <input name="nextofkin_email" id="nextofkin_email" type="text" class="span3 hastooltip" style="width:180px;" value="<?php echo $farmer->getNextofkin_email(); ?>" title="<?php echo $this->translate("farmer_nextofkin_email_label"); ?>" /><div id="nextofkin_email_error"></div>
                            </td>
                        </tr>
                    </table>
                </div>
				<div class="well row marginleft0" style="min-height:100px; width:94%;">
                    <h3 class="well-legend">Other Information</h3>                       
                    <table class="table">
                        <tr>		  
                            <td width="40%"><label class="control-label"><?php echo $this->translate("farmer_educlevel_label"); ?>:</label>
                                    <?php
                                        $educlevels = getAllEducationLevels();
                                        $educleveldropdown = new Zend_Form_Element_Select('educationlevel',
                                                            array(
                                                                'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $educlevels),								
                                                                'view' => new Zend_View(),
                                                                'decorators' => array('ViewHelper'),
                                                                'class' => array('filterselect', 'hastooltip', 'span2'),
                                                                'title' => $this->translate("farmer_educationlevel_tooltip")
                                                            )
                                                        );
                                        $educleveldropdown->setValue($farmer->getEducationLevel()); 
                                        echo $educleveldropdown->render(); 
                                   ?></td>
                            <td></td>
                        </tr>
                    </table>
                </div>                
            <?php } ?>
            </form>  	
        </div>
        <div id="farm">
        	<h2><?php $farmer->isFarmer() ? 'Manage Farm' : 'Manage Farm Group'; ?></h2>
            <form id="profileform-farm" class="form-horizontal farm">
                <?php if($request->tab == 'farm'){ ?>
            		
            	<?php } ?>
            </form>
        </div>
        <div id="subscription">
        	<h2>Subscription</h2>
            <form id="profileform-subscription" class="form-horizontal subscription">
            	<?php if($request->tab == 'subscription'){ ?>
            		
            	<?php } ?>
                
            </form>
        </div>
        <?php require APPLICATION_PATH."/views/scripts/farmer/settings.phtml"; ?>
    </div> 
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
