<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$title = "Farmer Directory";	
	$this->headTitle($title);
	
	$searchnames = '';
	if(!isEmptyString($request->firstname)){
		$searchnames .= $request->firstname;
	}
	if(!isEmptyString($request->lastname)){
		$searchnames .= " ".$request->lastname;
	}
	
	if (!isEmptyString($request->letter)){
		$searchnames .= "Browse By: <b>".strtoupper($request->letter)."</b>";
	}
	
	$paginate = new Pagination();	
	$paginate->setView($this);
	# set the search columns to be used on this list
	$paginate->setSearchColumns(array("f.firstname","f.lastname","f.othernames","u.username","u.email","up.phone","fg.orgname"));
	$paginate->setFilterColumns(array("u.gender","u.locationid","f.farmgroupid"));
	// $paginate->setDefaultSortBy("f.datecreated");	
	// $paginate->setDefaultSortOrder("DESC");
	$paginate->setItemCountPerPage("25");
	
	# define the letter to be clicked to ease navigation 
	$where_query = " WHERE f.id <> '' ";
	
	if(!isEmptyString($request->firstname)){
		$where_query .= " AND (f.firstname LIKE '%".$request->firstname."%') ";
	}
	if(!isEmptyString($request->lastname)){
		$where_query .= " AND (f.lastname LIKE '%".$request->lastname."%') ";
	}
	if(!isEmptyString($request->othernames)){
		$where_query .= " AND (f.othernames LIKE '%".$request->othernames."%') ";
	}
	
	if(!isEmptyString($request->letter)){
		$where_query .= " AND (f.`firstname` LIKE '".$request->letter."%' OR f.`lastname` LIKE '".$request->letter."%') ";
	}
	
	$listurl = $this->baseUrl('farmer/list');
	$farmgroup = new FarmGroup();
	$groupid = trim($request->farmgroupid);
	$groupstring = "";
	if(!isEmptyString($groupid)){
		$where_query .= " AND (f.`farmgroupid` = '".$groupid."') ";
		$farmgroup->populate($groupid);
		$groupstring = "<span class='namelabel'> (".$farmgroup->getName().")</span>";
		$listurl = $this->baseUrl('farmer/list/farmgroupid/'.$groupid);
	}
	
	$order = trim($request->order);
	$order_query = " ";
	if(isEmptyString($order)){
		$order = 1;
	}
	if($order == 1){
		$order_query = " ORDER BY f.datecreated DESC ";
	}
	if($order == 2){
		$order_query = " ORDER BY f.firstname ASC ";
	}
	if($order == 3){
		$order_query = " ORDER BY f.lastname ASC ";
	}
	if($order == 4){
		$order_query = " ORDER BY f.datecreated ASC ";
	}
	
	$paginate->processPost($request->getParams());
	$all_results_query = "SELECT f.*, u.*, fg.*, l.*, f.id as id, u.id as userid, fg.id as fmgroupid, l.id as districtid, u.email as uemail, f.email as femail, l.name as district, f.regno as fregno, fg.regno as fgregno, up.phone as phone FROM farmer f INNER JOIN useraccount u on (f.userid = u.id) LEFT JOIN userphone as up on (u.id = up.userid AND up.isprimary = 1) LEFT JOIN farmgroup as fg on (f.farmgroupid = fg.id) LEFT JOIN location l on (u.locationid = l.id AND l.locationtype = 2) ".$where_query." AND u.type = 2 ".$paginate->getSearchAndFilterSQL()." GROUP BY f.id ".$order_query;
	
	// debugMessage($all_results_query);
	$paginate->setItemCountFromSQLQuery($all_results_query);
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$has_no_data = (count($result) == 0) ? true : false; 
	
?>
<script>
$(document).ready(function() {
	// set hidden field for the alphabet and submit the form
	$(".alphabet").click(function(){
		var letter = $(this).attr('id');
		// alert(letter);
		$('#letter').val(letter);
		$("#listform").submit();
	});
	
	//when button is clicked  
        $('#check_email_availability').click(function(){ 
			check_email_availability();  
        });
		$('#email').change(function(){ 
			check_email_availability();  
        });  
		$('#email').keyup(function(){
			this.value = this.value.toLowerCase();
		});
		
		//function to check email availability  
		function check_email_availability(){  
			//get the username
			var checking_html = 'Checking availability...';   
			var email = $('#email').val();  
			if(!isEmptyString(email) && validateEmail(email)){
				$('#email_availability_result').html(checking_html);  
				
				//use ajax to run the check  
				$.post("<?php echo $this->baseUrl('signup/checkemail'); ?>", { email: email },  
					function(result){  
						//if the result is 1  
						// alert(result); // return false;
						if(result == 1){  
							//show that the email is available
							$('#email_availability_result').html(email + ' is NOT available!').addClass('alert').addClass('alert-error').removeClass('alert-success'); 
						} else {  
							//show that the email is NOT available  
							$('#email_availability_result').html(email + ' is available').addClass('alert').addClass('alert-success').removeClass('alert-error');
						}  
				});  
			}
		}
}); 
</script>
<style>		
.alert.alert-success {
	clear:both;
}
.namelabel {
	font-weight:normal;
	font-size:14px;
}
</style>
<div>
	<?php require APPLICATION_PATH."/views/scripts/index/leftcolumn.phtml"; ?>
    <div id="centercolumn">
        <form action="<?php echo $this->baseUrl("farmer/listsearch"); ?>" method="get" id="listform" class="form-search">
    	<h1><?php echo $title; ?><?php echo $groupstring; ?></h1>
        <div class="wellcontent" style=" margin-top:-10px;">
            <div class=" blocked clear" style="position:relative; margin-top:25px;">
            	<div class="advsearch" style="display:block; float:right; text-align:right; position:absolute; right:0; top:10px; width:60px;">
                    <a href="<?php echo $listurl; ?>" id="reset" class="btn btn-primary btn-mini pull-left" title="Reset list or clear all filters">Reset</a>&nbsp;&nbsp;
                    
            	</div>
                <ul id="searchbox">
                    <li>
                        <a style="padding-left:0; padding-right:0; width:100%;">
                            <table id="directorysearchtable" class="table noborder margin0">
                                <tr>
                                    <td style="width:55px; padding-top:6px; padding-left:2px; padding-right:2px;">                                    
                                       <?php if(isAdmin()){ ?>
                                       		<a href="<?php echo $this->baseUrl('farmer/add/pgc/true'); ?>" class="addpopup addfarmer btn btn-primary btn-mini" title="New Farmer" rel="New Farmer" id="newfarmer" formtitle="indexform" successurl="<?php echo $listurl; ?>" action="<?php echo $this->baseUrl("farmer/create"); ?>"><i class="icon-plus icon-white"></i> New</a>
                                       <?php } ?>     
                                       <?php if(isFarmGroupAdmin()){ ?>
                                            <a class="addpopup addfarmer btn btn-primary btn-mini" style="margin-bottom: 10px;" href="<?php echo $this->baseUrl('farmer/add/pgc/true/farmgroupid/'.$farmgroup->getID()); ?>" rel="Add Farmer | <?php echo $farmgroup->getName(); ?>" title="Add Farmer" id="addfarmer" formtitle="indexform" successurl="<?php echo $listurl; ?>" action="<?php echo $this->baseUrl("farmer/create"); ?>"><i class="icon-plus icon-white"></i> New</a>
                                       <?php } ?>
                                    </td>
                                    <td style="width:100px; padding-left:4px; padding-right:2px;">
                                        <label class="control-label">Gender:</label>
                                        <?php
                                            $allgenders = array('' => 'All','1'=>'Male','2'=>'Female');
                                            $genderdropdown = new Zend_Form_Element_Select('u'.HTML_TABLE_COLUMN_SEPARATOR.'gender',
                                                                array(
                                                                    'multiOptions' => $allgenders,
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('gender','span2','autofilter'),
                                                                    'title' => 'Filter People By Gender'		
                                                                )
                                            );  
                                            $genderdropdown->setValue($request->getParam('u'.HTML_TABLE_COLUMN_SEPARATOR.'gender')); 
                                            echo $genderdropdown->render();
                                        ?>
                                    </td>
                                    <td style="width:185px; padding-left:2px; padding-right:2px;">
                                        <label class="control-label">District:</label>
                                        <?php
                                            $districtlist = new LookupType(); 
                                            $districtlist->setName("ALL_DISTRICTS");
                                            $districtdropdown = new Zend_Form_Element_Select('u'.HTML_TABLE_COLUMN_SEPARATOR.'locationid',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'All'), $districtlist->getOptionValuesFromQuery()),								'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('autofilter', 'width180','country')
                                                                )
                                                            );
                                            $districtdropdown->setValue($request->getParam('u'.HTML_TABLE_COLUMN_SEPARATOR.'locationid')); 
                                            echo $districtdropdown->render(); 
                                          ?>
                                    </td>
                                    <td style="width:100px; padding-left:2px; padding-right:2px;">
                                    	<label class="control-label">Ordering:</label>
                                        <?php
                                            $allorders = array('1' => 'Latest First', '2'=>'Alphabetical (Firstname)','3'=>'Alphabetical (Lastname)', '4'=>'Earliest First');
                                            $ordersdropdown = new Zend_Form_Element_Select('order',
                                                                array(
                                                                    'multiOptions' => $allorders,
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('gender','span2','autofilter'),
                                                                    'title' => 'Order list by'		
                                                                )
                                            );  
                                            $ordersdropdown->setValue($request->getParam('order')); 
                                            echo $ordersdropdown->render();
                                        ?>
                                    </td>                                   
                                    <td style="padding:31px 3px 0 0; text-align:right;">
                                        <input type="hidden" name="advanced" id="advanced" value="<?php echo $request->getParam('advanced'); ?>" />
                                        <input style="width:150px;" name="searchterm" id="searchterm" value="<?php echo $request->searchterm; ?>" type="text" class="input-medium xsearch-query span2 pull-right" placeholder="Search Farmers"></td>
                                    <td style="padding:31px 3px 0 0; text-align:left;">
                                        <button type="submit" id="searchbutton" class="btn" style="padding:6px 10px;"><i class="icon-search"></i></button>
                                        <input type="hidden" name="letter" id="letter" value="<?php echo $request->getParam('letter'); ?>" />
                                        <input type="hidden" name="farmgroupid" id="farmgroupid" value="<?php echo $request->getParam('farmgroupid'); ?>" />
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </li>
                </ul>
          </div>
            <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE))){ ?>
                <div class="alert alert-success clear"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
            <?php } ?>
            <?php if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ ?>
                <div class="alert alert-error clear"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
            <?php } ?>
            <div class="alphabetlist pull-left"><a href="<?php echo $listurl; ?>" title="All Farmers">All</a>&nbsp;&nbsp;|&nbsp;&nbsp;<?php echo $paginate->getAlphabetString(); ?></div>
            <label style="text-align:left;" class="searchedterm control-label pull-left leftalign"><?php echo $searchnames; ?></label>
            <?php if (!$has_no_data) { ?>
            	<div class="paginatecustom"><?php echo sprintf($this->translate("farmer_list_counter"), $paginate->getItemCounterText()); ?></div>
            <?php } ?>
			
			<?php if ($has_no_data) { ?>
            	<div style="clear:both;" class="alert alert-info margin5"><?php echo $this->translate("farmer_list_norecords"); ?></div>
            <?php } else { ?>
                <ul id="datalist" class="nav nav-stacked">
					<?php 				  		
                        foreach($result as $line){
                            $id = $line['id'];	
                            $name = $line['firstname']." ".$line['lastname']." ".$line['othernames'];
                            $firstname = $line['firstname'];
							$lastname = $line['lastname'];
							$groupname = $line['orgname'];
							$thefarmgroupid = $line['fmgroupid'];
							
							$hasprofileimage = false;
							$real_path = APPLICATION_PATH.DIRECTORY_SEPARATOR."..".DIRECTORY_SEPARATOR."public".DIRECTORY_SEPARATOR."uploads".DIRECTORY_SEPARATOR."user_";
							$real_path = $real_path.$id.DIRECTORY_SEPARATOR."avatar".DIRECTORY_SEPARATOR."large_".$line['profilephoto'];
							if(file_exists($real_path) && !isEmptyString($line['profilephoto'])){
								$hasprofileimage = true;
							}
							$baseUrl = Zend_Controller_Front::getInstance()->getBaseUrl();
							$photo_path = '';
							if($line['gender'] == 1){
								$photo_path = $baseUrl.'/uploads/user_0/avatar/default_thumbnail_male.jpg';
							}  
							if($line['gender'] == 2){
								$photo_path = $baseUrl.'/uploads/user_0/avatar/default_thumbnail_female.jpg'; 
							}
							if($hasprofileimage){
								$photo_path = $baseUrl.'/uploads/user_'.$id.'/avatar/thumbnail_'.$line['profilephoto'];
							}
                    ?>
                    <li>
                    	<a class="btn btn-primary btn-mini" style="position:absolute; top:10px; right:10px;" href="<?php echo $this->baseUrl("farmer/view/id/".encode($id)); ?>">View Profile</a>
                        <table class="table noborder margin0">
                            <tr>                                
                                <td width="75">
                                    <div id="thumbinfo" class="<?php echo $hasprofileimage ? 'new_pic' : 'default_pic'; ?>"> 
                                        <a href="<?php echo $this->baseUrl("farmer/view/id/".encode($id)); ?>" title="View Profile"><img class="profileimage" src="<?php echo $photo_path; ?>" /></a>
                                    </div>
                                </td>
                                <td class="padding0" style="vertical-align:top;">
                                	<table class="itemlist table noborder margin0">
                                        <tr>
                                            <td colspan="5" style="padding:0;">
                                                <h2><a href="<?php echo $this->baseUrl("farmer/view/id/".encode($id)); ?>" title="<?php echo "View ".$firstname."'s Profile"; ?>"><?php echo $name; ?></a></h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:70px;"><label class="control-label">FIN#: </label></td>
                                            <td style="width:180px;"class="nowrapping"><span><?php echo $line['fregno']; ?></span></td>
                                            <td style="width:90px;"><label class="control-label"><?php echo isFarmGroupAdmin() ? 'Gender': 'Farm Group'; ?>:</label></td>
                                            <td style="width:240px;" class="nowrapping">
                                            	<?php if(isFarmGroupAdmin()){ ?>
                                            		<span><?php echo $line['gender'] == '1' ? 'Male' : 'Female'; ?></span>
                                                <?php } else { ?>
                                                	<span><?php echo isEmptyString($thefarmgroupid) ? '--' : $groupname; ?></span>
                                                <?php } ?>
                                            </td>
                                            <td rowspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label">District:</label></td>
                                            <td class="nowrapping"><span><?php echo isEmptyString($line['districtid']) ? '--' : $line['district']; ?></span></td>
                                            <td><label class="control-label">Subscribed:</label></td>
                                            <td class="nowrapping"><span><?php echo $line['isactive'] == 1 ? 'Yes' : 'No'; ?></span></td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label">Phone: </label></td>
                                            <td class="nowrapping">
                                            	<?php if($line['isactive'] == 1){ ?>
                                                    <span><?php echo isEmptyString($line['phone']) ? '--' : getShortPhone($line['phone']); ?></span><br />
                                                <?php } else { ?>
                                                    <span class="pinv_before" id="pinv_before_<?php echo $id; ?>" style="margin-top:2px;">
                                                        <div class="input-prepend"><span style="padding:2px 4px;" class="add-on"><?php echo '+'.COUNTRY_CODE_UG; ?></span><input name="phone_<?php echo $id; ?>" id="phone_<?php echo $id; ?>" type="text" placeholder="enter phone" maxlength="10" class="pinvite pinvite_<?php echo $id; ?>" style="width:120px; height:14px;" value="<?php echo getShortPhone($line['phone']); ?>" title="Invite <?php echo $firstname; ?> to Join" /></div><br />
                                                        <a href="javascript:doNothing();" class="btn btn-primary btn-mini pinvitetrigger" style="margin-top:5px;" id="pinvite_<?php echo $id; ?>" title="Invite <?php echo $firstname; ?> to Join"><i class="icon-envelope icon-white"></i> Invite</a>
                                                        <label class="hide pinvite_<?php echo $id; ?>" title="<?php echo $id; ?>"><?php echo $id; ?></label>                            
                                                        <div id="pinvite_<?php echo $id; ?>_error" style="margin-top:4px;"></div>
                                                    </span>
                                                    <span class="pinv_after" id="pinv_after_<?php echo $id; ?>"></span>
                                                    <a id="loading_<?php echo $id; ?>" class="hidden"><img style="margin-left:0" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" /></a>  
                                                    <?php if($line['isphoneinvited'] == 1 && $line['hasacceptedinvite'] == 0){ ?>
                                                        <span class="pagedescription alert alert-info" style="display:block; text-align:center; padding:2px; margin-top:5px; margin-bottom:0;">Invited. Confirmation pending</span>
                                                    <?php } ?>

                                                <?php } ?>
                                                
                                                
                                            <span><?php //echo isEmptyString($farmer->getUser()->getPhone()) ? '--' : $farmer->getUser()->getPhone().$farmer->getUser()->getPrimaryPhone()->getStatusLabel(); ?></span></td>
                                            <td><label class="control-label">Email: </label></td>
                                            <td class="nowrapping">
												<?php if($line['isactive'] == 1){ ?>
                                                    <span><?php echo isEmptyString($line['uemail']) ? '--' : $line['uemail']; ?></span><br />
                                                <?php } else { ?>
                                                    <span class="inv_before" id="inv_before_<?php echo $id; ?>" style="margin-top:2px;">
                                                        <input type="text" name="email_<?php echo $id; ?>" id="email_<?php echo $id; ?>" placeholder="enter email" title="Invite <?php echo $firstname; ?> to join FARMIS" value="<?php echo $line['uemail']; ?>" class="invite invite_<?php echo $id; ?>" style="width:230px; height:14px;" /><br />
                                                        <a href="javascript:doNothing();" class="btn btn-primary btn-mini invitetrigger" style="margin-top:5px;" id="invite_<?php echo $id; ?>" title="Invite <?php echo $firstname; ?> to join <?php echo $this->translate('appname'); ?>"><i class="icon-envelope icon-white"></i> Invite</a>
                                                        <label class="hide invite_<?php echo $id; ?>" title="<?php echo $id; ?>"><?php echo $id; ?></label>                            
                                                        <div id="invite_<?php echo $id; ?>_error" style="margin-top:4px;"></div>
                                                    </span>
                                                    <span class="inv_after" id="inv_after_<?php echo $id; ?>">
                                                        <a id="loading_<?php echo $id; ?>" class="hidden"><img style="margin-left:0" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" /></a>
                                                    </span>
                                                    <?php if($line['isinvited'] == 1 && $line['hasacceptedinvite'] == 0){ ?>
                                                        <span class="pagedescription alert alert-info" style="display:block; text-align:center; padding:2px; margin-top:5px; margin-bottom:0;">Invited. Confirmation pending</span>
                                                    <?php } ?>

                                                <?php } ?>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </li>
                	<?php } ?>    
            	</ul>
            	<?php echo $paginate->getPaginationLinks(); ?>  
            <?php } ?>
		</div> 
       </form>         
	</div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
