<div id="account">
            <h2>Account Settings</h2>
            <form id="profileform-account" class="form-horizontal account">
                <?php if($request->tab == 'account'){ ?>
                <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>
                <?php if($sessionhaserror) { ?>
                    <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                <?php } ?> 
                <div class="row" style="margin-left:0px;">
                    <span class="span6 marginleft0" style="width:97%;">
                        <div class="well row marginleft0" style="min-height:150px; padding-left:10px;">     
                        <h3 class="well-legend">Login Credentials</h3>                   
                            <table class="table">                       
                               <tr>		                    
                                    <td width="20%"><label class="control-label leftalign">Email: </label></td>
                                    <td><?php echo $farmer->getUser()->getEmail(); ?> &nbsp;
                                    	<a href="<?php echo $this->baseUrl('profile/changeemail/id/'.encode($farmer->getUserID()).'/pgc/true'); ?>" class="addpopup changeemail pull-right" title="Change Email" rel="Change Email" id="changeemail" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/account'); ?>" action="<?php echo $this->baseUrl("profile/processchangeemail"); ?>">Change Email</a></td>
                               </tr>
                               <?php if(!isEmptyString($farmer->getUser()->getEmail2()) && !isEmptyString($farmer->getUser()->getActivationKey())){ ?>
                                   <tr>		                    
                                        <td width="20%"><label class="control-label leftalign">New Email Requested: </label>
                                         <span class="pagedescription alert alert-info" style="display:block; text-align:center; padding:2px; margin-top:5px; margin-bottom:0;">Confirmation pending</span>
                                        </td>
                                        <td><div class="makerelative">
											<?php echo $farmer->getUser()->getEmail2(); ?> <br />
                                        	<span class="blocked" style="padding-top:5px; margin-bottom:0; padding-bottom:0;">
                                            	<input type="text" name="code" id="code" placeholder="enter 6 digit code" title="Confirm Email" value="" maxlength="6" style="width:70px; padding:3px;" class="padding3" />
                                                <a href="javascript:doNothing();" class="btn btn-primary btn-mini" id="confirmemail" userid="<?php echo encode($farmer->getUserID()); ?>" ref="<?php echo encode($farmer->getUser()->getEmail2()); ?>" title="Confirm Email"><i class="icon-envelope icon-white"></i> Confirm</a>
                                                <div id="code_email_error" style="margin-top:2px;"></div>
                                            </span>
                                        
                                        	<a href="<?php echo $this->baseUrl('profile/resendemailcode/id/'.encode($farmer->getUserID())); ?>" style="position:absolute; right:0; top:0;" title="Resend Activation code" id="resend">Resend code</a></div></td>
                                   </tr>
                               <?php } ?>
                               <tr>		                    
                                    <td><label class="control-label leftalign">Username: </label></td>
                                    <td><?php echo $farmer->getUser()->getUserName(); ?> &nbsp;
                                    	<a href="<?php echo $this->baseUrl('profile/changeusername/id/'.encode($farmer->getUserID()).'/pgc/true'); ?>" class="addpopup changeusername pull-right" title="Change Username" rel="Change Username" id="changeusername" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/account'); ?>" action="<?php echo $this->baseUrl("profile/processchangeusername"); ?>">Change Username</a>
                               </tr>
                               <tr>		                    
                                    <td><label class="control-label leftalign">Phone: </label></td>
                                    <td><div class="makerelative"><?php echo isEmptyString($phone) ? '--' : $phone; ?> 
                                    	
                                    	<?php if(!$userphone->isValidated()){ ?>
											<?php echo $valid_text; ?>
                                            <?php if(!$validated && !$allowrevalidate && !isEmptyString($phone)){ ?>
                                               <a style="display:block; margin-top:10px;" href="<?php echo $this->baseUrl('farmer/validatephone/userphoneid/'.encode($userphoneid).'/pgc/true'); ?>" class="btn btn-primary btn-mini addpopup width100" rel="Validate Phone" title="Validate Mobile Phone" id="validate" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/account'); ?>" action="<?php echo $this->baseUrl("farmer/processvalidatephone"); ?>" submittext="Request Code">Validate Phone</a>
                                            <?php } ?>
                                            <?php if(!$validated && $allowrevalidate){ ?>
                                                <a href="javascript: void(0);<?php //echo $this->baseUrl('farmer/validatephone/userphoneid/'.encode($userphoneid).'/pgc/true'); ?>" class="xaddpopup" rel="Re-send Validation Code" title="Re-send Validation Code" id="xvalidate" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/account'); ?>" action="<?php echo $this->baseUrl("farmer/processvalidatephone"); ?>" submittext="Request Code">Re-send</a>
                                            <?php } ?>
                                            <?php if(!$validated && $allowrevalidate){ ?>
                                                <span class="phone_before" id="phone_before_<?php echo $userphoneid; ?>">
                                                    <input type="text" name="phone_<?php echo $userphoneid; ?>" id="phone_<?php echo $userphoneid; ?>" placeholder="enter 6 digit code" title="Confirm Phone" value="" maxlength="6" class="validate validate_<?php echo $userphoneid; ?>" />
                                                    <a href="javascript:doNothing();" class="btn btn-primary btn-mini validatetrigger" id="validate_<?php echo $userphoneid; ?>" title="Confirm Phone" successurl="<?php echo encode($this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/account')); ?>"><i class="icon-envelope icon-white"></i> Confirm</a>
                                                    <label class="hide validate_<?php echo $userphoneid; ?>" title="<?php echo $userphoneid; ?>"><?php echo $userphoneid; ?></label>                            
                                                    <div id="validate_<?php echo $userphoneid; ?>_error" style="margin-top:4px;"></div>
                                                </span>
                                                <span class="phone_after" id="phone_after_<?php echo $userphoneid; ?>">
                                                    <a id="loading_<?php echo $userphoneid; ?>" class="hidden"><img style="margin-left:0" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" /></a>
                                                </span>
                                            <?php } ?>
                                        <?php } ?>
                                    	<?php if(!$userphone->hasPendingActivation() && $userphone->isValidated()){ ?>
                                        	<a href="<?php echo $this->baseUrl('profile/changephone/id/'.encode($farmer->getUserID()).'/pgc/true'); ?>" class="addpopup changephone" style="position:absolute; right:0; top:0;" title="Change Phone" rel="Change Phone" id="changephone" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/account'); ?>" action="<?php echo $this->baseUrl("profile/processchangephone"); ?>">Change Phone</a>
                                        <?php } ?></div>
                                    </td>
                               </tr>
                               <?php if(!isEmptyString($userphone2->getPhone()) && $userphone2->hasPendingActivation()){ ?>
                               <tr>		                    
                                    <td><label class="control-label leftalign">New Phone: </label>
                                    	<span class="pagedescription alert alert-info" style="display:block; text-align:center; padding:2px; margin-top:5px; margin-bottom:0;">Confirmation pending</span>
                                    </td>
                                    <td><div class="makerelative">
											<?php echo $altphone; ?> &nbsp;
                                        	<span class="blocked" style="padding-top:5px; margin-bottom:0; padding-bottom:0;">
                                            	<input type="text" name="code" id="code" placeholder="enter 6 digit code" title="Confirm Phone" value="<?php //echo $farmer->getUser()->getSecondaryPhone()->getActivationKey(); ?>" maxlength="6" style="width:70px; padding:3px;" class="padding3" />
                                                <a href="javascript:doNothing();" class="btn btn-primary btn-mini" id="confirmphone" userid="<?php echo encode($farmer->getUserID()); ?>" ref="<?php echo encode($farmer->getUser()->getAltPhone()); ?>" title="Confirm Phone"><i class="icon-envelope icon-white"></i> Confirm</a>
                                                <div id="code_phone_error" style="margin-top:2px;"></div>
                                            </span>
                                        
                                        	<a href="javascript: void(0)<?php // echo $this->baseUrl('profile/resendphonecode/id/'.encode($farmer->getUserID())); ?>" style="position:absolute; right:0; top:0;" title="Resend Activation code" id="resend">Resend code</a></div>
                                    </td>
                               </tr>
                               <?php } ?>
                               <tr>		                    
                                    <td><label class="control-label leftalign"><?php echo $this->translate("useraccount_password_label"); ?>: </label></td>
                                    <td><b style="font-size:16px;">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</b> &nbsp;
                                    <a class="changepassword pull-right" id="changepassword" rel="Change Password" href="<?php echo $this->baseUrl('profile/changepassword/pgc/true/id/'.encode($farmer->getUser()->getID())); ?>">Change Password</a></td>
                               </tr>
                            </table>
                        </div>
                    </span>
                </div>
                <div class="well row marginleft0" style="min-height:200px; width:94%;">
                    <h3 class="well-legend">Prefference Settings</h3>
                    <table class="table">                       
                        <tr>
                            <td style="padding-left:10px;">
                            	<div class="makerelative">
                                	<span id="emailmeonmessage_wait" class="hidden" style="position:absolute; left:-5px; top:0;">
                                    	<img style="width:20px;" src='<?php echo $this->baseUrl('images/farmisloader.gif'); ?>' />
                                    </span>
                                    <fieldset id="emailmeonmessage" class="radio btn-group lineblocked" style="width:85px;">
                                        <input type="radio" id="emailmeonmessage1" name="emailmeonmessage" class="changesetting <?php echo $farmer->getUser()->getEmailMeOnMessage() == 1 ? 1 : 0; ?>" value="1" field="emailmeonmessage" farmerid="<?php echo $farmer->getID(); ?>" /><label id="lbl-emailmeonmessage1" for="emailmeonmessage1">Yes</label>
                                        <input type="radio" id="emailmeonmessage0" name="emailmeonmessage" class="changesetting <?php echo $farmer->getUser()->getEmailMeOnMessage() == 0 ? 1 : 0; ?>" value="0" field="emailmeonmessage" farmerid="<?php echo $farmer->getID(); ?>" /><label id="lbl-emailmeonmessage0" for="emailmeonmessage0">No</label>
                                    </fieldset>
                                    &nbsp;<div class="lineblocked" style="margin-top:6px; vertical-align:top;"><?php echo $this->translate("useraccount_emailmeonmessage_label"); ?></div>
                             	</div>   
                            </td>
                        </tr>
                      	<tr>
                            <td>
                            	<div class="makerelative">
                                	<span id="emailmeoncomment_wait" class="hidden" style="position:absolute; left:-5px; top:0;">
                                    	<img style="width:20px;" src='<?php echo $this->baseUrl('images/farmisloader.gif'); ?>' />
                                    </span>
                                    <fieldset id="emailmeoncomment" class="radio btn-group lineblocked" style="width:85px;">
                                        <input type="radio" id="emailmeoncomment1" name="emailmeoncomment" class="changesetting <?php echo $farmer->getUser()->getEmailMeOnComment() == 1 ? 1 : 0; ?>" value="1" field="emailmeoncomment" farmerid="<?php echo $farmer->getID(); ?>" /><label id="lbl-emailmeoncomment1" for="emailmeoncomment1">Yes</label>
                                        <input type="radio" id="emailmeoncomment0" name="emailmeoncomment" class="changesetting <?php echo $farmer->getUser()->getEmailMeOnComment() == 0 ? 1 : 0; ?>" value="0" field="emailmeoncomment" farmerid="<?php echo $farmer->getID(); ?>" /><label id="lbl-emailmeoncomment0" for="emailmeoncomment0">No</label>
                                    </fieldset>
                                    &nbsp;<div class="lineblocked" style="margin-top:6px; vertical-align:top;"><?php echo $this->translate("useraccount_emailmeoncomment_label"); ?></div>
                                </div>   
                            </td>
                        </tr>
                    </table>
                </div>
                <?php } ?>
            </form>
        </div>