<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$farmer = new Farmer();
	
	$theid = decode($request->id);
	if(isEmptyString($theid)){
		$theid = $farmerid;
	}
	$username = $request->username;
	if(!isEmptyString($username)){
		// debugMessage('user is '.$username);
		$user = new UserAccount();
		$user->findByUsername($username);
		if($user->findByUsername($username)){
			$farmer = $user->getFarmer();
		} else {
			$farmer = new Farmer();
		}
	} else {
		$farmer->populate($theid);
	}
	
	// debugMessage($farmer->toArray()); exit();
	$id = $farmer->getID();	
	$name = $farmer->getName();
	$firstname = $farmer->getFirstName();
	
	#cleanup address
	if(!isEmptyString($farmer->getID())){
		// $farmer->cleanUpAddress();
	}
	
	# profile for one viewing
	$isme = false;
	if($farmerid == $farmer->getID()){
		$isme = true;
	}
	
	# determine farm
	$hasfarm = false;
	$hasmultiplefarms = false;
	$hasnofarm = false;
	$countfarms = $farmer->getFarms()->count();
	if($countfarms == 0){
		$farmlabel = "Setup Farm";
		$hasnofarm = true;
	}
	if($countfarms == 1){
		$hasfarm = true;
		$farmid = $farmer->getFarms()->get(0)->getID();
		$farmlabel = "Manage Farm";
	}
	if(!isEmptyString($farmer->getFarm()->getID())){
		$hasfarm = true;
		$farmid = $farmer->getFarm()->getID();
	}
	if($countfarms > 1){
		$hasmultiplefarms = true;
		$farmlabel = "Manage Farms";
	}
	
	if(isEmptyString($request->tab)) {
		$request->setParam('tab', 'basics');
	}
	
	if($request->tab == 'contacts' || $request->tab == 'account') {
		$userphone = $farmer->getUser()->getPrimaryPhone();
		$phone = getShortPhone($userphone->getPhone());
		$userphoneid = $userphone->getID();
		
		$validated = false;
		$valid_text = '';
		if(!isEmptyString($phone)){
			$valid_text = '&nbsp; (Unconfirmed)';
		}
		$allowrevalidate = false;
		if(!isEmptyString($phone) && $userphone->isValidated()){
			$validated = true;
			$valid_text = '&nbsp; <span class="pagedescription" style="color:#55A411;">(Validated)</span';
		}
		if($userphone->hasPendingActivation()){
			$allowrevalidate = true;
		}
		
		$userphone2 = $farmer->getUser()->getSecondaryPhone();
		$altphone = getShortPhone($userphone2->getPhone());
		$userphone2id = $userphone2->getID(); 
		
		$svalidated = false;
		$svalid_text = '';
		if(!isEmptyString($altphone)){
			$svalid_text = '&nbsp; (Unconfirmed)';
		}
		$sallowrevalidate = false;
		if($userphone2->isValidated()){
			$svalidated = true;
			$svalid_text = '&nbsp; <span class="pagedescription" style="color:#55A411;">(Validated)</span';
		}
		if($userphone2->hasPendingActivation()){
			$sallowrevalidate = true;
		}

	}
	$loadgps = false;
	$title = $farmer->getName();
	$this->headTitle($title);
	
?>
<?php if($loadgps && $farmer->hasGPSCoordinates() && $request->tab == 'basics'){ ?>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD5m-H5m0gaaw1EfpFXa2R9HIkbXN-dGsA&sensor=false"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('javascript/maps/8.gmap3.min.js'); ?>"></script>
<?php } ?>
<script>
$(document).ready(function() {
	
	// remove box style if person has no profile picture
	<?php if($farmer->hasProfileImage()){ ?>
		$("#profileinfo").addClass('new_pic');
	<?php } ?>
	
	equalHeight($("#row1_left, #row1_right"));
	equalHeight($("#row2_left, #row2_right"));
	
	<?php if($loadgps && $farmer->hasGPSCoordinates() && $request->tab == 'basics'){ ?>
		var name = '<?php echo $farmer->getFirstName(); ?>';
		var lat = '<?php echo $farmer->getLat(); ?>';
		var lng = '<?php echo $farmer->getLng(); ?>';
		var lat_gps = '<?php echo $farmer->getLatGPSFormatted2(); ?>';
		var lng_gps = '<?php echo $farmer->getLngGPSFormatted2(); ?>';
		// var pos = [0.308828, 32.551072];
		var pos = [lat, lng];
			$("#map").gmap3(
				{action:'addMarker',
					latLng: pos,
					map:{
						center: true,
						zoom: 14
					},
					infowindow:{
						options:{
							content: name+" 's Location (Sitting Room) <br /> "+lat+", "+lng+"<br />N"+lat_gps+", S"+lng_gps
						}
					}
				}
			);
	<?php } ?>
	<?php if($request->tab == 'contacts'){ ?>
		$('.validate').keydown(function (event) {
		   var keycode = (event.keyCode ? event.keyCode : event.which);
			if (keycode == '13') {
				$('.validatetrigger').click();
			}
		});
	<?php } ?>
	<?php if($request->tab == 'account'){ ?>
		$("#confirmemail").click(function(){
			var code = $("#code").val();
			var id = $(this).attr('userid');
			var ref = $(this).attr('ref');
			
			var validcode = true;
			var clength = code.length;
			if(isEmptyString(code) || (!isEmptyString(code) && clength < 6)) {
				$("div#code_email_error").html('<div class="alert alert-error">Please enter 6 digit code</div>');
				$("div.alert-error").css({'background': 'url("<?php echo $this->baseUrl('images/cross.png'); ?>") no-repeat #EDDBE3 5px 8px'});
				validcode = false;
			}
			// check that email is provided
			if(validcode) {
				$("div#code_email_error").html('');
				var url = '<?php echo $this->baseUrl("profile/changeemail"); ?>/id/'+id+'/actkey/'+code+'/ref/'+ref;
				// alert(url);
				window.location.href = url;
			}
		});
		
		$("#confirmphone").click(function(){
			var code = $("#code").val();
			var id = $(this).attr('userid');
			var ref = $(this).attr('ref');
			
			var validcode = true;
			var clength = code.length;
			if(isEmptyString(code) || (!isEmptyString(code) && clength < 6)) {
				$("div#code_phone_error").html('<div class="alert alert-error">Please enter 6 digit code</div>');
				$("div.alert-error").css({'background': 'url("<?php echo $this->baseUrl('images/cross.png'); ?>") no-repeat #EDDBE3 5px 8px'});
				validcode = false;
			}
			// check that email is provided
			if(validcode) {
				$("div#code_phone_error").html('');
				var url = '<?php echo $this->baseUrl("profile/changephone"); ?>/id/'+id+'/actkey/'+code+'/ref/'+ref;
				// alert(url);
				window.location.href = url;
			}
		});
		
		$('.changesetting').click(function(){
			var farmerid = $(this).attr('farmerid');
			var field = $(this).attr('field');
			var value = $(this).val();
			// alert(farmerid+' - '+field+' - '+value);
			var url = '<?php echo $this->baseUrl("farmer/changesettings"); ?>/farmerid/'+farmerid+'/field/'+field+'/value/'+value; 
			// alert(url);
			$.post( 
				url,  
				function(data){
					//  alert(data); return false;
					$("#"+field+"_wait").addClass('hidden');
				}  
			); // close the $.post
			$("#"+field+"_wait").removeClass('hidden');								
		});
	<?php } ?>
	
}); 
</script>
<style>
#map {
	width: 100%;
	height: 450px;
}
#center .ui-widget-content {
	width:100%;
	float:left;
}
.alert.alert-success {
	width:90%;
}

</style>
<!--<h1><?php //echo $title; ?></h1>-->
<div id="tabs">
    <?php require APPLICATION_PATH."/views/scripts/farmer/farmerleftcolumn.phtml"; ?>
    <div class="span9 tab-content" id="center">   
        <div id="basics">
            <form id="profileform-basics" class="form-horizontal basics">
            <?php if($request->tab == 'basics'){ ?>
            <h2><?php echo $title; ?></h2>
        	<div class="row" style="margin-left:0px;">
                <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>
                <span class="span6 marginleft0" style="width:70%;">
                    <div id="row1_left" class="well row marginleft0" style="min-height:250px; padding-left:10px;">                        
                        <table class="table noborder">                       
                           <tr>
                                <td style="width:20%;"><label class="control-label"><?php echo "Full ".$this->translate("farmer_name_label"); ?>:</label></td>
                                <td style="width:32%;"><?php echo $farmer->getName(); ?><?php echo $farmer->getSalutationLabel(); ?></td>
                                <td style="width:23%;"><label class="control-label"><?php echo $this->translate("farmer_gender_label"); ?>:</label></td>
                                <td><?php echo $farmer->getGenderLabel(); ?></td>                                                             
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("farmer_country_label"); ?>:</label></td>
                                <td><?php echo $farmer->getUser()->getAddress()->getCountryName(); ?></td>
                                <td><label class="control-label"><?php echo $this->translate("farmer_location_label"); ?>:</label></td>
                                <td><?php echo isEmptyString($farmer->getUser()->getLocationID()) ? '--' : $farmer->getUser()->getLocation()->getName(); ?></td>                           
                            </tr>
                            <tr>
                            	<td><label class="control-label"><?php echo $this->translate("farmer_dateofbirth_label"); ?>:</label></td>
                                <td><?php echo $farmer->getUser()->getBirthDateFormatted(); ?></td>
                                <td><label class="control-label"><?php echo $this->translate("farmer_dateregistered_label"); ?>:</label></td>
                                <td><?php echo isEmptyString($farmer->getRegDate()) ? '--' : changeMySQLDateToPageFormat($farmer->getRegDate()); ?></td>          
                            </tr>
                            <tr>		                    
                                <td><label class="control-label prefix"><?php echo $this->translate("farmer_refno_label"); ?>:</label></td>
                                <td><?php echo $farmer->getRefNo(); ?></td>
                                <td><label class="control-label prefix"><?php echo $this->translate("farmer_regno_label"); ?>:</label></td>
                                <td><?php echo $farmer->getRegNo(); ?></td>  
                            </tr>       
                            <tr>
                                <td><label class="control-label"><?php //echo $this->translate("farmer_profilepath_label").':'; ?></label></td>
                                <td colspan="3"><?php //echo $farmer->getUser()->getProfilePath(); ?></td>                                                             
                            </tr>
                            <?php if($farmer->hasFarmGroup()){ ?>  
                            <tr>
                                <td colspan="2"><label class="control-label"><?php echo $this->translate("farmer_group_label"); ?>:</label>
									<?php echo isEmptyString($farmer->getFarmGroupID()) ? '--' : $farmer->getFarmGroup()->getName(); ?></td>
                                <td colspan="2">
                                	<?php if($farmer->hasSubGroup()){ ?>  
                                        <label class="control-label"><?php echo $this->translate("farmer_subgroup_label"); ?>:</label>
                                        <?php echo isEmptyString($farmer->getFarmGroupID()) ? '--' : $farmer->getSubGroup()->getName(); ?>
                                    <?php } ?>
                                </td>
                            </tr>
                            <?php } else { ?>
                                <tr>
                                    <td colspan="2"><label class="control-label">Farming Support Provider:</label>
                                        <?php echo isEmptyString($farmer->getSupportProvider()) ? '--' : $farmer->getSupportProvider(); ?></td>
                                    <td colspan="2"></td>
                                </tr>	
                            <?php } ?>
                            <?php if($farmer->isFarmer()){ ?>
                            <tr>
                                <td colspan="2" style="width:50%;"><label class="control-label">Support Received <?php echo !$farmer->hasFarmGroup() ? "from Provider" : "in Farm Group"; ?>:</label>
                                    <?php echo $farmer->getSupportTypesLabel(); ?>
                                </td>
                                <td colspan="2"><label class="control-label"><?php echo $this->translate("farmer_farminigtypes_label"); ?>: </label>
                                    <?php echo $farmer->getFarminigTypesLabel(); ?>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="width:50%;"><label class="control-label"><?php echo !$farmer->hasFarmGroup() ? 'Leadership Role <span class="pagedescription">(If any)</span>' : 'Leadership Role in Group'; ?>: </label>
                                    <?php echo isEmptyString($farmer->getLeadershipRole()) ? '--' : $farmer->getLeadershipRole(); ?>
                                </td>
                                <td colspan="2"><label class="control-label"><?php echo $this->translate("farmer_activities_label"); ?>:</label>
                                    <?php echo $farmer->getActivityTypesLabel(); ?>
                                </td>
                            </tr>
                            <?php } ?>
                        </table>
                    </div>
                    <div id="xrow2_left" class="well row marginleft0" style="min-height:115px;">
                        <h3 class="well-legend margin0">About</h3>
                        <table class="table">                       
                           <tr>		                    
                                <td valign="top"><?php echo isEmptyString($farmer->getUser()->getBio()) ? '--' : nl2br($farmer->getUser()->getBio()); ?></td>
                           </tr>
                        </table>
                    </div>                    
                    
                </span> 
                <span class="span3 pull-right" style="width:24%; margin-right:20px; ">
                    <div id="xrow1_right" class="well row" style="min-height:115px;">
                        <h3 class="well-legend margin0">Quick Links</h3>
                        <table class="table">                       
                           <tr>		                    
                                <td class="formactions">
								<?php if($isme || isFarmGroupAdmin() || isAdmin()){ ?>
                          			<a class="btn btn-primary" style="width:65px;" href="<?php echo $this->baseUrl('farmer/index/id/'.encode($id)); ?>" id="update"><i class="icon-pencil icon-white"></i> Update</a> &nbsp;
                                <?php } ?>
                                <?php if($isme || isFarmGroupAdmin() || isAdmin()){ ?>
                                	<a style="display:inline-block; "href="javascript: void(0)" id="deleteline_multiple" title="Delete Entry" class="btn btn-mini deleteline noimgbutton" action="<?php echo $this->baseUrl('farmer/delete/id/'.$farmer->getID()."/entityname/Farmer/successurl/".encode($this->baseUrl('farmer/list'))); ?>"><i class="icon-trash"></i></a>
                                <?php } ?>
                                <a class="btn btn-primary" href="<?php echo $this->baseUrl('report/primarybaseline/id/'.$id); ?>" title="Report" id="update"><i class="icon-list-alt icon-white"></i> View Report</a>
                              	</td>
                           </tr>
                        </table>
                    </div>
                    <div id="xrow2_right" class="well row" style="min-height:310px;">
                        <h3 class="well-legend margin0">Summary</h3>
                        <table class="table table-striped table-bordered table-condensed" id="stats">
                            <tr>		                    
                                <td class="profilerightlabel">Account Type:</td>
                                <td class="profilerightvalue"><?php echo $farmer->getUser()->getPlan()->getName(); ?></td>
                            </tr>
                            <tr>		                    
                                <td class="profilerightlabel">Date Joined:</td>
                                <td class="profilerightvalue"><?php echo isEmptyString($farmer->getUser()->getActivationDate()) ? '--' : changeMySQLDateToPageFormat($farmer->getUser()->getActivationDate()); ?></td>
                            </tr>
                            <tr>		                    
                                <td class="profilerightlabel">Subscription Start:</td>
                                <td class="profilerightvalue"><?php echo changeMySQLDateToPageFormat($farmer->getUser()->getLatestSubscription()->getStartDate()); ?></td>
                            </tr>
                            <tr>		                    
                                <td class="profilerightlabel">Expiry Date:</td>
                                <td class="profilerightvalue"><?php echo changeMySQLDateToPageFormat($farmer->getUser()->getLatestSubscription()->getEndDate()); ?></td>
                            </tr>
                            
                        </table>
                    </div>
                </span>		
        	</div>
            <div class="well row marginleft0" style="width:940px; height:auto; margin-left:-230px;">
                <h3 class="well-legend margin0">Location Map</h3>
                <table class="table table-bordered margin0 padding0" style="margin-top:5px;">                       
                    <tr>		                    
                        <td class="padding0"><div id="map"></div></td>
                    </tr>
                </table>
            </div>
            <?php } ?>
        	</form> 
        </div>
        <div id="contacts">
            <!--<h2>Contact Information</h2>-->
            <form id="profileform-contacts" class="form-horizontal contacts">
                <?php if($request->tab == 'contacts'){ ?>
                <h2><?php echo $title; ?></h2>
                <div class="row" style="margin-left:0px;">
                	<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                        <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                    <?php } ?>
                    <span class="span6 marginleft0" style="width:97%;">
                        <div class="well row marginleft0" style="min-height:150px;">  
                        <span style="position:absolute; right:10px; top:5px;">
                            <?php if($isme || isFarmGroupAdmin() || isAdmin()){ ?>
                                <a class="btn btn-primary btn-mini" href="<?php echo $this->baseUrl('farmer/index/id/'.encode($id).'/tab/contacts'); ?>" id="update"><i class="icon-pencil icon-white"></i> Update</a>                                       
                            <?php } ?>
                        </span>        
                        <h3 class="well-legend">Contact Information</h3>                   
                            <table class="table">
                                <tr>
                                    <td width="50%"><label class="control-label">Phone:</label>
										<?php echo isEmptyString($phone) ? '--' : $phone; ?><?php echo $valid_text; ?>
                                        <?php if(!$validated && $allowrevalidate){ ?>
                                        	<a href="javascript: void(0);<?php //echo $this->baseUrl('farmer/validatephone/userphoneid/'.encode($userphoneid).'/pgc/true'); ?>" class="xaddpopup" rel="Re-send Validation Code" title="Re-send Validation Code" id="xvalidate" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/contacts'); ?>" action="<?php echo $this->baseUrl("farmer/processvalidatephone"); ?>" submittext="Request Code">Re-send</a>
                                        <?php } ?>
                                        <?php if(!$validated && !$allowrevalidate && !isEmptyString($phone)){ ?>
                                            <a style="display:block; margin-top:10px;" href="<?php echo $this->baseUrl('farmer/validatephone/userphoneid/'.encode($userphoneid).'/pgc/true'); ?>" class="btn btn-primary btn-mini addpopup width100" rel="Validate Phone" title="Validate Mobile Phone" id="validate" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/contacts'); ?>" action="<?php echo $this->baseUrl("farmer/processvalidatephone"); ?>" submittext="Request Code">Validate Phone</a>
                                        <?php } ?>
                                        <?php if(!$validated && $allowrevalidate){ ?>
                                        	<span class="phone_before" id="phone_before_<?php echo $userphoneid; ?>">
                                            	<input type="text" name="phone_<?php echo $userphoneid; ?>" id="phone_<?php echo $userphoneid; ?>" placeholder="enter 6 digit code" title="Confirm Phone" value="" maxlength="6" class="validate validate_<?php echo $userphoneid; ?>" />
                                                <a href="javascript:doNothing();" class="btn btn-primary btn-mini validatetrigger" id="validate_<?php echo $userphoneid; ?>" title="Confirm Phone" successurl="<?php echo encode($this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/contacts')); ?>"><i class="icon-envelope icon-white"></i> Confirm</a>
                                                <label class="hide validate_<?php echo $userphoneid; ?>" title="<?php echo $userphoneid; ?>"><?php echo $userphoneid; ?></label>                            
                                                <div id="validate_<?php echo $userphoneid; ?>_error" style="margin-top:4px;"></div>
                                            </span>
                                            <span class="phone_after" id="phone_after_<?php echo $userphoneid; ?>">
                                                <a id="loading_<?php echo $userphoneid; ?>" class="hidden"><img style="margin-left:0" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" /></a>
                                            </span>
                                            <?php if($sessionhaserror) { ?>
                                                <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                                            <?php } ?>
                                        <?php } ?>
                                    </td>
                                    <td><label class="control-label">Alt Phone:</label>
                                        <?php echo isEmptyString($altphone) ? '--' : $altphone; ?> <?php echo $svalid_text; ?>
                                        <?php if(!$svalidated && $sallowrevalidate && !isEmptyString($altphone)){ ?>
                                        	
                                        	<a href="javascript:void(0)<?php //echo $this->baseUrl('farmer/validatephone/userphoneid/'.encode($userphone2id).'/pgc/true'); ?>" class="xaddpopup" rel="Re-send Validation Code" title="Re-send Validation Code" id="validate" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/contacts'); ?>" action="<?php echo $this->baseUrl("farmer/processvalidatephone"); ?>" submittext="Request Code">Re-send</a>
                                        <?php } ?>
                                        <?php if(!$svalidated && !$sallowrevalidate && !isEmptyString($altphone)){ ?>
                                            <a style="display:block; margin-top:10px;" href="<?php echo $this->baseUrl('farmer/validatephone/userphoneid/'.encode($userphone2id).'/pgc/true'); ?>" class="btn btn-primary btn-mini addpopup width100" rel="Validate Phone" title="Validate Mobile Phone" id="validate" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/contacts'); ?>" action="<?php echo $this->baseUrl("farmer/processvalidatephone"); ?>" submittext="Request Code">Validate Phone</a>
                                        <?php } ?>
                                        <?php if(!$svalidated && $sallowrevalidate && !isEmptyString($altphone)){ ?>
                                        	<span class="phone_before" id="phone_before_<?php echo $userphoneid; ?>">
                                            	<input type="text" name="phone_<?php echo $userphone2id; ?>" id="phone_<?php echo $userphone2id; ?>" placeholder="enter 6 digit code" title="Confirm Phone" value="" maxlength="6" class="validate validate_<?php echo $userphone2id; ?>" />
                                                <a href="javascript:doNothing();" class="btn btn-primary btn-mini validatetrigger" id="validate_<?php echo $userphone2id; ?>" title="Confirm Phone" successurl="<?php echo encode($this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/contacts')); ?>"><i class="icon-envelope icon-white"></i> Confirm</a>
                                                <label class="hide validate_<?php echo $userphone2id; ?>" title="<?php echo $userphone2id; ?>"><?php echo $userphone2id; ?></label>                            
                                                <div id="validate_<?php echo $userphone2id; ?>_error" style="margin-top:4px;"></div>
                                            </span>
                                            <span class="phone_after" id="phone_after_<?php echo $userphone2id; ?>">
                                                <a id="loading_<?php echo $userphone2id; ?>" class="hidden"><img style="margin-left:0" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" /></a>
                                            </span>
                                            <?php if($sessionhaserror) { ?>
                                                <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                                            <?php } ?>
                                        <?php } ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Email:</label>
                                    	<?php if(isFarmer()){ ?>
                                       		<?php echo isEmptyString($farmer->getUser()->getEmail()) ? '--' : $farmer->getUser()->getEmail(); ?>
                                            
                                        <?php } ?>
                                        <?php if(isFarmGroupAdmin() || isAdmin()){ ?>
                                        	<?php if($farmer->getUser()->isUserActive()){ ?>
												<?php echo isEmptyString($farmer->getUser()->getEmail()) ? '--' : $farmer->getUser()->getEmail(); ?>
                                            <?php } else { ?>
                                                    <span class="inv_before" id="inv_before_<?php echo $id; ?>" style="margin-top:2px;">
                                                        <input type="text" name="email_<?php echo $id; ?>" id="email_<?php echo $id; ?>" placeholder="enter email" title="Invite <?php echo $farmer->getFirstName(); ?> to join FARMIS" value="<?php echo $farmer->getUser()->getEmail(); ?>" class="invite invite_<?php echo $id; ?>" style="width:230px;" /><br />
                                                        <a href="javascript:doNothing();" class="btn btn-primary btn-mini invitetrigger" style="margin-top:5px;" id="invite_<?php echo $id; ?>" title="Invite <?php echo $farmer->getFirstName(); ?> to join <?php echo $this->translate('appname'); ?>"><i class="icon-envelope icon-white"></i> Invite</a>
                                                        <label class="hide invite_<?php echo $id; ?>" title="<?php echo $id; ?>"><?php echo $id; ?></label>                            
                                                        <div id="invite_<?php echo $id; ?>_error" style="margin-top:4px;"></div>
                                                    </span>
                                                    <span class="inv_after" id="inv_after_<?php echo $id; ?>">
                                                        <a id="loading_<?php echo $id; ?>" class="hidden"><img style="margin-left:0" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" /></a>
                                                    </span>
                                                
                                                <?php if($farmer->getIsInvited() == 1 && $farmer->getHasAcceptedInvite() == 0){ ?>
                                                	<span class="pagedescription alert alert-info" style="display:block; text-align:center; padding:2px; margin-top:5px; margin-bottom:0;">Farmer invited. Confirmation pending</span>
                                                <?php } ?>
                                            <?php } ?>
                                        <?php } ?>
                                    </td>
                                    <td><label class="control-label">Alt Email:</label>
                                    	<?php echo isEmptyString($farmer->getUser()->getEmail2()) ? '--' : $farmer->getUser()->getEmail2(); ?>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </span>
                </div>
                <div class="well row marginleft0" style="min-height:100px; width:94%;">
                    <h3 class="well-legend">Address</h3>
                    <?php $address = $farmer->getUser()->getAddress(); ?>
                    <table class="table">                       
                       <tr>
                            <td width="35%"><label class="control-label">Country:</label>
                                <?php echo isEmptyString($address->getCountry()) ? '--' : $address->getCountryName(); ?>
                            </td>
                            <td width="30%"><label class="control-label">District:</label>
                                <?php echo isEmptyString($address->getDistrictID()) ? '--' : $address->getDistrict()->getName(); ?>
                            </td>
                            <td width="35%"><label class="control-label">County:</label>
                                <?php echo isEmptyString($address->getCountyID()) ? '--' : $address->getCounty()->getName(); ?>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Sub-county:</label>
                                <?php echo isEmptyString($address->getSubCountyID()) ? '--' : $address->getSubCounty()->getName(); ?>
                            </td>
                            <td><label class="control-label">Parish:</label>
                                <?php echo isEmptyString($address->getParishID()) ? '--' : $address->getParish()->getName(); ?>
                            </td>
                            <td><label class="control-label">Village:</label>
                                <?php echo isEmptyString($address->getVillageID()) ? '--' : $address->getVillage()->getName(); ?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><label class="control-label">Postal/Street Address</label>
                                <?php echo isEmptyString($address->getStreetAddress()) ? '--' : nl2br($address->getStreetAddress()); ?>
                            </td>
                        </tr>
                    </table>
                </div>
               <div class="well row marginleft0" style="min-height:100px; width:94%;">
                    <h3 class="well-legend">Location / Position</h3>
                    <table class="table">  
                       <tr>
                            <td colspan="2"><label class="control-label">Geographical Cordinates</label></td>
                            <td colspan="2"><label class="control-label">GPS Cordinates:</label></td>
                       </tr>
                       <tr>
                            <td width="15%"><label class="control-label">Latitude:</label></td>
                            <td width="30%"><?php echo $farmer->getLat(); ?></td>
                            <td width="15%"><label class="control-label">Latitude:</label></td>
                            <td><?php echo $farmer->getLatGPSFormatted(); ?></td>
                       </tr>
                       <tr>
                            <td><label class="control-label">Longitude:</label></td>
                            <td><?php echo $farmer->getLng(); ?></td>
                            <td><label class="control-label">Longitude:</label></td>
                            <td><?php echo $farmer->getLngGPSFormatted(); ?></td>
                       </tr>
                    </table>
                </div>
                <?php } ?>
            </form>
        </div>
        <div id="personal">
            <h2>Personal Bio Data</h2>
            <form id="profileform-personal" class="form-horizontal personal">
            <?php if($request->tab == 'personal'){ ?>
            	
                <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>  
                <div class="row" style="margin-left:0px;">
                <span style="position:absolute; right:10px; top:5px;">
                            	<?php if($isme || isFarmGroupAdmin() || isAdmin()){ ?>
                                    <a class="btn btn-primary btn-mini" href="<?php echo $this->baseUrl('farmer/index/id/'.encode($id).'/tab/personal'); ?>" id="update"><i class="icon-pencil icon-white"></i> Update</a>                                       
                                <?php } ?>
                            </span>          
                    <span class="span6 marginleft0" style="width:97%;">
                        <div class="well row marginleft0" style="min-height:150px; position:relative;"> 
                        	<h3 class="well-legend"><?php echo $this->translate("farmer_biography_label"); ?></h3> 
                            <table class="table">
                                <tr>		  
                                    <td style="padding-left:0;"><?php echo isEmptyString($farmer->getUser()->getBio()) ? '--' : nl2br($farmer->getUser()->getBio()); ?></td>
                                </tr>
                            </table>
                        </div>
                    </span>
                </div>
                <div class="well row marginleft0" style="min-height:75px; width:94%;"> 
                    <h3 class="well-legend">Family</h3>
                    <table class="table">                       
                       <tr>		  
                            <td width="25%"><label class="control-label"><?php echo $this->translate("farmer_maritalstatus_label"); ?>:</label>
                            <?php echo isEmptyString($farmer->getMaritalStatusText()) ? '--': $farmer->getMaritalStatusText(); ?></td>
                            <td width="25%"><label class="control-label"><?php echo $this->translate("farmer_nochildren_label"); ?>:</label>
                            <?php echo isEmptyString($farmer->getNumberOfChildren()) ? '--': $farmer->getNumberOfChildren(); ?></td>
                            <td width="25%"><label class="control-label"><?php echo $this->translate("farmer_nodependants_label"); ?>:</label>
                            <?php echo isEmptyString($farmer->getNumberOfDependants()) ? '--': $farmer->getNumberOfDependants(); ?></td>
                            <td><label class="control-label"><?php echo $this->translate("farmer_totalhousehold_label"); ?>:</label>
                            <?php echo isEmptyString($farmer->getTotalHousehold()) ? '--': $farmer->getTotalHousehold(); ?></td>
                        </tr>
                    </table>
                </div>
                <div class="well row marginleft0" style="min-height:100px; width:94%;">
                    <h3 class="well-legend"><?php echo $this->translate("farmer_nextofkin_label"); ?></h3>
                    <table class="table">                       
                       <tr>		  
                            <td width="35%"><label class="control-label"><?php echo $this->translate("global_name_label"); ?>:</label>
                            <?php echo isEmptyString($farmer->getNextofkin_Name()) ? '--': $farmer->getNextofkin_Name(); ?>
                            </td>
                            <td width="30%"><label class="control-label"><?php echo $this->translate("global_phone_label"); ?>:</label>
                            <?php echo isEmptyString($farmer->getNextofkin_phone()) ? '--': $farmer->getNextofkin_phone(); ?>
                            </td>
                            <td width="35%"><label class="control-label"><?php echo $this->translate("global_email_label"); ?>:</label>
                            <?php echo isEmptyString($farmer->getNextofkin_email()) ? '--': $farmer->getNextofkin_email(); ?>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="well row marginleft0" style="min-height:100px; width:94%;">
                    <h3 class="well-legend">Other Information</h3>                       
                    <table class="table">
                        <tr>		  
                            <td width="35%"><label class="control-label"><?php echo $this->translate("farmer_educlevel_label"); ?>:</label>
                            <?php echo $farmer->getEducationLevelText(); ?></td>
                            <td>
                            	<label class="control-label"><?php echo $this->translate("farmer_signature_label"); ?>:</label>
                                <div class="profileinfo pull-left" id="signinfo"> 
                                    <a href="<?php echo $this->baseUrl('farmer/picture/id/'.encode($farmer->getID()).'/type/sign'); ?>" class="editpic" title="Upload Signature Image"><img id="profileimage" src="<?php echo $farmer->getSignaturePath(); ?>" width="180" height="90" /><pre id="signlink" class="hide absoluteupload"><i class="icon-pencil"></i> Upload Image</pre></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <?php } ?>
            </form>   	
        </div>
        
        <div id="farm">
        	<h2><?php $farmer->isFarmer() ? 'Manage Farm' : 'Manage Farm Group'; ?></h2>
            <form id="profileform-farm" class="form-horizontal farm">
                <?php if($request->tab == 'farm'){ ?>
            		
            	<?php } ?>
            </form>
        </div>
        <div id="subscription">
        	<h2>Payment History</h2>
            <form id="profileform-subscription" class="form-horizontal subscription">
            	<?php if($request->tab == 'subscription'){ ?>
            		<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                        <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                    <?php } ?>
                    <?php if($sessionhaserror) { ?>
                        <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                    <?php } ?>
                    <span class="span6 marginleft0" style="width:97%;">
                        <div class="well row marginleft0" style="min-height:60px; padding-left:10px; position:relative;">
                            <?php if(isAdmin()){ ?>
                                <div class="margin0" style="position:absolute; right:10px; top:5px;">
                                    <a href="<?php echo $this->baseUrl('payment/index/userid/'.encode($farmer->getUserID()).'/pgc/true'); ?>" class="addpopup btn btn-primary btn-mini" title="New Payment" rel="New Payment" id="newppayment" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/subscription'); ?>" action="<?php echo $this->baseUrl("payment/create"); ?>"><i class="icon-plus icon-white"></i> New</a>
                                </div>
                            <?php } ?>
                            <?php
								$payments = $farmer->getUser()->getAllPayments();
								$pcount = $payments->count();
                                if($pcount == 0) { ?>
                                <div class="alert alert-info" style="margin-top:35px;">No payments available</div>
                            <?php } else { ?>                
                                <label class="labeldescription">Viewing <?php echo $pcount; ?> <?php echo $pcount == 1 ? 'payment' : 'payments'; ?></label>
                                
                                <ul id="datalist" class="nav nav-stacked">
                                    <?php 
                                        foreach($payments as $payment){
                                    ?>
                                    <li>
                                    	<table class="table noborder margin0">
                                            <tr>                                
                                                <td width="18%"><label class="control-label" style="margin-bottom:10px; font-size:14px;"><?php echo changeMySQLDateToPageFormat($payment->getTrxDate()); ?></label>
                                                	<label class="control-label">Ref#:</label> <span><?php echo $payment->getTrxCode(); ?></span>
                                                </td>
                                                <td class="padding0">
                                                    <div style="position:relative;">
                                                        <table class="itemlist table noborder margin0">
                                                            <tr>
                                                            	<td colspan="4" style="height:28px;">
                                                                	<?php if(isAdmin()){ ?>
                                                                        <div style="position:relative;">
                                                                            <div style="position:absolute; right:0; top:5px;">
                                                                                <a href="<?php echo $this->baseUrl('payment/index/pgc/true/id/'.encode($payment->getID())); ?>" class="addpopup btn btn-mini" title="Edit Payment" rel="Edit Payment" id="editpay_<?php echo $payment->getID(); ?>" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/subscription'); ?>" action="<?php echo $this->baseUrl('payment/create'); ?>" style="margin-bottom:5px;"><i class="icon-pencil"></i></a><br />
                                                                                <a href="javascript: void(0)" id="deleteline_multiple" title="Delete Entry" class="btn btn-mini deleteline removeline close" action="<?php echo $this->baseUrl('payment/delete/id/'.$payment->getID()."/entityname/Payment/successurl/".encode($this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/subscription'))); ?>" message="Are you sure you want to delete this Payment?">&times;</a>
                                                                            </div>
                                                                        </div>
                                                                   <?php } ?>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> <label class="control-label">Subject </label><span><?php echo $payment->getSubject(); ?></span></td>
                                                                <td style="width:150px;"><label class="control-label">Payment Method</label><span><?php echo $payment->getMethod(); ?></span></td>
                                                                <td style="width:110px;"><label class="control-label">Phone</label><span><?php echo isEmptyString($payment->getPhone()) ? '--': getShortPhone($payment->getPhone()); ?></span></td>
                                                                <td style="width:120px;"><label class="control-label">Amount</label><span><?php echo formatNumber($payment->getAmount()); ?></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"><label class="control-label">Description </label><span><?php echo isEmptyString($payment->getDescription()) ? '--': $payment->getDescription(); ?></span></td>
                                                                <td><label class="control-label">Status</label><span><?php echo $payment->getPaymentStatus(); ?></span></td>
                                                                
                                                                <td><label class="control-label">Verified By</label><span><?php echo isEmptyString($payment->getVerifier()) ? '--': $payment->getVerifier(); ?></span></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <?php } ?>
                                </ul>
                            <?php } ?>
                        </div>
                    </span>
                    
                    <h2>Subscription History</h2>
                    <span class="span6 marginleft0" style="width:97%;">
                        <div class="well row marginleft0" style="min-height:60px; padding-left:10px; position:relative;">
                            <?php if(isAdmin()){ ?>
                                <div class="margin0" style="position:absolute; right:10px; top:5px;">
                                    <a href="<?php echo $this->baseUrl('payment/subscription/userid/'.encode($farmer->getUserID()).'/pgc/true'); ?>" class="addpopup btn btn-primary btn-mini" title="New Subscription" rel="New Subscription" id="newsubscription" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/subscription'); ?>" action="<?php echo $this->baseUrl("payment/processsubscription"); ?>"><i class="icon-plus icon-white"></i> New</a>
                                </div>
                            <?php } ?>
                            <?php
								$subscriptions = $farmer->getUser()->getAllSubscription();
								$scount = $subscriptions->count();
                                if($scount == 0) { ?>
                                <div class="alert alert-info" style="margin-top:35px;">No subscriptions available</div>
                            <?php } else { ?>                
                                <label class="labeldescription">Viewing <?php echo $scount; ?> <?php echo $scount == 1 ? 'subscription' : 'subscriptions'; ?></label>
                                
                                <ul id="datalist" class="nav nav-stacked">
                                    <?php 
                                        foreach($subscriptions as $subscription){
                                    ?>
                                    <li>
                                    	<table class="table noborder margin0">
                                            <tr>                                
                                                <td class="padding0">
                                                    <div style="position:relative;">
                                                        <table class="itemlist table noborder margin0">
                                                            <tr>
                                                            	<td colspan="6" style="height:5px;">
                                                                	<?php if(isAdmin()){ ?>
                                                                        <div style="position:relative;">
                                                                            <div style="position:absolute; right:3px; top:2px;">
                                                                                <a href="<?php echo $this->baseUrl('payment/subscription/pgc/true/id/'.encode($subscription->getID())); ?>" class="addpopup btn btn-mini" title="Edit Subscription" rel="Edit Subscription" id="editpay_<?php echo $subscription->getID(); ?>" formtitle="indexform" successurl="<?php echo $this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/subscription'); ?>" action="<?php echo $this->baseUrl('payment/processsubscription'); ?>" style="margin-bottom:5px;"><i class="icon-pencil"></i></a><br />
                                                                                <a href="javascript: void(0)" id="deleteline_multiple" title="Delete Entry" class="btn btn-mini deleteline removeline close" action="<?php echo $this->baseUrl('payment/delete/id/'.$subscription->getID()."/entityname/Subscription/successurl/".encode($this->baseUrl('farmer/view/id/'.encode($farmer->getID()).'/tab/subscription'))); ?>" message="Are you sure you want to delete this Subscription?">&times;</a>
                                                                            </div>
                                                                        </div>
                                                                    <?php } ?>                                                                
                                                                 </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:100px;"><label class="control-label">Start Date</label><span><?php echo changeMySQLDateToPageFormat($subscription->getStartDate()); ?></span></td>
                                                                <td style="width:100px;"><label class="control-label">End Date</label><span><?php echo changeMySQLDateToPageFormat($subscription->getEndDate()); ?></span></td>
                                                                <td><label class="control-label">Membership Plan</label><span><?php echo $subscription->getSubject(); ?></span></td>
                                                                <td style="width:110px;"><label class="control-label">Days Assigned</label><span><?php echo $subscription->getDaysAssigned(); ?></span></td>
                                                                <td style="width:110px;"><label class="control-label">Days Left</label><span><?php echo $subscription->getRemainingDays(); ?></span></td>
                                                                <td style="width:110px;"><label class="control-label">Status</label><span><?php echo $subscription->getStatus(); ?></span>
                                                                
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <?php } ?>
                                </ul>
                            <?php } ?>
                        </div>
                    </span>
            	<?php } ?>
            </form>
        </div>
        <?php require APPLICATION_PATH."/views/scripts/farmer/settings.phtml"; ?>
    </div> 
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
