<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$title = ($this->translate("useraccount_pagetitle_signup"));	
	$this->headTitle($title); 
	
	// the usermaking the payment
	$useraccount = new UserAccount();
	$useraccount->populate(decode($request->id)); 	
	
?>
<script>
	$(document).ready(function() {	
		$("#submit").hide().click();
	}); 
</script>
<style>
table.formtable {
	width:575px;
	border:1px solid #AAAAAA;	
	margin-top:0;	
}
table.formtable td {
	border-right:none;
}
table.formtable td.label {
	border-right:1px solid #AAAAAA;
}
</style>
<h1><?php echo $title; ?></h1>
<form action="<?php echo $config->paypal->serverurl; ?>" method="post" name="paymentform" id="paymentform">
<table class="formtable">  	
   	<thead>
    	<tr><td><?php echo $this->translate("useraccount_section_signup_step4"); ?></td></tr>
	</thead>  
    <tr>
        <td style="height:50px; padding-left:190px;">
        	<?php
				$amount = '';
				switch($useraccount->getPaymentType()){
					case 0:
						$amount = 30;
					case 1:
						$amount = 80;
					case 2:
						$amount = 125;					
				}

			?>
        	<input type="hidden" name="cmd" value="_xclick" />
            <input type="hidden" name="business" value="<?php echo $config->paypal->receiveremail; ?>" />
            <input type="hidden" name="item_name" id="item_name" value="<?php echo $this->translate("appname")." - Author Subscription - ".$useraccount->getName(); ?>" />
            <input type="hidden" name="item_number" id="item_number" value="WTA-00<?php echo $useraccount->getID(); ?>" />
            <input type="hidden" name="custom" id="custom" value="<?php echo $useraccount->getID(); ?>" />
            <input type="hidden" name="amount" id="amount" value="<?php echo $amount; ?>" />
            <input type="hidden" name="quantity" id="quantity" value="1" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="hidden" name="return" value="<?php echo getPayPalReturnUrl()."/id/".encode($useraccount->getID()); ?>" />
            <input type="hidden" name="notify_url" value="<?php echo getPayPalNotifyUrl(); ?>" />
            <input type="hidden" name="cancel_return" value="<?php echo getPayPalCancelUrl()."/id/".encode($useraccount->getID()); ?>" />
            <input type="hidden" name="receiver_email" value="<?php echo $config->paypal->receiveremail; ?>" />
            <input type="hidden" name="no_shipping" value="1" />
            <input type="hidden" name="no_note" value="0" />
            <button type="submit" class="positiveaction" id="submit" name="submit" title=""><img src="<?php echo $this->baseUrl("images/tick.png"); ?>" />Continue</button>
        <div id="loading"><br />  
            forwarding to paypal...<br /><br />Please Wait ..... <br /><br />
            <img src="<?php echo $this->baseUrl("images/loading.gif"); ?>" /> <br /><br />
        </div>
        </td>
    </tr>
    <tr>            
    	<td style="padding-left:135px;" colspan="3"><img src="<?php echo $this->baseUrl("images/paypal.gif"); ?>" alt="We accept payments through Paypal" /></td>
    </tr> 
</table>
</form>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>