<?php
	require_once APPLICATION_PATH.'/includes/header.php';
		
	// the usermaking the payment
	$useraccount = new UserAccount();
	$useraccount->populate(decode($request->id)); 
	$posturl = $this->baseUrl("signup/processstep2"); 
	
	if($useraccount->isAuthor()){	
		$step2title = $this->translate("useraccount_section_authorsignup_step2");	
	} else {
		$step2title = $this->translate("useraccount_section_agentsignup_step2");	
	}
	
	$title = $this->translate("useraccount_pagetitle_signup");
	$this->headTitle($title); 

	
?>
<script>
	$(document).ready(function() {
		$("#step2form").validate({		
			// define the validation rules one field at a time
			rules: {				
				country: "required",				
				state: "required",				
				city: "required",
				streetaddress: "required",
				phonenumber: {
					required: true,					
					maxlength: 15
				}
			}, 
			// the messages for each of the fields being validated
			messages: {												
				country: "<?php echo $this->translate("useraccount_country_error"); ?>",				
				state: "<?php echo $this->translate("useraccount_state_error"); ?>",				
				city: "<?php echo $this->translate("useraccount_city_error"); ?>",
				streetaddress: "<?php echo $this->translate("useraccount_streetaddress_error"); ?>",			
				phonenumber: {
					required: "<?php echo $this->translate("useraccount_phonenumber_error"); ?>", 					
					maxlength: "<?php echo sprintf($this->translate("useraccount_phonenumber_maxlength_error"), 15); ?>"
				}
			},
			// custom error positions
			errorPlacement: function(error, element) {
				switch(element.attr("name")){
					case 'country':
						error.appendTo("#country_error")
						break;
					case 'state':
						error.appendTo("#state_error")
						break;										
					default:
						error.insertAfter(element);
						break;
				}			
			}
		});
		
		// trigger state field depending on the country
		$("#usstates").hide();
		$("#nonusstates").show();
		$("#country").change(function(){
			if($(this).val() == 'US'){
				disableContainerByID("nonusstates");
				enableContainerByID("usstates");				
			} else {
				disableContainerByID("usstates");
				enableContainerByID("nonusstates");						
			}
			$("#state").val('');
			$("#notusstate").val('');
		});
		
		// if existing user populate existing state depending on the country
		if($("#country").val() == 'US'){
			disableContainerByID("nonusstates");
			enableContainerByID("usstates");
		} else {
			disableContainerByID("usstates");
			enableContainerByID("nonusstates");	
		}
	}); 
</script>
<style>
body#publicbody #contentcolumn {
	margin-top:45px;
 *margin-top:5px;
	padding-left:200px;
}
table.formtable {
	width:575px;
	border:1px solid #AAAAAA;
	margin-top:0;
}
table.formtable td {
	border-right:none;
}
table.formtable td.label {
	border-right:1px solid #AAAAAA;
}
select.chzn-select {
	min-width:259px;
	width:259px;
 	*width:260px;
}
</style>
<h1><?php echo $title; ?></h1>
<?php if ($sessionhaserror) { ?>
<label class="error"><?php echo $session->getVar(ERROR_MESSAGE); ?></label>
<?php } ?>
<form action="<?php echo $posturl; ?>" method="post" name="step2form" id="step2form">
  <table class="formtable">
    <thead>
      <tr>
        <td colspan="2"><?php echo $step2title; ?></td>
      </tr>
    </thead>
    <tr>
      <td class="label"><?php echo $this->translate("useraccount_country_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></td>
      <td><?php
				$countrydropdown = new Zend_Form_Element_Select('country',
									array(
										'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), getCountries()),
										'view' => new Zend_View(),
										'decorators' => array('ViewHelper'),
										'class' => array('chzn-select','filterselect')
									)
								);
				$countrydropdown->setValue($useraccount->getCountry()); 
				echo $countrydropdown->render(); 
			  ?>
        <div id="country_error"></div></td>
    </tr>
    <tbody id="usstates">
      <tr>
        <td class="label"><?php echo $this->translate("useraccount_state_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></td>
        <td><?php
                    $statedropdown = new Zend_Form_Element_Select('state',
                                        array(
                                            'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), getStates()),
                                            'view' => new Zend_View(),
                                            'decorators' => array('ViewHelper'),
                                            'class' => array('chzn-select','filterselect')
                                        )
                                    );
                    $statedropdown->setValue($useraccount->getState()); 
                    echo $statedropdown->render(); 
                  ?>
          <div id="state_error"></div></td>
      </tr>
    </tbody>
    <tbody id="nonusstates">
      <tr>
        <td class="label"><?php echo $this->translate("useraccount_state_label"); ?>:</td>
        <td><input id="notusstate" name="notusstate" type="text" value="<?php echo $useraccount->getState(); ?>" /></td>
      </tr>
    </tbody>
    <tr>
      <td class="label"><?php echo $this->translate("useraccount_city_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></td>
      <td><input id="city" name="city" type="text" value="<?php echo $useraccount->getCity(); ?>" /></td>
    </tr>
    <tr>
      <td class="label"><?php echo $this->translate("useraccount_zipcode_label"); ?>:</td>
      <td><input id="zipcode" name="zipcode" type="text" value="<?php echo $useraccount->getZipCode(); ?>" /></td>
    </tr>
    <tr>
      <td class="label" style="vertical-align:top;"><?php echo $this->translate("useraccount_streetaddress_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></td>
      <td><textarea id="streetaddress" name="streetaddress" class="expanding"><?php echo $useraccount->getStreetAddress(); ?></textarea></td>
    </tr>
    <tr>
      <td class="label"><?php echo $this->translate("useraccount_phonenumber_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></td>
      <td><input id="phonenumber" name="phonenumber" type="text" value="<?php echo $useraccount->getPhoneNumber(); ?>" /></td>
    </tr>
  </table>
  <br />
  <table>
    <tr>
      <td colspan="2" style="padding-left:175px;"><a href="<?php echo $this->baseUrl('signup/index/id/'.encode($useraccount->getID())); ?>" title="<?php echo $this->translate('global_button_back'); ?>"><?php echo $this->translate('global_button_back'); ?></a>&nbsp;&nbsp;
        <button type="submit" class="positiveaction" title="<?php echo $this->translate('global_button_continue'); ?>"><img src="<?php echo $this->baseUrl('images/arrow_right.png'); ?>" /><?php echo $this->translate('global_button_continue'); ?></button>
        <input name="id" id="id" type="hidden" value="<?php echo encode($useraccount->getID()); ?>" />
        <input name="isadmin" id="isadmin" type="hidden" value="<?php echo $session->getVar('isadmin'); ?>" />
        <input name="createdby" id="createdby" type="hidden" value="<?php echo $useraccount->getID(); ?>" /></td>
    </tr>
  </table>
</form>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
