<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	# Page title
	$title = "Inbox";
	$this->headTitle($title);
	
	# Create an instance of the class to handle the pagination
	$paginate = new Pagination();	
	$paginate->setView($this);
	# set the search columns to be used on this list
	$paginate->setSearchColumns(array("m.contents","m.subject","c.content","us.firstname","us.lastname"));
	$paginate->setFilterColumns(array("mr.isread"));
	$paginate->setDefaultSortBy("m.datecreated");
	$paginate->setDefaultSortOrder("DESC");
	$paginate->setItemCountPerPage("10");
	
	$readstatus = $request->getParam('mr'.HTML_TABLE_COLUMN_SEPARATOR.'isread');
	$read_custom_query = '';
	if($readstatus == '0'){
		$read_custom_query = " AND mr.isread = '0' ";
	}
	
	$paginate->processPost($request->getParams());
	$all_results_query = "SELECT m.id as id, m.senderid as senderid, mr.recipientid as recipientid, mr.id as messagerecipientid, m.commentid as commentid, c.userid as userid, concat(us.firstname, ' ', us.lastname) as `Sender`, concat(ur.firstname, ' ', ur.lastname) as `Recipient`, m.subject as `Subject`, m.contents as 'Contents', mr.isread as `Is Read`, m.datecreated as `Message Date`, c.content as `Comment`, c.type as `Type`, c.communityforumid as communityforumid FROM message m inner join messagerecipient mr on (m.id = mr.messageid) inner join useraccount ur on (mr.recipientid = ur.id) inner join useraccount us on (m.senderid = us.id) left join comment as c on (m.commentid = c.id) WHERE mr.recipientid = '".$userid."' ".$paginate->getSearchAndFilterSQL()." ".$read_custom_query."".$paginate->getSortSQL();
	// debugMessage($all_results_query);
	
	$paginate->setItemCountFromSQLQuery($all_results_query);
	
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	//echo $current_results_query;
	$session->setVar(ALL_RESULTS_QUERY, $all_results_query);
	$session->setVar(CURRENT_RESULTS_QUERY, $current_results_query);
	# the query string to be appended to the return to list URL
	$session->setVar('list_query_string'.$request->getControllerName(), $request->getParams());
	
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$has_no_data = (count($result) == 0) ? true : false; 
	
	# This variable stores the number of redundant columns returned in the query so that when we are printing
	# we are able to know how many columns to ignore. This variable is sent in the print URL
	$number_of_redundant_columns = 7;
	
	# the columns which contain numbers in the invoice query
	# Please note that the column count begins at 0
	$export_number_column_list = "";
	
	$c = new Doctrine_RawSql();
	$c->select('{m.*}, {mr.*}');
	$c->from('message m INNER JOIN messagerecipient mr ON (m.id = mr.messageid)');
	$c->where("(mr.recipientid = '".$userid."' AND mr.isread = 0) ORDER BY m.datecreated");
	$c->addComponent('m', 'Message m');
	$c->addComponent('mr', 'm.recipients mr');
	$unread_messages = $c->execute()->count();
	
	$title = $title.' &nbsp;<span class="pagedescription" style="color:red; font-size:14px;">('.$unread_messages.' Unread)</span>';
	
?>
<script type="text/javascript"> 
$(document).ready(function() {

	// when page first loads, force all checkboxes not to be checked and no action is mark as dropdown
	$(".isread, #all").attr('checked', false);
	$("#markaction").val('');
	
	// select or unselect all checkboxes on click all
	$("#all").click(function(){				
		if (this.checked == true) {			
			$(".isread").attr('checked', true);
		} else {			
			$(".isread").attr('checked', false);
		} 
	});
	
	// if user clicks any of the check boxes for multiple actions, force markmessagesasread select value to empty string 
	$(".isread, #all").click(function(){
		$("#markaction").val('');
	});
	
	// force all hidden fields for marking and deleting messages to empty string
	$(".empty").val('');
			
	$("#markaction").change(function(){
		// if no message is selected, prompt user to select atleast one	
		if($("#markaction").val() != '' && $("input[name=checkor]:checked").size() == 0){
			alert("Please select atleast one message to mark");
			$("#markaction").val('');
			return false;
		} else {
			
			$(".empty").val('');
			// set the hidden array field for ids to be marked			
			$("input[name=checkor]:checked").each(function(){				
				var msgid = $('input.'+$(this).attr('id')).val();		
				$("#marked_"+msgid).val($(this).val());					
			});			
			// alert($("input.mark").val());			
			// send the message
			$.post(  
				"<?php echo $this->baseUrl("message/markasread"); ?>",  
				$("#listform").serialize(),  
				function(data){  
					// alert(data); 						
					// add read class to the rows having selected checkboxes
					$("li").has("input[name=checkor]:checked").each(function(){										
						if($("#markaction").val() == '1'){
							$(this).removeClass('unread');
							$(this).addClass('read');
						} 
						if($("#markaction").val() == '0'){
							$(this).addClass('unread');
							$(this).removeClass('read');
						}							
					});
					// uncheck the checkboxes after marking them as read
					$(".isread, #all").attr('checked', false);
					// reset mark select	
					$("#markaction").val('');				
					$('#wait').hide();
					
					//alert(unread);
					// $("#messages").html(data);				
										
				}  
			); // close the $.post 	
			$('#wait').show();		
		}		
	});

	// Mark notification as read when link to the comment is clicked 
	$(".comment_link").click(function(){
		// force all hidden fields for marking messages to empty string
		$(".empty").val('');
		// set the hidden array field for ids to be marked			
		var msgid = $('input.'+$(this).attr('id')).val();		
		$("#marked_"+msgid).val($('input.'+$(this).attr('id')).attr('title'));
		$("#markaction").val('1');
		// alert(msgid);	
		
		// send the message
			$.post(  
				"<?php echo $this->baseUrl("message/markasread"); ?>",  
				$("#inboxform").serialize(),  
				function(data){  
					// alert(data); 						
					// add read class to the rows having selected checkboxes
					$("tr").has("input[name=checkor]:checked").each(function(){										
						if($("#markaction").val() == '1'){
							$(this).removeClass('unread');
							$(this).addClass('read');
						} 
						if($("#markaction").val() == '0'){
							$(this).addClass('unread');
							$(this).removeClass('read');
						}							
					});
					
					// uncheck the checkboxes after marking them as read
					$(".isread, #all").attr('checked', false);
					// reset mark select	
					$("#markaction").val('');				
					$('#wait').hide();
					//alert(unread);
					$("#messages").html(data);	
				}  
			); // close the $.post 	
			$('#wait').show();					
	})
	
	// Delete all selected messages	
	$("#deletemessages").click(function(){		
		// force user to select atleat one message
		if($("input[name=checkor]:checked").size() == 0){
			alert("Please select atleast one message to delete");
			return false;
		} else {
			// force all hidden fields for selected messages to empty string
			$(".empty").val('');
			// set the hidden array field for ids to be deleted		
			$("input[name=checkor]:checked").each(function(){	
				var msgid = $('input.'+$(this).attr('id')).val();		
				$("#selected_"+msgid).val(msgid);				
			});			
			
			// confirm that user wants to delete the message
			if(window.confirm("Are you sure you want to delete this message(s). \n Click 'OK' to confirm or 'Cancel' to stay on this page")){						
				// alert($("#inboxform").serialize());
				$.post(  
					"<?php echo $this->baseUrl("message/delete"); ?>",  
					$("#listform").serialize(), 
					function(data){
						// alert(data);
						if(data.search("success") != -1){
							// remove message from list item from the DOM
							$("input[name=checkor]:checked").each(function(){	
								var msgid = $('input.'+$(this).attr('id')).val();		
								$("li#row_"+msgid).fadeOut('slow', function(){ $(this).remove(); });		
							});		
							// hide loading image 						
							$("#wait").hide();	
						} else {
							alert('An error occured in removing the comment. Please try again');
						}
					}  
				); // close the $.post 	
				$("#wait").show();	
								
				return true;
			} else {
				return false;
			}
		}	
	});	
	
}); 
</script>
<style>
/* styles for message list */
.table tr td.selector {
	width:15px;
}
td.thumbnail, td.selector {
	vertical-align: top;
	padding-top:10px;
	text-align:center;
}
.table tr td.thumbnail {
	min-height:100px;
	width:70px;
}
td.message h3.sender {
	color: #666666;
	text-decoration:underline;
	margin-top:5px;
	font-size:12px;	
}
td.message .summary {
	width:90%;
	margin-top:6px;
}
td.message .summary span,td.message .summary span a {
	width:100%;
	display:block;
	white-space:normal;
	font-size:12px;
}
td.message .actions {	
	height:20px;
	margin-top:10px;
	width:100%;
}
td.message .actions span {
	float:right;
	font-size:12px;
	margin-right:5px;
}
td.message .actions label {
	float:lefts;
	font-size:11px;
	color:#999999;
}
.filter {
	width:90px;
	height:26px;
}
td#actions {
	padding-top:6px;
	padding-bottom:0;
}
label.unread {
	color:#ff33cc;
	font-weight:bold;
	font-size:12px;	
}
ul#datalist > li, ul#datalist > li:nth-child(odd) {
  background-color:#F6FAFC;
}
ul#datalist > li.unread, ul#datalist > li:nth-child(2n+1).unread, ul#datalist > li:nth-child(odd).unread {
	background-color:#defadb;
}
</style>
<div>
	<?php require APPLICATION_PATH."/views/scripts/index/leftcolumn.phtml"; ?>
    <div id="centercolumn">
        <form action="<?php echo $this->baseUrl("message/listsearch"); ?>" method="get" id="listform">
    	<h1><?php echo $title; ?></h1>
        <div class="wellcontent" style="margin-top:-10px;">
            <div class=" blocked clear" style="position:relative; margin-top:25px;">
                <ul id="searchbox">
                    <li>
                        <a style="padding-left:0; padding-right:0; width:100%;">
                            <table id="directorysearchtable" class="table noborder margin0">
                                <tr>
                                    <td style="width:75%; padding-left:0;">                                    
                                       <table style="float:left; width:70%;">
                                            <tr>
                                            	<td style="width:30px; padding:2px 10px;"><label class="control-label">Key: </label></td>
                                                <td style="width:50px; background-color:#DEFADB; border:1px solid #999999; text-align:center;">Unread</td>
                                                <td style="width:15px;"></td>
                                                <td style="width:50px; background-color:#F6FAFC; border:1px solid #999999; text-align:center;">Read</td>
                                                <td></td>
                                            </tr>
                                       </table>
                                       <table style="float:right; width:20%;">
                                       		<tr>
                                            	<?php if(!isEmptyString($request->searchterm) || !isEmptyString($request->getParam('mr'.HTML_TABLE_COLUMN_SEPARATOR.'isread'))){ ?>
                                            		<td style="padding-top:0;"><a href="<?php echo $this->baseUrl('message/list'); ?>" id="reset" class="btn btn-primary btn-mini pull-right" title="Show all messages">Show All</a></td>
                                        		<?php } ?>
                                            </tr>
                                       </table>
                                       
                                    </td>
                                    <td style="text-align:right; padding-right:2px;">
                                        
                                        <input type="hidden" name="advanced" id="advanced" value="<?php echo $request->getParam('advanced'); ?>" />
                                        <input style="width:175px;" name="searchterm" id="searchterm" value="<?php echo $request->searchterm; ?>" type="text" class="input-medium xsearch-query span2 pull-right" placeholder="Search messages" /></td>
                                    <td style="text-align:left; padding-left:2px;">
                                        <button type="submit" id="searchbutton" class="btn" style="padding:6px 10px;"><i class="icon-search"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </li>
			</ul>
            </div>
            <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
            <?php } ?>
            	<table class="table border0">
                	<tr>
                        <td class="selector"><input type="checkbox" name="all" class="all" id="all" /></td>
                        <td colspan="2" id="actions">                                       
                            <a href="javascript: doNothing();" class="removesorttitle btn padding3" style="margin-top:-10px;" id="deletemessages" title="Delete message(s)"><i class="icon-remove"></i> Delete</a>
                            <?php							
                                $read = new Zend_Form_Element_Select('markaction',
                                            array(
                                                'multiOptions' => array("" => "Mark As", "1" => "Read", "0" => "Unread"), 
                                                'view' => new Zend_View(),
                                                'decorators' => array('ViewHelper'),
                                                'class' => array("filter","removesorttitle","autosubmitsearchform"),
                                                'title' => 'Mark Messages As Read or Unread'
                                            )
                                );
                                $read->setValue(''); 
                                echo $read->render();	
                            ?>&nbsp;&nbsp;                                                            
							<?php							
                                $read = new Zend_Form_Element_Select('mr'.HTML_TABLE_COLUMN_SEPARATOR.'isread',
                                            array(
                                                'multiOptions' => array("" => "Show All", "0" => "Unread", "1" => "Read"), 
                                                'view' => new Zend_View(),
                                                'decorators' => array('ViewHelper'),
                                                'class' => array("filter","autofilter"),
                                                'title' => 'Filter Messages As Read or Unread'
                                            )
                                );
                                $read->setValue($request->getParam('mr'.HTML_TABLE_COLUMN_SEPARATOR.'isread')); 
                                echo $read->render();	
                            ?>        
                        </td>
                        <td style="width:25px;"><img id="wait" class="hidden" style=" width:20px;" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" /></td>
                        <td>
                        	<?php if(!$has_no_data) { ?>
                        	<div class="paginatecustom"><?php echo sprintf($this->translate("message_list_counter"), $paginate->getItemCounterText()); ?></div>
                            <?php } ?>
                        </td>
                    </tr>
                </table>
			<?php if ($has_no_data) { ?>
            	<div style="clear:both;" class="alert alert-info margin5"><?php echo $this->translate("message_list_norecords"); ?></div>
            <?php } else { ?>
                <ul id="datalist" class="nav nav-stacked" style="margin-top:5px;">
					<?php 				  		
						foreach($result as $line){
							$message = new Message();
							$message->populate($line['id']);			
							
							$readclass = "read";
							if($line['Is Read'] == 0){
								$readclass = "unread";
							}
							$message_title = "View message details";
							$commentmessage = "";
							$reply_path = $this->baseUrl("message/reply/id/".encode($line['id']));
							$reply_title = "Reply this message";
							
							if(!isEmptyString($line['commentid'])){
								$message_title = "View comment details";
								if($line['Type'] == '1'){
									$reply_path = $this->baseUrl("communityforum/view/id/".encode($line['communityforumid'])."/messageid/".encode($line['id']));
								}
								$reply_title = "Reply this comment";
							}							
					?>
                    <li class="<?php echo $readclass; ?>" id="row_<?php echo $line['id']; ?>">
                        <table class="table nohover border0 margin0">
                        	<tr>
                            	<td class="selector"><input type="checkbox" name="checkor" class="isread" id="message_<?php echo $line['id']; ?>" value="<?php echo $line['messagerecipientid']; ?>" /></td>
                            	<td class="thumbnail">
									<?php if($line['senderid'] == 1){ ?>
                                        <img src="<?php echo $this->baseUrl('images/flag.png'); ?>" />
                                    <?php } else { ?>
                                        <div class="thumbinfo new_pic"> 
                                            <a title="<?php echo $line['Sender']; ?>"><img src="<?php echo $message->getSender()->getThumbnailPicturePath(); ?>" /></a>
                                        </div>
                                    <?php } ?> 
								</td>
                                <td class="message" style="padding-top:0; width:95%;">
                                	<?php if($line['senderid'] == 1){ ?>
                                        <h2 class="sender"><a><?php echo $this->translate("company_signoff"); ?></a></h2>
                                    <?php } else { ?>
                                        <h2 class="sender" title="<?php echo $line['Sender']; ?>"><a class="profilepopup"><?php echo $line['Sender']; ?></a></h2>
                                    <?php } ?>    
                                    <div class="summary">   
                                        <?php if(!isEmptyString($line['commentid'])){ ?> 
                                            <span><?php echo $line['Contents']; ?>:<br /><a href="<?php echo $reply_path; ?>" id="link_<?php echo $line['id']; ?>" class="comment_link" title="<?php echo $message_title; ?>"><?php echo snippet($line['Comment'], 100, '...' ); ?></a></span>        	
                                        <?php } else { ?>
                                            <?php if($line['senderid'] == 1){ ?>
                                                <span><a href="<?php echo $this->baseUrl("message/reply/id/".encode($line['id'])); ?>" id="link_<?php echo $line['id']; ?>" class="comment_link" title="<?php echo $message_title; ?>"><?php echo isEmptyString($line['Subject']) ? snippet($line['Contents'], 100, '...' ) : $line['Subject']; ?></a></span>
                                            <?php } else { ?> 
                                                <span><a href="<?php echo $reply_path; ?>" title="<?php echo $message_title; ?>"><?php echo snippet($line['Contents'], 100, '...' ); ?></a></span>
                                            <?php } ?>    
                                        <?php } ?>
                                    </div>
                                    <div class="actions">
                                        <label>Recieved on <?php echo date('m/d/Y - g:i A', strtotime($line['Message Date'])); ?></label>
                                    </div>
                                    <input type="hidden" class="message_<?php echo $line['id']; ?> link_<?php echo $line['id']; ?>" title="<?php echo $line['messagerecipientid']; ?>" value="<?php echo $line['id']; ?>" />
                                    <input type="hidden" class="empty" name="messagesfordelete[]" id="selected_<?php echo $line['id']; ?>" value="" />
                                    <input type="hidden" class="empty" name="messagesformarking[]" id="marked_<?php echo $line['id']; ?>" value="" />
                                    <input type="hidden" name="deletemultiple" id="deletemultiple" value="1" />
                                </td>
                        	</tr>
                        </table>
                    </li>
                <?php } ?>    
            </ul>
            <?php echo $paginate->getPaginationLinks(); ?>  
            <?php } ?>
		</div>  
        </form>        
	</div>
</div>
<?php
	$session->setVar(SUCCESS_MESSAGE, "");
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
