<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$farm = new Farm(); 
	$farm->setFarmerID($farmerid);
	
	$farmer = new Farmer();
	$farmer->populate($farmerid);
	
	$hasfarm = false;
	$hasmultiplefarms = false;
	$countfarms = $farmer->getFarms()->count();
	if($countfarms > 1){
		$hasmultiplefarms = true;
	}
	
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$farm->processPost($session->getVar(FORM_VALUES));	
	}
	
	$title = $this->translate("farm_pagetitle_new"); 
	$this->headTitle($title);
	
?>
<script>
	$(document).ready(function() {
		$("#indexform").validate({		
			// define the validation rules one field at a time
			rules: {
				businessname: "required",
				districtid:  "required"
			}, 
			// the messages for each of the fields being validated
			messages: {		
				businessname: "<?php echo $this->translate("farm_businessname_error"); ?>",
				districtid:  "<?php echo $this->translate("global_district_error"); ?>"
			},
			// custom error positions
			errorPlacement: function(error, element) {
				switch(element.attr("name")){					
					default:
						error.appendTo("#"+element.attr("name")+"_error")
						break;
				}			
			}
		});
		
		// tooltips in popup
		$(".hastooltip").each(function(){		
			var theid = $(this).attr('id');
			var thepath = '<?php echo $this->baseUrl('images/questionmark.png'); ?>';
			if($(this).attr('title') != "undefined" || $(this).attr('title') != ""){
				$('<a href="javascript: void(0);" class="qcontainer" id="q_'+theid+'"><img src="'+thepath+'" /></a>').insertAfter(this);
				$("#q_"+theid).attr('title', $(this).attr('title')).addClass('qtooltip');
			}	    
		}); 
		$('.qtooltip').tipsy({fade: true, gravity: 'w', html: true, trigger: 'hover', offset: -5});
    	$(".hastooltip").attr('title','');
		
		// reset tab index
		var tabindex = 1;
		$('input,select,textarea').each(function() {
			if (this.type != "hidden") {
				var $input = $(this);
				$input.attr("tabindex", tabindex);
				tabindex++;
			}
		});
		
		disableField("country");
	}); 
</script>
<style>
body {
	overflow:hidden;
}
.form-horizontal.well {
	margin:0;
	padding-top:0;
	padding-bottom:0;
	width:93%;
}
.form-horizontal .control-label {
	font-size: 11px;
	padding-top:3px;
	width: 130px;
}
.form-horizontal .control-label.gender {
	width: 60px;
	display:inline-block;
}
.form-horizontal input {
	height:15px;
}
.form-horizontal select {
	height:25px;
	font-size: 12px;
}
.form-horizontal .table td {
	vertical-align: middle;
}
.form-horizontal .table tr:last-child td {
	height:10px;
}
.form-horizontal .table tbody {
	border-top:none;
}
.radio.inline, .checkbox.inline {
	display:inline-block;
	margin-bottom: 1px;
    padding-top: 0;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
	margin-top:1px;
}

</style>
<form class="form-horizontal well span6" id="indexform" action="<?php echo $this->baseUrl("farmer/create"); ?>" method="post">
    <table class="table">
		<?php if($sessionhaserror) { ?>
	        <tr>
	        	<td colspan="2"><div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div></td>
	        </tr>
        <?php } ?>
        <tr>
            <td width="25%"><label class="control-label"><?php echo $this->translate("farm_name_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label></label></td>
            <td><input type="text" name="businessname" id="businessname" value="<?php echo $farm->getName(); ?>" class="hastooltip span3" style="width:260px;" title="<?php echo $this->translate("farm_name_tooltip"); ?>" /><div id="businessname_error"></div>
            	<input type="hidden" name="entityname" value="Farm" />
			    <input type="hidden" id="id" name="id" value="<?php echo encode($farm->getID()); ?>" />
                <input type="hidden" id="farmerid" name="farmerid" value="<?php echo $farm->getFarmerID(); ?>" />
                <input type="hidden" id="isdefault" name="isdefault" value="<?php echo $hasmultiplefarms == true ? 0 : 1; ?>" />
			    <input type="hidden" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($this->baseUrl('farm/add')); ?>" />			   				
                <input type="hidden" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($this->baseUrl('farm/addsuccess')); ?>" />
            </td>
        </tr>
        <tr>
            <td><label class="control-label"><?php echo $this->translate("farmer_country_label"); ?>:</label></td>
            <td><?php
                    $countries = getCountries();
                    $countrydropdown = new Zend_Form_Element_Select('country',
                                        array(
                                            'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>", "UG"=>"Uganda"), $countries),
                                            'view' => new Zend_View(), 
                                            'decorators' => array('ViewHelper'),
                                            'class' => array('span3', 'country', 'xchzn-select', 'disabledfield')                                                            )
                                    );
                    $countrydropdown->setValue($farm->getAddress()->getCountry()); 
                    echo $countrydropdown->render(); 
                ?><input type="hidden" name="country" id="country" value="<?php echo $farm->getAddress()->getCountry(); ?>" />
            </td>
		</tr>
        <tr>
        	<td><label class="control-label"><?php echo $this->translate("farmer_location_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
            <td><?php
					$districtlist = new LookupType(); 
					$districtlist->setName("ALL_DISTRICTS");
					$districts = $districtlist->getOptionValuesFromQuery();
					
					$districtdropdown = new Zend_Form_Element_Select('districtid',
										array(
											'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $districts),								
											'view' => new Zend_View(),
											'decorators' => array('ViewHelper'),
											'class' => array('filterselect', 'country')
										)
									);
					$districtdropdown->setValue($farm->getAddress()->getDistrictID()); 
					echo $districtdropdown->render(); 
			   ?>
			   <span id="tooltip_districtid"></span><div id="districtid_error"></div></td>
        </tr>
  </table>
</form>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>