<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$farm = new Farm();
	$farm->populate($thefarmid);
	
	$controller = $request->getControllerName();
	$action = $request->getActionName();
	if($controller == 'farm' && isEmptyString($request->tab)){
		$request->setParam('tab', 'summary'); 
	}
	if($controller == 'inventory'){
		$request->setParam('tab', 'inventory'); 
	}
	if($controller == 'season'){
		$request->setParam('tab', 'seasons'); 
	}
	if($controller == 'finance'){
		$request->setParam('tab', 'finance'); 
	}
	
	$isme = false;
	if($farmerid == $farm->getFarmerID()){
		$isme = true;
	}
	
	$farmerid = $session->getVar('farmerid');
	if(!isEmptyString($farm->getID())){
		$farmerid = $farm->getFarmerID();
	}
	
	$activeclass = 'hasfarm';
	if(isEmptyString($farm->getID())){
		$activeclass = 'nofarm';
	}
	// debugMessage('tab is '.$request->tab); exit();
?>
<script>
$(document).ready(function() {
	// override default tab
	<?php if(!isEmptyString($request->tab)){ ?>
		$("#tabs").tabs({ selected:'<?php echo $request->tab; ?>', fx: {opacity: 'toggle'} });	   
	<?php } ?>
	$('#tabs').tabs({
		// the selected tab
		selected: '<?php echo $request->tab; ?>'
	});
	
	<?php if($controller != 'farm'){ ?>
		$("#tabs ul li#tab_summary").removeClass("ui-state-active").removeClass("ui-tabs-selected");
	<?php } ?>
	
	$("#tabs ul#leftnav li a").click(function(e){
		currentclass = $(this).attr('tab');
		// alert(currentclass);
		var url = '';
		if($(this).hasClass('hasfarm')){
			$(".form-horizontal."+currentclass).html("<a id='loading' class='xhidden' style='text-align:center; display:block; margin-top:75px;'><span style='display:block; margin-bottom:15px; font-weight:bold;'>Loading...</span><img style='margin-left:-10px;' src='<?php echo $this->baseUrl('images/farmisloader.gif'); ?>' /></a>").css({'display':'block'});
			var url = '';
			if(currentclass == 'account'){
				var url = "<?php echo $this->baseUrl('farmer/view/id/'.encode($farmerid)); ?>";
			} else {
				var action = '<?php echo $action; ?>';
				// alert(currentclass);
				if(action == 'index' && (currentclass == 'summary' || currentclass == 'land')){
					<?php if(!isEmptyString($farm->getID())){ ?>
						var url = "<?php echo $this->baseUrl("farm/index/id/".encode($farm->getID())."/tab/"); ?>"+currentclass;
					<?php } else { ?>
						var url = "<?php echo $this->baseUrl("farm/index/farmerid/".encode($farmerid).'/restart/1'); ?>";	
					<?php } ?>
					
				} else {
					var url = "<?php echo $this->baseUrl("farm/view/id/".encode($farm->getID())."/tab/"); ?>"+currentclass;
				}
			}
		} else {
			var url = "<?php echo $this->baseUrl("farm/index/farmerid/".encode($farmerid).'/restart/1'); ?>";	
		}
		// alert(url);
		if(!isEmptyString(url)){
			location.href = url;  
		}
	});
	
	$("#tabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
   	$("#tabs ul#leftnav li").removeClass('ui-corner-top').addClass('ui-corner-left');
		
	$("#tabs ul#leftnav li.nofarm a").css({'color':'#D6D6C2'});
}); 
</script>

<style>

</style>
<div class="span3 marginleft0" id="left">    
    <div class="well" id="profiletop">
        <div class="profileinfo" style="width:170px; padding:2px;"> 
            <?php if($isme || isFarmGroupAdmin() || isAdmin()){ ?>
                <a href="<?php echo $this->baseUrl('farm/picture/id/'.encode($farm->getID())); ?>" class="editpic" title="Update Logo"><img id="profileimage" src="<?php echo $farm->getMediumLogoPath(); ?>" /><pre id="uploadlink" class="hide absoluteupload"><i class="icon-pencil"></i> Upload Image</pre></a>
            <?php } else { ?>
                <img id="profileimage" src="<?php echo $farm->getMediumLogoPath(); ?>" />
            <?php } ?>
        </div>
    </div>    
    <ul id="leftnav" style="width:97%;">
        <li id="tab_summary" class="hasfarm"><a href="#summary" tab="summary" class="hasfarm">Overview</a></li>
        <li id="tab_land" class="<?php echo $activeclass; ?>"><a href="#land" tab="land" class="<?php echo $activeclass; ?>">Land Usage</a></li>
        <li id="tab_commodities" class="<?php echo $activeclass; ?>"><a href="#commodities" tab="commodities" class="<?php echo $activeclass; ?>">Crops</a></li>
        <li id="tab_commodities" class="<?php echo $activeclass; ?>"><a href="#preseason" tab="preseason" class="<?php echo $activeclass; ?>">Preseason Estimates</a></li>
        <li id="tab_seasons" class="<?php echo $activeclass; ?>"><a href="#seasons" tab="seasons" class="<?php echo $activeclass; ?>">Manage Seasons</a></li>
        <li id="tab_calendar" class="<?php echo $activeclass; ?>"><a href="#calendar" tab="calendar" class="<?php echo $activeclass; ?>">Activity Calendar</a></li>
        <li id="tab_finance" class="<?php echo $activeclass; ?>"><a href="#finance" tab="finance" class="<?php echo $activeclass; ?>">Finance</a></li>
        <li id="tab_inventory" class="<?php echo $activeclass; ?>"><a href="#inventory" tab="inventory" class="<?php echo $activeclass; ?>">Inventory</a></li>
        <li id="tab_account" class="hasfarm"><a href="#account" tab="account" class="hasfarm">My Account</a></li>
    </ul>
</div>
