<?php
	require_once APPLICATION_PATH.'/includes/header.php';
		
	$title = "My Farms";
	// meta data
	$this->headTitle($title); 
	
	$farmer = new Farmer();
	$farmer->populate($farmerid);
	
	$hasfarm = false;
	$hasmultiplefarms = false;
	$countfarms = $farmer->getFarms()->count();
	if($countfarms == 1){
		$hasfarm = true;
		$farmid = $farmer->getFarms()->get(0)->getID();
	}
	if(!isEmptyString($farmer->getFarm()->getID())){
		$hasfarm = true;
		$farmid = $farmer->getFarm()->getID();
	}
	if($countfarms > 1){
		$hasmultiplefarms = true;
	}
	
	# Create an instance of the class to handle the pagination
	$paginate = new Pagination();	
	$paginate->setView($this);
	
	# set the search columns to be used on this list
	$paginate->setSearchColumns(array("f.businessname","f.shortname"));
	$paginate->setDefaultSortBy("f.businessname");	
	$paginate->setDefaultSortOrder("ASC");
	$paginate->setItemCountPerPage("ALL");
	
	$paginate->processPost($request->getParams());
	$all_results_query = "SELECT f.id, f.businessname, f.shortname as `shortname` FROM farm f WHERE f.farmerid = '".$farmerid."' ".$paginate->getSearchAndFilterSQL()." GROUP BY f.id ".$paginate->getSortSQL();
	// debugMessage($all_results_query);
	
	$paginate->setItemCountFromSQLQuery($all_results_query);	
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	
	$session->setVar(ALL_RESULTS_QUERY, $all_results_query);
	$session->setVar(CURRENT_RESULTS_QUERY, $current_results_query);
	// debugMessage($current_results_query);
	
	# the query string to be appended to the return to list URL
	$session->setVar('list_query_string'.$request->getControllerName(), $request->getParams());
	
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$has_no_data = (count($result) == 0) ? true : false; 
	
	$isadmin = false;
	if(isAdmin()){
		$isadmin = true;
	}
?>
<style>

</style>	
<div>
	<?php require APPLICATION_PATH."/views/scripts/index/leftcolumn.phtml"; ?>
    <div class="well" id="centercolumn">
    	<div class="well row" style="min-height:75px; position:absolute; right:15px; top:60px;">
            <h3 class="well-legend">Quick Links</h3>
            <table class="table">                       
               <tr>		                    
                    <td>
                    <?php // if($farm->getFarmerID() == $farmerid){ ?>
                        <a href="<?php echo $this->baseUrl('farm/add/pgc/true'); ?>" class="btn btn-primary span2 addpopup addfarm" title="Setup New Farm" rel="Setup New Farm" id="newfarm" formtitle="indexform" successurl="<?php echo $this->baseUrl('farm/list'); ?>" action="<?php echo $this->baseUrl("farm/create"); ?>"><i class="icon-plus"></i> New Farm</a>
                    <?php // } ?>
                    </td>
               </tr>
            </table>
        </div>
        <form>
        	<h1><?php echo $title; ?></h1>
        	<span class="pull-left" id="listdata" style="margin-left:0; width:100%;">    
				<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>	
                <?php // show a message that there are no items to display
                    if ($has_no_data) {
                ?>
                    <div class="alert alert-info"><?php echo $this->translate("farm_list_norecords"); ?></div>
                <?php } else { ?>
                    <ul class="nav" id="clans" >
                    <?php 
                        foreach($result as $line) { 
                            $farm = new Farm();
                            $farm->populate($line['id']);
                    ?>
                        <li class="well">
                            <table class="table clanlist">
                                <thead>
                                    <tr>
                                        <td colspan="2" class="nowrapping">                          	
                                        	<a class="clanpopup" id="clan_<?php echo $farm->getID(); ?>" href="<?php echo $this->baseUrl('farm/view/id/'.encode($farm->getID())); ?>" style="width:100%; display:block;" title="Details of <?php echo $farm->getName(); ?>"><h3><?php echo snippet($farm->getName(), 32, '...'); ?></h3></a></td>
                                    </tr>
                                </thead>
                                <tbody>                        
                                    <tr>
                                        <td width="130" style="padding:0;">
                                            <div class="profileinfo clantotem_thumb">
                                                <a href="<?php echo $this->baseUrl('farm/view/id/'.encode($farm->getID())); ?>" title="Details of <?php echo $farm->getName(); ?>"><img src="<?php echo $farm->getMediumLogoPath(); ?>" /></a>
                                            </div>
                                        </td>
                                        <td valign="top" style="padding:0;">
                                            <table style="width:100%;">
                                                <tr>
                                                    <td class="field"></td>
                                                    <td class="value"><?php //echo $farm->getHeadTitle(); ?></td>
                                                </tr>
                                                <tr>
                                                    <td class="field"></td>
                                                    <td class="value"><?php //echo $farm->getObutakaSsaza(); ?></td>
                                                </tr>                                               
                                            </table>                          	
                                        </td>
                                    </tr>                               
                                </tbody>
                            </table>
                        </li>
                    <?php } ?>
                    </ul>
                    <?php echo $paginate->getPaginationLinks(); ?>
                <?php } ?>
            </span>
        </form>
    </div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
