<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$farmer = new Farmer();
	$farmer->populate($farmerid);
	
	$id = decode($request->id);
	if(isEmptyString($id)){
		$id = $farmid;
		if(isEmptyString($farmid)){
			$hasfarm = false;
			$hasmultiplefarms = false;
			$countfarms = $farmer->getFarms()->count();
			if($countfarms == 1){
				$hasfarm = true;
				$id = $farmer->getFarms()->get(0)->getID();
				$session->setVar('farmid', $id);
			}
			if(!isEmptyString($farmer->getFarm()->getID())){
				$hasfarm = true;
				$id = $farmer->getFarm()->getID();
				$session->setVar('farmid', $id);
			}
		}
	}
	if(isEmptyString($request->tab)) {
		$request->setParam('tab', 'summary'); 
	}
	if($request->tab == 'land' && isEmptyString($request->farm)) {
		$request->setParam('farm', 'a'); 
	}
	// debugMessage(); exit();
	// $id = 2;
	$farm = new Farm();
	$farm->populate($id);
	$farm->cleanUpAddress();
	
	$thefarmid = $farm->getID();
	$hasmultiplefarms = false;
	$countfarms = $farm->getFarmer()->getFarms()->count();
	if($countfarms > 1){
		$hasmultiplefarms = true;
	}
	
	$seasons = $farm->getSeasons();
	$scount = $seasons->count();
	
	$inventories = $farm->getInventoryDetails();
	$tcount = $inventories->count();
											
	if($request->tab == 'calendar'){
		$season = $farm->getSeasons()->get(0);
		$timeline = sort_multi_array($season->getTimeLineDetails(), 'order');
	}
	
	$isme = false;
	if($farmerid == $farm->getFarmerID()){
		$isme = true;
	}
		
	$title = $this->translate('farm_title');
	$this->headTitle($title);
	
?>
<script>
$(document).ready(function() {
	<?php if($request->tab == 'calendar'){ ?>
		$('#calendarcontainer').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			defaultView: 'month',
			editable: false,
			events: "<?php echo $this->baseUrl('season/events/id/'.$season->getID()); ?>",
			eventRender: function(event, element) {
				var type = $("#targetposition").html();
				var tippos = $("#tipposition").html();
				var tooltip_title = event.formatedstart+': '+event.title;
				var idclass = event.className;
				if(!isEmptyString(event.end)){
					tooltip_title = event.formatedstart+' - '+event.formatedend+': '+event.title;
				}
				element.qtip({
					content: {
						text: '<a id="loading"><img style="margin-left:250px;" src="<?php echo $this->baseUrl('images/loader.gif'); ?>" /></a>',
						title: {
							text: tooltip_title
						}
					},
					hide: { when: 'mouseout', fixed: true },
					show: { solo: true, effect: 'slide'},
					position: {adjust: {x: 30, y: 0} },
					position: {
						corner: {target: 'bottomMiddle', tooltip: 'topMiddle'}
					},
					style: { 
						name: 'blue', width: 350, height: 175, padding: 5, background: '#F9F9F9',
						tip: {corner: 'topMiddle', size: {x: 20, y : 10 }},
						border:{width: 2,radius: 4, color: '#8F8F8F'},
						title: { 'color': 'white', 'background': '#81D122'}
					},
					api: {
						onShow: function(){
							$(".qtip-content").html($("ul#"+idclass).html());
						}
					}
				});
			}
		});
	<?php } ?>
	
	<?php if($request->tab == 'land'){ ?>
		$('#farm').tabs();
		<?php if(!isEmptyString($request->farm)){ ?>
			$("#farm").tabs({ selected:'<?php echo $request->farm; ?>', fx: {opacity: 'toggle'} });	   
		<?php } ?>
	<?php } ?>
	
	<?php if($request->tab == 'calendar'){ ?>
		$('#calendarcontainer').fullCalendar('today').css({'display':'block'});
	<?php } ?>
    
}); 
</script>
<style>
table.table .profilerightlabel {
	font-weight:bold;
}
</style>
<h1><?php echo $this->translate('farm_title'); ?></h1>
<div id="tabs">
    <?php require APPLICATION_PATH."/views/scripts/farm/farmleftcolumn.phtml"; ?>
    <div class="span9 tab-content" id="center"> 
        <div id="summary">
        	<h2>Overview</h2>
            <form id="profileform-summary" class="form-horizontal summary">
            <?php if($request->tab == 'summary'){ ?>
        	<div class="row" style="margin-left:0px;">
            	<div class="margin0" style="position:absolute; right:15px; top:10px;">
					<?php if($isme || isFarmGroupAdmin() || isAdmin()){ ?>    
                        <a class="btn btn-primary btn-mini" href="<?php echo $this->baseUrl('farm/index/id/'.encode($farm->getID())); ?>" title="Update Farm" id="update"><i class="icon-pencil icon-white"></i> Update</a>
                    <?php } ?>
                     <?php if($hasmultiplefarms && ($isme || isFarmGroupAdmin() || isAdmin())){ ?>
                        <a class="btn btn-primary btn-mini" href="<?php echo $this->baseUrl('farm/list'); ?>" title="List all Farms "><i class="icon-list icon-white"></i> List Farms</a>
                    <?php } ?>
                    <a class="btn btn-primary btn-mini" href="<?php echo $this->baseUrl('report/baselinedetail/id/'.$id); ?>" title="Report" id="update"><i class="icon-list-alt icon-white"></i> View Report</a>
                 </div>
            	<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>  
                <span class="span6 marginleft0" style="width:70%">
                    <div class="well row marginleft0" style="min-height:150px; padding-left:10px;">                        
                        <table class="table"> 
                        	<tr>
                                <td width="30%"><label class="control-label" style="display:inline-block;"><?php echo $this->translate("farm_name_label"); ?>:</label></td>
                                <td colspan="2"><h4 style="display:inline-block;"><?php echo $farm->getName(); ?></h4></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("farm_description_label"); ?>:</label></td>
                                <td colspan="2"><?php echo isEmptyString($farm->getDescription()) ? '--' : $farm->getDescription(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("farm_regdate_label"); ?>:</label></td>
								<td colspan="2"><?php echo $farm->getRegDateFormatted(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Practicing Farming Since:</label></td>
                                <td><?php echo $farm->getFullStartDate(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("farm_numberofemployees_label"); ?>:</label></td>
                                <td colspan="2"><?php echo isEmptyString($farm->getNumberOfEmployees()) ? '0' : $farm->getNumberOfEmployees(); ?></td>
                            </tr>
                            <tr>
                            	<td><label class="control-label">Farming Tools Used</label></td>
								<td><?php echo $farm->getFarmingToolsLabel(); ?></td>
                            </tr>
                        </table>
                    </div>
                </span>
                <span class="span3 pull-right" style="width:26%;">
                    <div id="xrow2_right" class="well row" style="height:260px; min-height:0;">
                        <h3 class="well-legend margin0">Summary</h3>
                        <table class="table table-striped table-bordered table-condensed" id="stats">
                            <tr>		                    
                                <td class="profilerightlabel"><b>No of Crops</b>:</td>
                                <td class="profilerightvalue"><?php echo $farm->getCrops()->count(); ?></td>
                            </tr>
                            <tr>		                    
                                <td class="profilerightlabel">Size of Land:</td>
                                <td class="profilerightvalue"><?php echo $farm->displayLandSize(); ?></td>
                            </tr>
                            <tr>		                    
                                <td class="profilerightlabel">No of Seasons:</td>
                                <td class="profilerightvalue"><?php echo $scount; ?></td>
                            </tr>
                            <tr>		                    
                                <td class="profilerightlabel">Inventory Items:</td>
                                <td class="profilerightvalue"><?php echo $tcount; ?></td>
                            </tr>
                            <tr>		                    
                                <td class="profilerightlabel">Sales to Date:</td>
                                <td class="profilerightvalue"><?php echo formatNumber($farm->getTotalSalesToDate()); ?></td>
                            </tr>
                            <tr>		                    
                                <td class="profilerightlabel">Expenses to Date:</td>
                                <td class="profilerightvalue"><?php echo formatNumber($farm->getTotalExpensesToDate()); ?></td>
                            </tr>
                        </table>
                    </div>               
                </span>
                
            </div>
            <div class="well row marginleft0" style="min-height:100px; width:97%;">
                <h3 class="well-legend">Location</h3>
                <table class="table">                       
                   <tr>
                        <td width="35%"><label class="control-label"><?php echo $this->translate("global_country_label"); ?>:</label>
                            <?php echo isEmptyString($farm->getAddress()->getCountry()) ? '--' : $farm->getAddress()->getCountryName(); ?>
                        </td>
                        <td width="30%"><label class="control-label"><?php echo $this->translate("global_district_label"); ?>:</label>
                            <?php echo isEmptyString($farm->getAddress()->getDistrictID()) ? '--' : $farm->getAddress()->getDistrict()->getName(); ?>
                        </td>
                        <td width="35%"><label class="control-label"><?php echo $this->translate("global_county_label"); ?>:</label>
                            <?php echo isEmptyString($farm->getAddress()->getCountyID()) ? '--' : $farm->getAddress()->getCounty()->getName(); ?>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label"><?php echo $this->translate("global_subcounty_label"); ?>:</label>
                            <?php echo isEmptyString($farm->getAddress()->getSubCountyID()) ? '--' : $farm->getAddress()->getSubCounty()->getName(); ?>
                        </td>
                        <td><label class="control-label"><?php echo $this->translate("global_parish_label"); ?>:</label>
                            <?php echo isEmptyString($farm->getAddress()->getParishID()) ? '--' : $farm->getAddress()->getParish()->getName(); ?>
                        </td>
                        <td><label class="control-label"><?php echo $this->translate("global_village_label"); ?>:</label>
                            <?php echo isEmptyString($farm->getAddress()->getVillageID()) ? '--' : $farm->getAddress()->getVillage()->getName(); ?>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><label class="control-label"><?php echo $this->translate("farmgroup_address_label"); ?></label>
                            <?php echo isEmptyString($farm->getAddress()->getStreetAddress()) ? '--' : nl2br($farm->getAddress()->getStreetAddress()); ?>
                        </td>
                    </tr>
                </table>
            </div>
            <?php } ?>
            </form>    
        </div>
        <div id="land">
        	<h2>Land Usage</h2>
            <form id="profileform-land" class="form-horizontal land">
            	<?php if($request->tab == 'land'){ ?>
					<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                        <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                    <?php } ?>
                    <div class="row" style="margin-left:0px;">
                        <div class="margin0" style="position:absolute; right:15px; top:10px;">
                        <?php if($isme || isFarmGroupAdmin() || isAdmin()){ ?>    
                            <a class="btn btn-primary btn-mini" href="<?php echo $this->baseUrl('farm/index/id/'.encode($id).'/tab/land'); ?>" id="update"><i class="icon-pencil icon-white"></i> Update</a> 
                        <?php } ?>
                    </div> 
                    <span class="span6 marginleft0" style="width:99%;">
                        <div id="row1_left" class="well row marginleft0" style="height:200px; padding-left:10px;">                        
                            <table class="table"> 
                                <tr>
                                    <td width="25%" class="nowrapping"><label class="control-label"><?php echo $this->translate("farm_landsize_label"); ?>:</label></td>
                                    <td><?php echo $farm->displayLandSize(); ?></td>
                                </tr>
                                <tr>
                                    <td class="nowrapping"><label class="control-label"><?php echo $this->translate("farm_landsizeactive_label"); ?>:</label></td>
                                    <td><?php echo $farm->displayActiveLandSize(); ?></td>
                                </tr>
                                <tr>
                                    <td class="nowrapping"><label class="control-label"><?php echo $this->translate("farm_landacquiremethod_label"); ?>:</label></td>
                                    <td><?php echo $farm->getLandAcquireMethodLabel(); ?></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">No of Farm Lands / <br />Farming Fields:</label></td>
                                    <td colspan="2"><?php echo $farm->getNumberOfFields(); ?></td>
                                </tr>
                            </table>
                        </div>
                    </span>
                </div>
                <!--<div class="well row marginleft0" style="min-height:75px; width:96%;"> 
                    <h3 class="well-legend">Farm Lands</h3>
                    <table class="table">                       
                        <tr>-->
                        	<!--<div id="farm" style="margin-top:5px; padding-top:5px; width:99%;">
                                <ul class="horizontal">
                                    <li><a href="#a" class="farm-1">Farm Land A</a></li>
                                    <li><a href="#b" class="farm-2">Farm Land B </a></li>
                                    <li><a href="#c" class="farm-3">Farm Land C</a></li>
                                </ul>
                                <div id="a">
                                	<span id="">
                                    
                                    </span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar 
                                    feugiat metus, eu dapibus tortor faucibus eu. Donec iaculis velit velit, 
                                    quis fermentum libero. 
                                    </p>
                                </div>
                                <div id="b">
                                    <p>Suspendisse hendrerit massa nec nisi ullamcorper in aliquam arcu 
                                    blandit. Aliquam erat volutpat. Sed nec bibendum tortor. Quisque pretium 
                                    ante nec nisl congue ut ultrices ante pretium. 
                                    </p>
                                </div>
                                <div id="c">
                                    <p>Nullam non est dui, ac varius nisi. In dapibus enim sit amet ipsum 
                                    accumsan pharetra. In nec tortor et felis hendrerit placerat. 
                                   </p>
                                </div>
                            </div>-->
                        <!--</tr>
                    </table>
                </div>-->
                <?php } ?>
            </form>    
        </div>
        <div id="commodities">
        	<h2>Crops</h2>
            <form id="profileform-farmers" class="form-horizontal commodities">
            <?php if($request->tab == 'commodities'){ ?>
        	<div class="row" style="margin-left:0px;">
            	<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>  
                <?php require APPLICATION_PATH."/views/scripts/farm/cropscolumn.phtml"; ?>
            </div>
            <?php } ?>
            </form>    
        </div>
        <div id="preseason">
        	<h2>Preseason Estimates</h2>
            <form id="profileform-preseason" class="form-horizontal preseason">
            <?php if($request->tab == 'preseason'){ 
				$farmpreseason = new FarmPreseason(); 
				
				$estimateid = $farm->getPreseasons()->get(0)->getID();
				// debugMessage();
				if(!isEmptyString($estimateid)){
					$farmpreseason->populate($estimateid);
				} else { 
					$farmpreseason->setFarmID($farm->getID());
					$farmpreseason->setFarmerID($farm->getFarmerID());
					$farmpreseason->setUserID($farm->getFarmer()->getUserID());
				}
			?>
        		<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>
                <?php if($sessionhaserror) { ?>
                    <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                <?php } ?>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                	 <div class="margin0" style="position:absolute; right:15px; top:10px;">
                     	<?php if($isme || isFarmGroupAdmin() || isAdmin()){ ?>    
                            <a class="btn btn-primary btn-mini" href="<?php echo $this->baseUrl('farm/index/id/'.encode($farm->getID()).'/tab/preseason'); ?>" title="Update Season" id="update"><i class="icon-pencil icon-white"></i> Update</a>
                        <?php } ?>
                     </div>
                     <span class="pull-left well lighter margin0" style="width:96%; height:150px; position:relative;">
                		<table class="table margin0" style="margin-top:15px;">
                            <tr>
                            	<td colspan="3">
                                	<label class="control-label">Are production estimates available?</label>
                                   	<?php echo $farm->getHistoryStatusText(); ?>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%;">
                                	<?php if($farm->hasPreviousSeason()){ ?>
                                    <label class="control-label">Season Started:</label>
                                    <div class="blocked"><?php echo $farm->getPreseason()->getFullStartDate(); ?></div>
                                    <?php } ?>
                                </td>
                                <td style="width:30%;">
                                	<?php if($farm->hasPreviousSeason()){ ?>
                                	<label class="control-label">Season Ended:</label>		
                                    <div class="blocked"><?php echo $farm->getPreseason()->getFullEndDate(); ?></div>
                                    <?php } ?>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                     </span>
                </div>
                <?php if($farm->hasPreviousSeason()){ ?>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
					<?php 
                        $preseasondetails = $farm->getpreseasons()->get(0)->getDetails();
                        $nooflines = $preseasondetails->count();
                        foreach($preseasondetails as $detail){
                    ?>
                    <span class="pull-left well lighter margin0" style="width:97%; min-height:180px; height:auto; margin-bottom:10px;">
                        <h3 class="well-legend"><?php echo $detail->getCrop()->getName(); ?>:</h3>
                        <table class="table noborder margin0" style="margin-top:10px;">
                            <tr>
                                <td style="width:33%;"><label class="control-label">Source of Inputs:</label><?php echo isEmptyString($detail->getinputsource()) ? '--' : $detail->getinputsource(); ?></td>
                                <td style="width:33%;"><label class="control-label">Acrage Cultivated:</label><?php echo $detail->getFieldSizeText(); ?></td>
                                <td><label class="control-label">Quantity Planted:</label><?php echo $detail->getTotalPlantedText(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Quantity Harvest:</label><?php echo $detail->gettotalharvesttext(); ?></td>
                                <td><label class="control-label">Harvest Yield:</label><?php echo $detail->getYieldText(); ?></td>
                                <td><label class="control-label">Cost of Production (Inputs):</label>
                                	<?php echo formatNumber( $detail->gettotalexpenseamount())."&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?>
                                </td>
                            </tr>
                            <tr>
                            	<td><label class="control-label">Sales Price Type:</label><?php $pricetypes = getPricingTypes(); echo isEmptyString($detail->getsaletype()) || $detail->getsaletype() == 0 ? '-- ' : $pricetypes[$detail->getsaletype()]; ?></td>
                                <td><label class="control-label">Quantity Sold:</label><?php echo $detail->getquantitysoldtext(); ?></td>
                                <td>
                                   <label class="control-label">Unit Selling Price:</label><?php echo formatNumber( $detail->getunitprice())."&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                            </tr>
                            <tr>
                            	<td><label class="control-label">Total Revenue (Approx):</label><?php echo formatNumber( $detail->gettotalsalesamount())."&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td> 
                                <td><label class="control-label">Revenue estimate for next season:</label><?php echo formatNumber( $detail->getnextseasonrevenue())."&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td> 
                                <td><label class="control-label">Received a Loan?</label><?php echo $detail->getfinancetype() == 0 ? 'No': 'Yes'; ?></td>
                            </tr>
                            <?php if($detail->hasLoan()){ ?>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_credit_principal_label"); ?>:</label>
										<?php echo formatMoney($detail->getLoan()->getPrincipal()); ?>
                                    </td> 
                                    <td><label class="control-label"><?php echo $this->translate("season_credit_interestrate_label"); ?>:</label>
										<?php echo clean_num($detail->getLoan()->getInterestRate()).'&nbsp;<span class="pagedescription">(%)</span>'; ?>&nbsp;
									</td> 
                                    <td><label class="control-label"><?php echo $this->translate("season_credit_repayment_label"); ?>:</label>
                                    	<?php echo formatMoney($detail->getLoan()->getPayBackAmount()); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_credit_payperiod_label"); ?>:</label>
										<?php echo isEmptyString($detail->getLoan()->getPayBackPeriodText()) ? '--' : $detail->getLoan()->getPayBackPeriodText(); ?>
                                    </td> 
                                    <td><label class="control-label"><?php echo $this->translate("season_credit_source_label"); ?>:</label>
										<?php echo isEmptyString($detail->getLoan()->getFinanceSourceText()) ? '--' : $detail->getLoan()->getFinanceSourceText(); ?>
									</td> 
                                    <td></td>
                                </tr>
                            <?php } ?>
                        </table>
                    </span>
                    <?php } ?>
                </div>
                 <?php } ?>
            <?php } ?>
            </form>    
        </div>
        <div id="seasons">
        	<h2>Manage Seasons</h2>
            <form id="profileform-farmers" class="form-horizontal seasons">
            <?php if($request->tab == 'seasons'){ ?>
        	<div class="row" style="margin-left:0px;">
            	<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>  
                <span class="span6 marginleft0" style="width:97%;">
					<div class="well row marginleft0" style="min-height:60px; padding-left:10px; position:relative;">
                        <div class="margin0" style="position:absolute; right:15px; top:15px;">
                             <a class="btn btn-primary btn-mini" href="<?php echo $this->baseUrl('season/index/farmid/'.encode($farm->getID())); ?>" title="Setup New Season"><i class="icon-plus icon-white"></i> Setup Season</a>
                        </div>               
					<?php 
						if($scount == 0) { ?>
                        <div class="alert alert-info">No seasons have been Setup yet. Click on 'Setup Season' to get started</div>
                    <?php } else { ?>                
                        <label class="labeldescription">Viewing <?php echo $scount; ?> <?php echo $scount == 1 ? 'season' : 'seasons'; ?></label>
                        <ul id="datalist" class="nav nav-stacked">
							<?php 
                                foreach($seasons as $season){
									$croplines = $season->getSeasonDetails();
									$noofcrops = $croplines->count();
									$randcrop = rand(0, $noofcrops-1);		  		
                            ?>
                            <li style="min-height:150px;">
                                <table class="table noborder margin0">
                                    <tr>                                
                                        <td width="30%" style="padding-top:20px;">
                                            <div class="imagecontainer" style="width:90%; min-height:90px; padding:2px;">
                                                <img style="width:100%;" src="<?php echo $season->getSeasonDetails()->get($randcrop)->getCrop()->getImagePath(); ?>" />
                                            </div>
										</td>
                                        <td class="padding0">
                                            <div style="position:relative;">
                                                <table class="itemlist table noborder margin0">
                                                    <tr>
                                                        <td colspan="4"><h2 style="font-size:15px;"><a href="<?php echo $this->baseUrl("season/view/id/".encode($season->getID())); ?>" title="Season Details"><?php echo $season->getName()." - ".$season->getRef(); ?></a></h2>
                                                        </td>
                                                        <td class="actionbuttons" rowspan="4" style="padding-top:5px;">
                                                            <a class="btn btn-primary btn-mini wrap" style="position:absolute; top:40px; right:10px;" href="<?php echo $this->baseUrl("season/view/id/".encode($season->getID())); ?>">View Details</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="90"><label class="control-label">Season Start: </label></td>
                                                        <td width="140" class="nowrapping"><span><?php echo $season->getFullStartDate(); ?></span></td>
                                                        <td width="60"><label class="control-label"></label></td>
                                                        <td width="100" class="nowrapping"><span></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label class="control-label">Projected End: </label></td>
                                                        <td class="nowrapping"><span><?php echo $season->getFullEndDate(); ?></span></td>
                                                        <td></td>
                                                        <td class="nowrapping"><span></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label class="control-label">Status: </label></td>
                                                        <td class="nowrapping"><span><?php echo $season->getStatusText(); ?></span></td>
                                                        <td></td>
                                                        <td class="nowrapping"><span></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label class="control-label">Crop: </label></td>
                                                        <td class="nowrapping"><span><?php echo $season->displayCrops(); ?></span></td>
                                                        <td></td>
                                                        <td class="nowrapping"><span></span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <?php } ?>    
                        </ul>
                        <?php } ?>           
                    </div>
                </span>
            </div>
            <?php } ?>
            </form>    
        </div>
        <div id="calendar">
        	<h2>Activity Calendar</h2>
            <form id="profileform-calendar" class="form-horizontal calendar">
            <?php if($request->tab == 'calendar'){ ?>
        	<div class="row" style="margin-left:0px;">
            	<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>  
                <span class="span6 marginleft0" style="width:96%;">
                	<div id='calendarcontainer' class=" padding0 margin0" style="margin-top:10px;"></div>
                    <?php
						foreach($timeline as $activity){
					?>
					<ul id="<?php echo $activity['uniqueid']; ?>" class="nav nav-stacked datalist hide" style="width:360px;">
						<li>
							<table class="table noborder margin0">
								<tr>                                
									<td class="padding0">
										<div style="position:relative;">
											<div style="position:absolute; top:5px; right:15px;">
												<a class="btn btn-primary btn-mini wrap"  href="<?php echo $activity['url']; ?>" title="View all details">View</a>
												<a class="btn btn-primary btn-mini wrap"  href="<?php echo $activity['editurl']; ?>" title="Update Activity">Update</a>
											</div>
											<table class="itemlist table noborder margin0">
												<tr>
													<td style="width:65px;"><label class="control-label pull-left">Ref#:</label></td>
													<td><span><?php echo $activity['ref']; ?></span></td>    
												</tr>      
												<tr>
													<td><label class="control-label pull-left">Details:</label></td>
													<td><span><?php echo snippet($activity['description'], 300, '...'); ?></span></td>    
												</tr>
												<tr>
													<td><label class="control-label pull-left">Status:</label></td>
													<td><span><?php echo $activity['status']; ?></span></td>    
												</tr>
												<?php if(in_array($activity['type'], array("1","2","3","4","5","6")) && $activity['expenses'] > 0){ ?>
													<tr>
														<td><label class="control-label pull-left">Expenses:</label></td>
														<td><span><?php echo formatNumber($activity['expenses']); ?></span></td>    
													</tr>  
												<?php } ?> 
												<?php if($activity['type'] == "7" && $activity['sale'] > 0){ ?>
													<tr>
														<td><label class="control-label pull-left">Revenue:</label></td>
														<td><span><?php echo formatNumber($activity['sale']); ?></span></td>    
													</tr>  
												<?php } ?>      
											</table>
										</div>
									</td>
								</tr>
							</table>
						</li>
					</ul>
					<?php } ?>
                </span>
            </div>
            <?php } ?>
            </form>    
        </div>
        <div id="finance">
        	<h2>Finance Dashboard</h2>
            <form id="profileform-finance" class="form-horizontal finance">
            <?php if($request->tab == 'finance'){ ?>
        	<div class="row" style="margin-left:0px;">
                <span class="marginleft0 span9" style="width:94%;">
                    <ul class="sectionitems">
                    	<li>
                            <a class="list" href="<?php echo $this->baseUrl("finance/credithistory/id/".encode($farm->getID())); ?>" title="Credit History"><img src="<?php echo $this->baseUrl('images/topmenu_market.png'); ?>" /><br /><h2>Credit History</h2></a>
                        </li>
                        <li>
                            <a class="list" href="<?php echo $this->baseUrl("finance/statement/farmid/".$farm->getID()); ?>" title="Profit and Loss Statement"><img src="<?php echo $this->baseUrl('images/topmenu_market.png'); ?>" /><br /><h2>Profit & Loss <br />Statement</h2></a>
                        </li>
                    </ul>
                </span>
            </div>
            <?php } ?>
            </form>    
        </div>
        <div id="inventory">
        	<h2>Inventory List</h2>
            <form id="profileform-resources" class="form-horizontal inventory">
            <?php if($request->tab == 'inventory'){ ?>
        	
            <div class="row" style="margin-left:0px;">
            	<?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>  
                <span class="span6 marginleft0" style="width:94%;">
					<div class="well row marginleft0" style="min-height:60px; padding-left:10px; position:relative;">
                    	<div class="margin0" style="position:absolute; right:10px; top:5px;">
                        	<a class="btn btn-primary" href="<?php echo $this->baseUrl('inventory/index/farmid/'.encode($farm->getID())); ?>" title="Add Inventory Item"><i class="icon-plus icon-white"></i> Add Item</a>                                       
                        </div>
					<?php 
						if($tcount == 0) { ?>
                        <div class="alert alert-info" style="margin-top:35px;">No inventory has been done yet. Click on 'Add Item' to get started</div>
                    <?php } else { ?>                
                        <label class="labeldescription">Viewing <?php echo $tcount; ?> <?php echo $tcount == 1 ? 'item' : 'inventory items'; ?></label>
                        
                        <ul id="datalist" class="nav nav-stacked">
							<?php 
                                foreach($inventories as $inventory){
                            ?>
                            <li style="min-height:130px;">
                                <table class="table noborder margin0">
                                    <tr>                                
                                        <td width="10%" style="padding-top:10px; padding-right:15px; vertical-align:middle;">
                                            <div class="<?php echo $inventory->hasProfileImage() ? 'imagecontainer':''; ?>" style="">
                                                <img style="width:140px;" src="<?php echo $inventory->getLargePicturePath(); ?>" />
                                            </div>
										</td>
                                        <td class="padding0" style="padding-right:15px;">
                                            <div style="position:relative;">
                                                <table class="itemlist table noborder margin0">
                                                    <tr>
                                                        <td colspan="4"><h2 style="font-size:15px;"><a href="<?php echo $this->baseUrl("inventory/view/id/".encode($inventory->getID())); ?>" title="Details"><?php echo $inventory->getItemName(); ?></a></h2>
                                                        </td>
                                                        <td class="actionbuttons" rowspan="4" style="padding-top:5px;">
                                                            <a class="btn btn-primary btn-mini wrap" style="position:absolute; top:25px; right:10px;" href="<?php echo $this->baseUrl("inventory/view/id/".encode($inventory->getID())); ?>">Details</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:25%;"><label class="control-label">Category: </label></td>
                                                        <td class="nowrapping"><span><?php echo $inventory->getCategory()->getName(); ?></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label class="control-label">Description: </label></td>
                                                        <td colspan="3" class="nowrapping"><span><?php echo nl2br($inventory->getDescription()); ?></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label class="control-label">Quantity: </label></td>
                                                        <td class="nowrapping"><span><?php echo $inventory->getQuantityText(); ?></span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <?php } ?>    
                        </ul>
                        <?php } ?>           
                    </div>
                </span>
            </div>
            <?php } ?>
            </form>    
        </div>        
        <div id="account">
        	<h2>My Account</h2>
            <form id="profileform-account" class="form-horizontal account">
            <?php if($request->tab == 'account'){ ?>
        	<div class="row" style="margin-left:0px;">
                <span class="marginleft0 span9" style="width:94%;">
                    <div class="well row marginleft0" style="min-height:60px; padding-left:10px;">  
                        <table class="table"> 
                        
                        </table>
                    </div>
                </span>
            </div>
            <?php } ?>
            </form>    
        </div>
	</div>
</div>
<?php
	$session->setVar(SUCCESS_MESSAGE, '');
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
