<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$title = "Contact Us";
	$this->headTitle($title);
	
	$button_title = "Submit";
	
	$farmer = new Farmer();
	/*if(!isEmptyString($farmerid)){
		$farmer->populate($farmerid);
	}*/
	
	$posturl = $this->baseUrl("contactus/processcontactus");
?>
<script>
	$(document).ready(function(){
		// validation code for the form
		$("#indexform").validate({
			// define the validation rules one field at a time
			rules: {
				subject: "required",
				name: "required",
				email: {
					required: true,
					email: true
				},
				message: "required",
				code: {
					required: true,
					validatecode: true					
				}
			}, 
			// the messages for each of the fields being validated
			messages: {
				subject: "Please select a Subject",
				name: "Please enter your Name",	
				email: {
					required: "Please enter your Email Address",
					email: "Please enter a valid Email Address"
				},
				message: "Please enter your message",
				code: {
					required: "Enter the code you see"
				}
			}
		});
		
		$.validator.addMethod("validatecode", function(value, element, params) {
			//alert('code is '+value); //alert('valid is '+$("#validcode").val());
			if ($("#code").val().toLowerCase() == $("#validcode").val().toLowerCase()) {
				return true; 
			}
			return false;        
		}, "Captcha Invalid! <br />Re-enter code or refresh for a new one");
		
		// refresh captcha
		$('img#refresh').click(function() { 			
			change_captcha();
		});
		
		$('img#refresh').click();
		function change_captcha(){
			$("#code").val(''); 
			$.get("<?php echo $this->baseUrl('signup/getcaptcha'); ?>", 
				// parameters for the request along with a cachebuster to stop IE from caching the request
				{cachebuster: new Date().getTime()}, 			   
				function(data){			
					//alert(data);
					$("#validcode").val(data); 
					$("#captcha").html(data).css({'font-size':'14px'});			
				}
			);
		}
		
	}); 
</script>
<style>
.form-horizontal .control-label {
	font-size:16px;
	color:#333333;
	width:auto;
}
.public_leftcolumn .content p {
	font-size:16px;
}
</style>
<div class="row marginleft0">
    <div class="span8 pull-left marginleft0 public_leftcolumn">
        <div class="content">
        	<div class="well row span8" style="margin:0 auto; display:block;">
				<form class="form-horizontal " id="indexform" action="<?php echo $posturl; ?>" method="post">
                    <h3 class="well-legend" style="text-align:center;"><?php echo $title; ?></h3></legend>
                    <table class="table">
                        <?php if($sessionhaserror || $request->result == 'error') { ?>
                            <tr>
                                <td colspan="2"><div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div></td>
                            </tr>
                        <?php } ?>
                        <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) || $request->result == 'true'){ ?>
                            <tr>
                                <td colspan="2">
                                    <div class="alert alert-success" style="text-align:left; display:block;">Message successfully sent</div>
                                    <span class="pagedescription" style="font-size:18px; font-style:normal;">
                                        Thank you for your interest in the FARMIS program. We shall be getting back to you shortly.
                                    </span>
                                </td>
                            </tr>
                        <?php } else { ?>	
                        <tr>
                            <td colspan="2">
                                <span class="pagedescription" style="font-size:18px; font-style:normal;">
                                    <p>Please use the form below to contact the FARMIS Team or leave any feedback. </p>
                                    <p>All fields marked with <?php echo $this->translate("global_required_field_marker"); ?> are mandatory.</p>
                                </span>
                            <td>
                        </tr>
                        <tr>
                            <td width="25%"><label class="control-label leftalign">Your Name: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                            <td><input name="name" id="name" type="text" class="span4" style="padding:8px;" value="" /><div id="name_error"></div></td>
                        </tr>
                        <tr>
                            <td><label class="control-label leftalign">Your Email: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                            <td><input class="span4" name="email" id="email " type="text" style="padding:8px;" value="" /><div id="email_error"></div></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Subject: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                            <td>
                            	<?php
									$subjects = getContactUsCategories();
									$catdropdown = new Zend_Form_Element_Select('subject',
														array(
															'multiOptions' => array_merge_maintain_keys(array('' => "<Select one>"), $subjects),
															'view' => new Zend_View(),
															'decorators' => array('ViewHelper'),
															'class' => array('xchzn-select','span3','xhastooltip'),
															'style' => 'width:301px; padding:8px; height:40px;'
														)
													);
									$catdropdown->setValue(''); 
									echo $catdropdown->render(); 
								  ?><div id="subject_error"></div></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Message: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                            <td><textarea name="message" id="message" class="span4 expanding xhastooltip" style="min-height:100px; width:291px;"></textarea><div id="message_error"></div></td>
                        </tr>
                        <tr>
                            <td><label class="control-label captcha">Captcha: <?php echo $this->translate("global_required_field_marker"); ?></label>
                            <span class="pagedescription">(enter the codes you see)</span></td>
                            <td>
                                <div id="wrap" class="public" align="center">
                                    <label id="captcha"></label>
                                    <input name="code" type="text" id="code" style="width:80px;" value="" />
                                    <input name="validcode" type="hidden" id="validcode" value="" />
                                </div>
                                <img src="<?php echo $this->baseUrl('images/refresh.jpg'); ?>" width="25" alt="Refresh Captcha Code" id="refresh" />                        
                                <div id="code_error"></div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" id="submit" class="btn btn-primary btn-gold btn-large bolded">Send Message</button></td>
                        </tr>
                        <?php } ?>
                  </table>
                </form>
            </div>
        </div>
    </div>
    <?php require APPLICATION_PATH."/views/scripts/index/righthandband.phtml"; ?>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
