<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$title = "Change Phone";
	$this->headTitle($title); 
	
	$useraccount = new UserAccount(); 	
	$useraccount->populate(decode($request->id));
	// debugMessage($useraccount->toArray());
	
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$useraccount->processPost($session->getVar(FORM_VALUES));	
	}

	$this->headTitle($title);
?>
<script>
	$(document).ready(function() {		
		
		$("#indexform").validate({		
			// define the validation rules one field at a time
			rules: {
				phone: {
					required: true, 					
					validnumber: true,
					maxlength: 10,
					minlength: 10,
					validate_ug: true,
					new_not_old: true
				}
			}, 
			// the messages for each of the fields being validated
			messages: {				
				phone: {
					required: "<?php echo $this->translate("useraccount_phonenumber_error"); ?>", 					
					maxlength: "Phone Number must have 10 Digits",
					minlength: "Phone Number must have 10 Digits",
					validate_ug: "<?php echo $this->translate("globale_phonenumber_format"); ?>",
					new_not_old: "New number should be different from current one"
				}
			},
			// custom error positions
			errorPlacement: function(error, element) {
				switch(element.attr("name")){					
					default:
						error.appendTo("#"+element.attr("name")+"_error")
						break;
				}			
			}
		});
		
		$.validator.addMethod("new_not_old", function(value, element) {
			var old = $("#oldphone").val();
			if(old != "" && value == old){
				return false;
			}		
			return true
		}, "New number should be different from current one");
		
		// add the validation for wholesale price to be less than retail price
		$.validator.addMethod("validnumber", function(value, element, params) { 
			if (IsValidAmount(value)) {
				return true; 
			}
			return false;        
		}, "Please enter a valid Phone Number");
		$.validator.addMethod("validate_ug", function(value, element, params) { 
			if(!isUgNumber(value)) {
				return false; 
			}
			return true;        
		}, "<?php echo $this->translate("globale_phonenumber_format"); ?>");
		
		//when button is clicked  
        $('#check_phone_availability').click(function(){ 
			check_phone_availability();  
        });
		$('#phone').change(function(){ 
			check_phone_availability();  
        });
		
		//function to check phone availability  
		function check_phone_availability(){  
			//get the username
			var checking_html = 'Checking availability...';   
			var phone = $('#phone').val();  
			if(!isEmptyString(phone) && isUgNumber(phone)){
				$('#phone_availability_result').html(checking_html);  
				var userid = '<?php echo $useraccount->getID(); ?>';
				//use ajax to run the check  
				$.post("<?php echo $this->baseUrl('signup/checkphone'); ?>", { phone: phone},  
					function(result){  
						//if the result is 1  
						// alert(result); return false;
						if(result == 1){  
							//show that the phone is available
							$('#phone_availability_result').html(phone + ' is NOT available!').addClass('alert').addClass('alert-error').removeClass('alert-success'); 
						} else {  
							//show that the phone is NOT available  
							$('#phone_availability_result').html(phone + ' is available').addClass('alert').addClass('alert-success').removeClass('alert-error');
						}  
				});  
			}
		} 
		
	}); 
</script>
<div class="popupdiv">
<form class="form-horizontal well span6" id="indexform" method="post">
    <table class="table">
		<?php if($sessionhaserror) { ?>
	        <tr>
	        	<td colspan="2"><div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div></td>
	        </tr>
        <?php } ?>
		<tr>
            <td width="30%"><label class="control-label pull-left">Current Primary Phone: </label></td>
            <td><input name="oldphone" id="oldphone" type="hidden" value="<?php echo $useraccount->getPhone(); ?>" /><?php echo $useraccount->getPhone(); ?>
            	<input type="hidden" name="entityname" value="UserAccount" />
                <input type="hidden" id="id" name="id" value="<?php echo encode($useraccount->getID()); ?>" />
            </td>
        </tr>
        <tr>
            <td><label class="control-label pull-left">New Primary Phone: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
            <td>
            	<div class="input-prepend">
                  <span class="add-on"><?php echo '+'.COUNTRY_CODE_UG; ?></span><input name="phone" id="phone" type="text" maxlength="10" class="span2" value="<?php echo getShortPhone($useraccount->getAltPhone()); ?>" />
               </div>
               <label class='lineblocked'><a href="javascript: void(0);" class="btn btn-primary btn-mini" id='check_phone_availability' title="Check Availability">Check</a></label><label class="pagedescription" style="font-size:10px;">e.g &nbsp; <span class="green">0772123456</span></label>
                <div id="phone_error"></div><div id="phone_availability_result" style="margin-top:5px;"></div>
            </td>
        </tr>
	</table>
</form>
<?php
	$clearsessionformvalues = true; 
	require_once APPLICATION_PATH.'/includes/footer.php';
?>