<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$activity = new SeasonActivity();
	$season = new Season(); 
	$acounter = "";
	if(!isEmptyString($request->sid)){
		$season->populate(decode($request->sid));
		$activity->setSeasonID($season->getID());
		$activity->setFarmID($season->getFarmID());
		$activity->setStartDate(date('Y-m-d'));
		$activity->setStatus('3');
		$acounter = $activity->getNextReferencePointer();
		$successurl = encode($this->baseUrl("season/activity/sid/".$request->sid));
	}
	
	$typename = "Activity";
	// default title is to enable adding any payee
	$title = $this->translate("season_activity_pagetitle_new"); 
	$posturl = $this->baseUrl("season/activitycreate");
	$button_title = $this->translate("global_button_save"); 
	
	// set the payee if provided in the url 
	if (!isEmptyString($request->id)) {
		$activity->populate(decode($request->id));
		$title = $this->translate("season_activity_pagetitle_edit"); 
		$button_title = $this->translate("global_button_save_changes");
		$acounter = substr($activity->getRef(), -3);
		$successurl = encode($this->baseUrl("season/activity/id/".$request->id));
	}
	$thefarmid = $activity->getSeason()->getFarmID();
		
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$activity->processPost($session->getVar(FORM_VALUES));	
	}
	
	// $activitytypes = getAllTillageTypes();
		
	$this->headTitle($title);  
	
?>
<script>
	$(document).ready(function() {
		$("#indexform").validate({		
			// define the validation rules one field at a time
			rules: {
				startdate: "required",
				method: "required",
				status: "required",
				totalapplied: {
					required: true
				},
				itemname: "required"
			}, 
			// the messages for each of the fields being validated
			messages: {		
				startdate: "<?php echo $this->translate("season_startdate_error"); ?>",
				method: "<?php echo $this->translate("season_method_error"); ?>",
				status: "<?php echo $this->translate("season_status_error"); ?>",
				totalapplied: {
					required: "<?php echo $this->translate("season_quantity_error"); ?>"
				},
				itemname: "<?php echo $this->translate("global_name_error"); ?>"
			},
			// custom error positions
			errorPlacement: function(error, element) {
				switch(element.attr("name")){					
					default:
						if(element.hasClass("useid_error")){
							error.appendTo("#"+element.attr("id")+"_error");
						} else {
							error.appendTo("#"+element.attr("name")+"_error");
						}
						break;
				}			
			}
		});
		
		// datepickerOpts = new Date();   
		$("#startdate, #enddate").datepicker(datepickerOpts);
		
		// compute activity reference
		$("#startdate").change(function(){
			var label = '';
			var counter = '<?php echo $acounter; ?>';
			var date = new Date($(this).val());
			var year = date.getFullYear();
			var month = date.getShortMonthName();
			var label = "<?php echo ACTIVITY_OTHER_PREFIX; ?>"+month+"/"+year+"/"+counter;
			$("#reflabel").html(label);
			$("#ref").val(label);
		});
		$("#startdate").change();
		
	}); 
</script>
<style>
</style>
<h1><?php echo $this->translate('farm_title'); ?></h1>
<div id="tabs">
    <?php require APPLICATION_PATH."/views/scripts/farm/farmleftcolumn.phtml"; ?>
    <div class="span9 tab-content" id="center">
    	<?php require APPLICATION_PATH."/views/scripts/farm/tabstop.phtml"; ?>
		<div id="seasons">
            <form id="indexform" class="form-horizontal seasons" action="<?php echo $posturl; ?>" method="post">
            <?php if($request->tab == 'seasons'){ ?>
                <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>
                <?php if($sessionhaserror) { ?>
                    <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                <?php } ?>
                	<div class="row margin0" style="padding:2px; margin-bottom:10px;">
                        <span class="pull-left well lighter margin0" style="width:72%; min-height:160px;">
                            <h3 class="well-legend"><?php echo $title; ?></h3>
                            <table class="table margin0" style="margin-top:15px;">
                                <tr>
                                    <td style="width:25%;"><label class="control-label"><?php echo $this->translate("season_activityref_label"); ?>: </label></td>
                                    <td style="width:35%;"><span id="reflabel"></span><input type="hidden" id="ref" name="ref" value="<?php echo $activity->getRef(); ?>" /></td>
                                    <td style="width:22%;"><label class="control-label"><?php echo $this->translate("season_ref_label"); ?>: </label></td>
                                    <td><a href="<?php $this->baseUrl('season/view/id/'.encode($activity->getSeasonID())); ?>" title="Season details"><?php echo $activity->getSeason()->getRef(); ?></a></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_activitystartdate_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                                    <td><input type="text" name="startdate" id="startdate" class="datefield width100" value="<?php echo changeMySQLDateToPageFormat($activity->getStartDate()); ?>" /><div id="startdate_error"></div></td>
                                    <td><label class="control-label"><?php echo $this->translate("season_activityenddate_label"); ?>:</label></td>
                                    <td><input type="text" name="enddate" id="enddate" class="datefield width100" value="<?php echo changeMySQLDateToPageFormat($activity->getEndDate()); ?>" /><div id="enddate_error"></div></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_status_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                                    <td colspan="3">
                                        <?php
                                            $allstatuses = getStatusValues();
                                            $statusesdropdown = new Zend_Form_Element_Select('status',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select>'), $allstatuses),								
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('hastooltip', 'span2'),
                                                                    'title' => $this->translate("season_status_tooltip"),
                                                                )
                                                            );
                                            $statusesdropdown->setValue($activity->getStatus()); 
                                            echo $statusesdropdown->render(); 
                                       ?><div id="status_error"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_commodity_label"); ?>: </label></td>
                                    <td>
                                        <?php
                                            $availablecrops = getSeasonCommodities($activity->getSeasonID());
                                            if(isEmptyString($activity->getID())){
                                                $key1 = array_shift(array_keys($availablecrops));
                                                $activity->setCropID($key1);
                                            }
                                            $cropdropdown = new Zend_Form_Element_Select('cropid',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $availablecrops),								
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('hastooltip'),
                                                                    'title' => $this->translate("season_commodity_tooltip"),
                                                                    'style' => "width:80%;"
                                                                )
                                                            );
                                            $cropdropdown->setValue($activity->getCropID()); 
                                            echo $cropdropdown->render();
                                       ?><div id="cropid_error"></div>
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Name of Activity: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                                    <td colspan="3"><input type="text" name="itemname" id="itemname" class="span3 hastooltip" value="<?php echo $activity->getItemName(); ?>" title="<?php echo $this->translate("season_activity_itemname_tooltip"); ?>" /><div id="itemname_error"></div></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Type / Category: </label></td>
                                    <td colspan="3"><input type="text" name="itemtype" id="itemtype" class="span3 hastooltip" value="<?php echo $activity->getItemType(); ?>" title="<?php echo $this->translate("season_activity_itemtype_tooltip"); ?>" /></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_activity_method_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                                    <td colspan="3"><input style="width:170px;" type="text" name="method" id="method" class="hastooltip span2" title="<?php echo $this->translate("season_activity_method_tooltip"); ?>" value="<?php echo $activity->getMethod(); ?>" /><div id="method_error"></div></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_activity_quantity_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                                    <td colspan="3">
                                        <input style="width:50px;" type="text" name="totalapplied" id="totalapplied" class="centeralign isnumber width80" value="<?php echo $activity->getTotalApplied(); ?>" placeholder="qty" />&nbsp;
                                        <input type="text" name="totalappliedunit" id="totalappliedunit" class="hastooltip width100" title="<?php echo $this->translate("season_activity_totalapplied_tooltip"); ?>" value="<?php echo $activity->getTotalAppliedUnit(); ?>"placeholder="qty unit" /><div id="totalapplied_error"></div></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Usage Rate: </label></td>
                                    <td colspan="3">
                                        <input style="width:50px;" type="text" name="itemrate" id="itemrate" class="centeralign isnumber" value="<?php echo $activity->getItemRate(); ?>" placeholder="rate" />&nbsp;
                                        
                                        <input type="text" name="itemrateunit" id="itemrateunit" class="hastooltip width100" value="<?php echo $activity->getItemRateUnit(); ?>" title="<?php echo $this->translate("season_activity_itemrate_tooltip"); ?>" placeholder="rate unit" /><div id="itemrate_error"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_activity_timing_label"); ?>:</label></td>
                                    <td colspan="3">
                                        <?php
                                            $alltypes = getTimingValues();
                                            $timedropdown = new Zend_Form_Element_Select('timing',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select>'), $alltypes),								
                                                                    'view' => new Zend_View(),
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('hastooltip', 'span3'),
                                                                    'title' => $this->translate("season_activity_timing_tooltip")
                                                                )
                                                            );
                                            
                                            $timedropdown->setValue($activity->getTiming());
                                            echo $timedropdown->render();
                                       ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_other_expenses_label"); ?>: </label></td>
                                    <td colspan="3">
                                    <div class="input-prepend"><span class="add-on"><?php echo $config->currency->default; ?></span><input type="text" name="totalexpenses" id="totalexpenses" class="width100 hastooltip isamount" value="<?php echo $activity->getTotalExpenses(); ?>" title="<?php echo $this->translate("season_activity_totalexpenses_tooltip"); ?>" /></div><div id="totalexpenses_error"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_activity_target_label"); ?>:</label></td>
                                    <td colspan="3"><input type="text" name="target" id="target" class="span5 hastooltip" value="<?php echo $activity->getTarget(); ?>" title="<?php echo $this->translate("season_activity_target_tooltip"); ?>" /></td>
                                </tr>
                                <tr>
                                    <td><label class="control-label"><?php echo $this->translate("season_notes_label"); ?>: </label></td>
                                    <td colspan="3"><textarea name="notes" id="notes" class="span4 hastooltip expanding" style="min-height:60px; width:90%;" title="<?php echo $this->translate("season_notes_tooltip"); ?>"><?php echo $activity->getNotes(); ?></textarea></td>
                                </tr>
                            </table>
                        </span>
                        <span class="pull-right padding0" style="width:24%; margin-left:5px;">
                            <div class="well margin0" style="height:160px;">
                                    <h3 class="well-legend">Quick Links</h3>
                                    <table class="table noborder" >                       
                                       <tr>		                    
                                            <td class="formactions">
                                                <button type="submit" class="btn btn-primary savethenview"><i class="icon-ok icon-white"></i> <?php echo $button_title; ?></button>
                                                <a href="<?php echo $this->baseUrl('season/view/id/'.encode($season->getID())); ?>" class="btn"><i class="icon-remove"></i> <?php echo $this->translate('global_button_cancel'); ?></a>
                                                <input type="hidden" name="entityname" value="SeasonActivity" />
                                                <input type="hidden" id="id" name="id" value="<?php echo encode($activity->getID()); ?>" />
                                                <input type="hidden" id="seasonid" name="seasonid" value="<?php echo $activity->getSeasonID(); ?>" />
                                                <input type="hidden" id="farmid" name="farmid" value="<?php echo $activity->getFarmID(); ?>" />
                                                <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $this->translate("global_save_success"); ?>" /> 
                                                <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($this->baseUrl("season/activityview")); ?>" /> 
                                                <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo $successurl; ?>" /> 
                                            </td>
                                       </tr>
                                    </table>                           
                                </div>
                        </span>
                    </div>
            <?php } ?>    
            </form>
		</div>
		<?php require APPLICATION_PATH."/views/scripts/farm/tabsbottom.phtml"; ?> 
    </div>
</div>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>