<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$activity = new SeasonActivity();
	$activity->populate(decode($request->id));	
	$thefarmid = $activity->getSeason()->getFarmID();
	
	$title = "Activity: ".$activity->getItemName(); 
		
	$this->headTitle($title);  
	
?>
<script>
	$(document).ready(function() {
		
	}); 
</script>
<h1><?php echo $this->translate('farm_title'); ?></h1>
<div id="tabs">
    <?php require APPLICATION_PATH."/views/scripts/farm/farmleftcolumn.phtml"; ?>
    <div class="span9 tab-content" id="center">
    	<?php require APPLICATION_PATH."/views/scripts/farm/tabstop.phtml"; ?>
		<div id="seasons">
            <form id="viewform" class="form-horizontal seasons">
            <?php if($request->tab == 'seasons'){ ?>
                <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>
                <?php if($sessionhaserror) { ?>
                    <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                <?php } ?>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left well lighter margin0" style="width:72%; min-height:160px;">
                        <h3 class="well-legend"><?php echo $title; ?></h3>
                        <table class="table noborder margin0" style="margin-top:15px;">
                            <tr>
                                <td style="width:20%;"><label class="control-label"><?php echo $this->translate("season_activityref_label"); ?>: </label></td>
                                <td style="width:30%;"><?php echo $activity->getRef(); ?></td>
                                <td style="width:20%;"><label class="control-label"><?php echo $this->translate("season_ref_label"); ?>: </label></td>
                                <td><a href="<?php $this->baseUrl('season/view/id/'.encode($activity->getSeasonID())); ?>" title="Season details"><?php echo $activity->getSeason()->getRef(); ?></a></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_activitystartdate_label"); ?>:</label></td>
                                <td><?php echo changeMySQLDateToPageFormat($activity->getStartDate()); ?></td>
                                <td><label class="control-label"><?php echo $this->translate("season_activityenddate_label"); ?>:</label></td>
                                <td><?php echo changeMySQLDateToPageFormat($activity->getEndDate()); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_status_label"); ?>:</label></td>
                                <td colspan="3"><?php echo getStatusText($activity->getStatus()); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_commodity_label"); ?>:</label></td>
                                <td colspan="3"><?php echo $activity->getCrop()->getName(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_activity_itemtype_label"); ?>:</label></td>
                                <td colspan="3"><?php echo $activity->getItemType(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_activity_method_label"); ?>:</label></td>
                                <td colspan="3"><?php echo $activity->getMethod(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_activity_itemrate_label"); ?>:</label></td>
                                <td colspan="3"><?php echo $activity->getItemRate()."&nbsp;<span class='pagedescription'>(".$activity->getItemRateUnit().")</span>"; ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_activity_quantity_label"); ?>:</label></td>
                                <td colspan="3"><?php echo $activity->getTotalApplied()."&nbsp;<span class='pagedescription'>(".$activity->getTotalAppliedUnit().")</span>"; ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_activity_timing_label"); ?>:</label></td>
                                <td colspan="3"><?php echo $activity->getTimingText(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_other_expenses_label"); ?>: </label></td>
                                <td colspan="3"><?php echo formatNumber($activity->getTotalExpenses())."&nbsp;<span class='pagedescription'>(".$config->currency->default.")</span>"; ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_activity_target_label"); ?>:</label></td>
                                <td colspan="3"><?php echo $activity->getTarget(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_notes_label"); ?>: </label></td>
                                <td colspan="3"><?php echo $activity->getNotes(); ?></td>
                            </tr>
                        </table>
                    </span>
                    <span class="pull-right padding0" style="width:24%; margin-left:5px;">
                        <div class="well margin0" style="height:160px;">
                            <h3 class="well-legend">Quick Links</h3>
                            <table class="table noborder" >                       
                               <tr>		                    
                                    <td class="formactions">
                                        <?php if($activity->getSeason()->getFarmerID() == $farmerid){ ?>
                                            <a class="btn btn-primary" href="<?php echo $this->baseUrl('season/activity/id/'.encode($activity->getID())); ?>" id="update"><i class="icon-pencil icon-white"></i> Update</a>   
                                        <?php } ?>
                                        <a class="btn" href="<?php echo $this->baseUrl('season/view/id/'.encode($activity->getSeasonID())); ?>" title="Return to Timeline"><i class="icon-list"></i> View Timeline</a>           
                                    </td>
                               </tr>
                            </table>                           
                        </div>
                    </span>
                </div>
            <?php } ?>    
            </form>
		</div>
		<?php require APPLICATION_PATH."/views/scripts/farm/tabsbottom.phtml"; ?> 
    </div>
</div>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>