<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$harvest = new SeasonHarvest();
	$harvest->populate(decode($request->id));	
	$thefarmid = $harvest->getSeason()->getFarmID();
	
	$title = sprintf($this->translate("season_harvest_pagetitle_view"), 'Harvesting'); 
		
	$this->headTitle($title);  
	
?>
<script>
	$(document).ready(function() {
		
	}); 
</script>
<h1><?php echo $this->translate('farm_title'); ?></h1>
<div id="tabs">
    <?php require APPLICATION_PATH."/views/scripts/farm/farmleftcolumn.phtml"; ?>
    <div class="span9 tab-content" id="center">
    	<?php require APPLICATION_PATH."/views/scripts/farm/tabstop.phtml"; ?>
		<div id="seasons">
            <form id="viewform" class="form-horizontal seasons">
            <?php if($request->tab == 'seasons'){ ?>
                <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>
                <?php if($sessionhaserror) { ?>
                    <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                <?php } ?>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left well lighter margin0" style="width:72%; min-height:160px;">
                        <h3 class="well-legend"><?php echo $title; ?></h3>
                        <table class="table noborder margin0" style="margin-top:15px;">
                            <tr>
                                <td style="width:20%;"><label class="control-label"><?php echo $this->translate("season_activityref_label"); ?>: </label></td>
                                <td style="width:30%;"><?php echo $harvest->getRef(); ?></td>
                                <td style="width:20%;"><label class="control-label"><?php echo $this->translate("season_ref_label"); ?>: </label></td>
                                <td><a href="<?php $this->baseUrl('season/view/id/'.encode($harvest->getSeasonID())); ?>" title="Season details"><?php echo $harvest->getSeason()->getRef(); ?></a></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_activitystartdate_label"); ?>:</label></td>
                                <td><?php echo changeMySQLDateToPageFormat($harvest->getStartDate()); ?></td>
                                <td><label class="control-label"><?php echo $this->translate("season_activityenddate_label"); ?>:</label></td>
                                <td><?php echo changeMySQLDateToPageFormat($harvest->getEndDate()); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_status_label"); ?>:</label></td>
                                <td colspan="3"><?php echo getStatusText($harvest->getStatus()); ?></td>
                            </tr>
                        </table>
                    </span>
                    <span class="pull-right padding0" style="width:24%; margin-left:5px;">
                        <div class="well margin0" style="height:160px;">
                            <h3 class="well-legend">Quick Links</h3>
                            <table class="table noborder" >                       
                               <tr>		                    
                                    <td class="formactions">
                                        <a class="btn btn-primary" href="<?php echo $this->baseUrl('season/harvest/id/'.encode($harvest->getID())); ?>" id="update"><i class="icon-pencil icon-white"></i> Update</a>
                                        <a href="javascript: void(0)" id="deleteline" title="Delete Entry" class="btn deleteline noimgbutton" action="<?php echo $this->baseUrl('season/delete/id/'.$harvest->getID()."/entityname/SeasonHarvest/successurl/".encode($this->baseUrl('season/view/id/'.encode($harvest->getSeasonID())))); ?>"><i class="icon-trash"></i></a>   
                                        <a class="btn" href="<?php echo $this->baseUrl('season/view/id/'.encode($harvest->getSeasonID())); ?>" title="Return to Timeline"><i class="icon-list"></i> View Timeline</a>           
                                    </td>
                               </tr>
                            </table>                           
                        </div>
                    </span>
                </div>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left" style="width:100%; margin-right:5px;">
                        <div id="location_left" class="well lighter margin0" style="min-height:150px;"> 
                            <h3 class="well-legend">Harvest Details</h3>
                            <table class="table noborder">
                                <tr>
                                    <td style="width:45%; padding-left:0;">
                                        <table class="table">
                                            <tr>
                                                <td style="width:35%;"><label class="control-label"><?php echo $this->translate("season_commodity_label"); ?>:</label></td>
                                                <td><?php echo $harvest->getCrop()->getName(); ?></td>
                                            </tr>
                                            <tr>
                                                <td><label class="control-label"><?php echo $this->translate("season_methodused_label"); ?>:</label></td>
                                                <td><?php echo $harvest->getMethodText(); ?></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table class="table">
                                        	<tr>
                                                <td style="width:30%;"><label class="control-label"><?php echo $this->translate("season_harvest_area_label"); ?>:</label></td>
                                                <td><?php echo $harvest->getFieldSize()."&nbsp;<span class='pagedescription'>(".$harvest->getFieldSizeUnitText().")</span>"; ?></td>
                                            </tr>
                                            <tr>
                                                <td><label class="control-label"><?php echo $this->translate("season_harvest_quantity_label"); ?>:</label></td>
                                                <td><?php echo $harvest->getTotalHarvest()."&nbsp;<span class='pagedescription'>(".$harvest->getTotalHarvestUnitText().")</span>"; ?></td>
                                            </tr>
                                            <tr>
                                                <td><label class="control-label"><?php echo $this->translate("season_harvest_yield_label"); ?>:</label></td>
                                                <td><?php echo $harvest->getYield()."&nbsp;<span class='pagedescription'>(".$harvest->getYieldUnitText().")</span>"; ?></td>
                                            </tr>
                                            
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </span>
                </div>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left well lighter margin0" id="row2_left" style="width:97%; min-height:50px; height:auto;">
                        <?php 
							$loan = $harvest->getCreditDetails();
						?>
                        <h3 class="well-legend"><?php echo $this->translate("season_credit_finance_title"); ?></h3>
                        <table class="table noborder margin0" style="margin-top:10px;">
                            <tr>
                                <td style="width:20%;"><label class="control-label"><?php echo $this->translate("season_credit_type_label"); ?>:</label></td>
                                <td colspan="3"><?php $data = getCapitalSources(); echo $data[$harvest->getFinanceType()]; ?></td>
                            </tr>
                            <?php if($harvest->getFinanceType() == 5){ ?>
                            <tr>
                                <td style="width:20%;"><label class="control-label"><?php echo $this->translate("season_credit_client_label"); ?>:</label></td>
                                <td colspan="3"><?php echo $loan->getTheClient(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_credit_value_label"); ?>:</label></td>
                                <td colspan="3"><?php echo isEmptyString($loan->getPrice()) ? '--' : nl2br($loan->getPrice()); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_credit_terms_label"); ?>:</label></td>
                                <td colspan="3"><?php echo isEmptyString($loan->getContract()) ? '--' : nl2br($loan->getContract()); ?></td>
                            </tr>
                            <?php } ?>
                            <tr>
                                <td class="padding0" colspan="4">
                                <?php if($harvest->getFinanceType() == 3 || $harvest->getFinanceType() == 4){ ?>
                                    <table>
                                        <tbody id="hasloan">
                                            <tr>
                                                <td style="width:27%;"><label class="control-label"><?php echo $this->translate("season_credit_principal_label"); ?>:</label>
                                                <?php echo formatMoney($loan->getPrincipal()); ?></td>
                                                <td style="width:27%;"><label class="control-label"><?php echo $this->translate("season_credit_interestrate_label"); ?>:</label>
                                                <?php echo $loan->getInterestRate().'&nbsp;<span class="pagedescription">(%)</span>'; ?>&nbsp;</td>
                                                <td style="width:27%;"><label class="control-label"><?php echo $this->translate("season_credit_payperiod_label"); ?>:</label>
                                                <?php echo isEmptyString($loan->getPayBackPeriodText()) ? '--' : $loan->getPayBackPeriodText(); ?></td>
                                                <td><label class="control-label"><?php echo $this->translate("season_credit_repayment_label"); ?>:</label>
                                                <?php echo formatMoney($loan->getPayBackAmount()); ?></td>
                                            </tr>
                                            <tr>
                                                <td><label class="control-label"><?php echo $this->translate("season_credit_regularpay_label"); ?>:</label>
                                                <?php echo $loan->getInstallmentText(); ?></td>
                                                <td><label class="control-label"><?php echo $this->translate("season_credit_datereceived_label"); ?>:</label>
                                                <?php echo isEmptyString($loan->getcreditdate()) ? '--' : changeMySQLDateToPageFormat($loan->getcreditdate()); ?></td>
                                                <td colspan="2">
                                                <?php if($harvest->getFinanceType() == 4){ ?>
                                                    <label class="control-label"><?php echo $this->translate("season_credit_source_label"); ?>:</label>
                                                    <?php echo $loan->getFinancialSourceValue(); ?>
                                                <?php } ?>
                                                <?php if($harvest->getFinanceType() == 3){ ?>
                                                    <label class="control-label"><?php echo $this->translate("season_credit_source_label"); ?>:</label>
                                                    <?php echo isEmptyString($loan->getFinanceSourceText()) ? '--' : $loan->getFinanceSourceText(); ?>
                                                <?php } ?>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <?php } ?>
                                </td>
                            </tr>
                        </table>
                    </span>
                </div>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left" style="width:100%; margin-right:5px;">
                        <div id="location_left" class="well lighter margin0" style="min-height:100px; position:relative;"> 
                            <?php
								$expenselines = $harvest->getExpensesDetails();
								// debugMessage($expenselines->toArray());
								$count = $expenselines->count();
								$exp_label = '';
								if($count > 0){
									$exp_label = '<span class="pagedescription">('.$count.')</span>';
								}
							?>
                            <h3 class="well-legend">Expenses <?php echo $exp_label; ?></h3>
                            <div class="margin0" style="position:absolute; right:10px; top:5px;">
                                <a href="<?php echo $this->baseUrl('season/expense/type/SeasonHarvest/pgc/true/refid/'.encode($harvest->getID())); ?>" class="btn btn-mini addpopup" title="Add Expense" rel="Add Expense" id="newexpense" formtitle="indexform" successurl="<?php echo $this->baseUrl('season/harvestview/id/'.encode($harvest->getID())); ?>" action="<?php echo $this->baseUrl('season/expensecreate/successurl/'.encode($this->baseUrl('season/addexpsuccess/successmessage/global_save_success/'))); ?>"><i class="icon-plus"></i> Add </a>                                       
                            </div>
							<?php if($count == 0){ ?>
                                <br /><span class="pagedescription">None currently available.</span>
                            <?php } else { ?>
                                <ul id="datalist" class="nav nav-stacked">
                                <?php 
                                    $x = 1;
                                    foreach($expenselines as $expense){
                                ?>
                                    <li>
                                        <table class="table noborder margin0">
                                            <tr>                                
                                                <td width="15%"><?php echo changeMySQLDateToPageFormat($expense->getInputDate()); ?></a></td>
                                                <td class="padding0">
                                                    <div style="position:relative;">
                                                        <div class="threadicons" style="position:absolute; right:5px; top:5px;">
                                                            <a href="<?php echo $this->baseUrl('season/expense/pgc/true/type/SeasonHarvest/refid/'.encode($harvest->getID()).'/id/'.encode($expense->getID())); ?>" class="addpopup btn btn-mini" title="Edit Expense" rel="Edit Expense" id="editexpense_<?php echo $expense->getID(); ?>" formtitle="indexform" successurl="<?php echo $this->baseUrl('season/harvestview/id/'.encode($harvest->getID())); ?>" action="<?php echo $this->baseUrl('season/expensecreate/successurl/'.encode($this->baseUrl('season/addexpsuccess/successmessage/global_save_success/'))); ?>"><i class="icon-pencil"></i></a></a>
                                                            <a href="javascript: void(0)" id="deleteline_multiple" title="Delete Entry" class="btn btn-mini deleteline noimgbutton" action="<?php echo $this->baseUrl('season/delete/id/'.$expense->getID()."/entityname/SeasonInputDetail/successurl/".encode($this->baseUrl('season/harvestview/id/'.encode($harvest->getID())))); ?>"><i class="icon-trash"></i></a>
                                                        </div>
                                                        <table class="itemlist table noborder margin0">
                                                            <tr>
                                                                <td style="width:150px;"><label class="control-label">Type:</label>
                                                                    <span><?php echo $expense->getTypeText(); ?></span></td>
                                                                <td style="width:180px;"><label class="control-label">Description </label>
                                                                    <span><?php echo snippet($expense->getName(), 100, '...'); ?></span></td>
                                                                <td style="width:100px;"><label class="control-label">Quantity</label>
                                                                    <span><?php echo $expense->getQuantity(); ?></span></td>
                                                                <td><label class="control-label">Amount</label>
                                                                    <span><?php echo formatNumber($expense->getAmount()); ?></span></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                       
                                                </td>
                                             </tr>
                                        </table>
                                     </li>
                                <?php } ?>
                                </ul>
                            <?php } ?>
                        </div>
                    </span>
                </div>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left" style="width:100%; margin-right:5px;">
                        <div id="location_left" class="well lighter margin0" style="min-height:100px; position:relative;"> 
                            <?php
								$notelines = $harvest->getNotesDetails();
								// debugMessage($expenselines->toArray());
								$count = $notelines->count();
								$notes_label = '';
								if($count > 0){
									$notes_label = '<span class="pagedescription">('.$count.')</span>';
								}
							?>
                            <h3 class="well-legend">Notes | Comments <?php echo $notes_label; ?></h3>
                            <div class="margin0" style="position:absolute; right:10px; top:5px;">
                                <a href="<?php echo $this->baseUrl('season/notes/type/SeasonHarvest/pgc/true/refid/'.encode($harvest->getID())); ?>" class="btn btn-mini addpopup" title="Add Notes" rel="Add Notes" id="newnote" formtitle="indexform" successurl="<?php echo $this->baseUrl('season/harvestview/id/'.encode($harvest->getID())); ?>" action="<?php echo $this->baseUrl('season/notescreate/successurl/'.encode($this->baseUrl('season/addnotessuccess/successmessage/global_save_success/'))); ?>"><i class="icon-plus"></i> Add</a>                                            
                            </div>
                            <?php if($count == 0){ ?>
                                <br /><span class="pagedescription">None currently available.</span>
                            <?php } else { ?>
                                <ul id="datalist" class="nav nav-stacked">
                                <?php 
                                    $x = 1;
                                    foreach($notelines as $note){
										$farmer = $note->getNotedBy()->getFarmer();
                                ?>
                                    <li>
                                        <table class="table noborder margin0">
                                            <tr>                                
                                                <td class="" style="width:90%;">
                                                	<table class="itemlist table noborder margin0">
                                                        <tr>
                                                            <td style="width:75px; padding-top:10px;">
                                                                <div id="thumbinfo" class="<?php echo $farmer->hasProfileImage() ? 'new_pic': ''; ?>"> 
                                                                    <a href="<?php //echo $this->baseUrl("farmer/view/id/".encode($line['id'])); ?>" title="<?php echo $this->translate("person_button_view_profile"); ?>"><img src="<?php echo $farmer->getUser()->getThumbnailPicturePath(); ?>" /></a>
                                                                </div>
                                                            </td>
                                                            <td style="padding-left:15px;"><label class="control-label"><?php echo date('M j, Y g:i A', strtotime($note->getDateNoted())); ?></label>
                                                            	<span><?php echo nl2br($note->getDescription()); ?></span>
                                                            
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="padding0">
                                                	<div style="position:relative;">
                                                        <div class="threadicons" style="position:absolute; right:5px; top:5px;">
                                                            <!--<a href="<?php //echo $this->baseUrl('season/expense/pgc/true/type/SeasonHarvest/refid/'.encode($harvest->getID()).'/id/'.encode($note->getID())); ?>" class="addpopup btn btn-mini" title="Edit Note" rel="Edit Note" id="editnote_<?php //echo $note->getID(); ?>" formtitle="indexform" successurl="<?php //echo $this->baseUrl('season/harvestview/id/'.encode($harvest->getID())); ?>" action="<?php //echo $this->baseUrl('season/expensecreate/successurl/'.encode($this->baseUrl('season/addexpsuccess/successmessage/global_save_success/'))); ?>"><i class="icon-pencil"></i></a></a>-->
                                                            <a href="javascript: void(0)" id="deleteline_multiple" title="Delete Entry" class="btn btn-mini deleteline noimgbutton" action="<?php echo $this->baseUrl('season/delete/id/'.$note->getID()."/entityname/Notes/successurl/".encode($this->baseUrl('season/harvestview/id/'.encode($harvest->getID())))); ?>" message="Are you sure you want to delete this note?"><i class="icon-trash"></i></a>
                                                        </div>
                                            
                                                    </div>
                                                </td>
                                             </tr>
                                        </table>
                                     </li>
                                <?php } ?>
                                </ul>
                            <?php } ?>
                        </div>
                    </span>
                </div>
            <?php } ?>    
            </form>
		</div>
		<?php require APPLICATION_PATH."/views/scripts/farm/tabsbottom.phtml"; ?> 
    </div>
</div>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>