<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$input = new SeasonInput();
	$input->populate(decode($request->id));	
	
	$type = $input->getType();
	$isinput = true;
	$isgeneral = false;
	$title = $this->translate("season_input_pagetitle_view"); 
	$detailstitle = "Season Input Details";
	$activityref = $this->translate("season_activityref_label");
	$activitydate = $this->translate("season_activitystart_label");
	if($type == 2){
		$isinput = false;
		$isgeneral = true;
		$title = $this->translate("season_expense_pagetitle_view"); 
		$detailstitle = "Expense Details";
		$activityref = $this->translate("season_expenseref_label");
		$activitydate = $this->translate("season_expensestart_label");
	}
	$thefarmid = $input->getSeason()->getFarmID();
		
	$this->headTitle($title);  
	
?>
<script>
	$(document).ready(function() {
		
	}); 
</script>
<h1><?php echo $this->translate('farm_title'); ?></h1>
<div id="tabs">
    <?php require APPLICATION_PATH."/views/scripts/farm/farmleftcolumn.phtml"; ?>
    <div class="span9 tab-content" id="center">
    	<?php require APPLICATION_PATH."/views/scripts/farm/tabstop.phtml"; ?>
		<div id="seasons">
            <form id="viewform" class="form-horizontal seasons">
            <?php if($request->tab == 'seasons'){ ?>
                <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left well lighter margin0" style="width:72%; min-height:160px;">
                        <h3 class="well-legend"><?php echo $title; ?></h3>
                        <table class="table noborder margin0" style="margin-top:15px;">
                            <tr>
                                <td style="width:20%;"><label class="control-label"><?php echo $activityref; ?>: </label></td>
                                <td style="width:30%;"><?php echo $input->getRef(); ?></td>
                                <td style="width:20%;"><label class="control-label"><?php echo $this->translate("season_ref_label"); ?>: </label></td>
                                <td><a href="<?php $this->baseUrl('season/view/id/'.encode($input->getSeasonID())); ?>" title="Season details"><?php echo $input->getSeason()->getRef(); ?></a></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $activitydate; ?>: </label></td>
                                <td colspan="3"><?php echo changeMySQLDateToPageFormat($input->getStartDate()); ?></td>
                            </tr>
                        </table>
                    </span>
                    <span class="pull-right padding0" style="width:24%; margin-left:5px;">
                        <div class="well margin0" style="height:160px;">
                            <h3 class="well-legend">Quick Links</h3>
                            <table class="table noborder" >                       
                               <tr>		                    
                                    <td class="formactions">
                                        <a class="btn btn-primary" href="<?php echo $this->baseUrl('season/input/id/'.encode($input->getID())); ?>" id="update"><i class="icon-pencil icon-white"></i> Update</a>
                                        <a href="javascript: void(0)" id="deleteline" title="Delete Inputs" class="btn deleteline noimgbutton" action="<?php echo $this->baseUrl('season/delete/id/'.$input->getID()."/entityname/SeasonInput/successurl/".encode($this->baseUrl('season/view/id/'.encode($input->getSeasonID())))); ?>"><i class="icon-trash"></i></a>   
                                        <a class="btn" href="<?php echo $this->baseUrl('season/view/id/'.encode($input->getSeasonID())); ?>" title="Return to Timeline"><i class="icon-list"></i> View Timeline</a>        
                                    </td>
                               </tr>
                            </table>                           
                        </div>
                    </span>
                </div>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left well lighter margin0" style="width:97%; min-height:230px;">
                    <h3 class="well-legend"><?php echo $detailstitle; ?></h3>
                        <input type="text" name="minimumdetails" id="minimumdetails" class="hide" value="" /><div id="minimumdetails_error"></div>
                        <table class="table table-stripped table-bordered hasheader" style="margin-top:15px;">
                            <thead>
                                <tr>
                                    <td style="width:20px;" class="centeralign">#</td>
                                    <?php if($isgeneral){ ?>
                                        <td style="width:25%;"><?php echo $this->translate("season_input_type_label"); ?></td>
                                        <td><?php echo $this->translate("season_input_name_label"); ?></td>
                                    <?php } ?>
                                    <?php if($isinput){ ?>
                                        <td style="width:100px;"><?php echo $this->translate("season_input_type_label"); ?></td>
                                        <td><?php echo $this->translate("season_input_name_label"); ?></td>
                                        <td style="width:120px;"><?php echo $this->translate("season_input_source_label"); ?></td>
                                    <?php } ?>
                                    <td style="width:50px;"><?php echo $this->translate("season_input_quantity_label"); ?></td>
                                    <td style="width:90px;"><?php echo $this->translate("season_input_unitcost_label"); ?> (<?php echo $config->currency->default; ?>)</td>
                                    <td style="width:90px;"><?php echo $this->translate("season_input_amount_label"); ?> (<?php echo $config->currency->default; ?>)</td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php 
                                    $inputdetails = $input->getinputdetails();
                                    $x = 1;
                                    foreach($inputdetails as $expense){
                                ?>
                                <tr>
                                    <td class="centeralign"><?php echo $x; ?></td>
                                    <?php if($isgeneral){ ?>
                                        <td><?php echo $expense->getName(); ?></td>
                                        <td><?php echo $expense->getDescription(); ?></td>
                                    <?php } ?>
                                    <?php if($isinput){ ?>
                                        <td><?php echo $expense->getTypeText(); ?></td>
                                        <td><?php echo $expense->getName(); ?></td>
                                        <td><?php echo $expense->getSource(); ?></td>
                                    <?php } ?>
                                    <td class="centeralign"><?php echo $expense->getQuantity(); ?></td>
                                    <td class="rightalign"><?php echo formatNumber($expense->getUnitCost()); ?></td>
                                    <td><label id="amount_<?php echo $expense->getID(); ?>" class="amount_label"><?php echo formatNumber($expense->getAmount()); ?></label></td>
                                </tr>
                                <?php $x++;} ?>
                                <tr>
                                    <td colspan="<?php echo $isinput == true ? 4: 3; ?>"></td>
                                    <td colspan="2"><label class="control-label pull-right" style="text-align:right; float:right;">Total Expenditure: </label></td>
                                    <td><label id="summation" class="amount_label"><?php echo formatNumber($input->getTotalAmount());  ?></label></td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </div>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left well lighter margin0" id="row2_left" style="width:97%; min-height:50px; height:auto;">
                        <?php 
							$loan = $input->getCreditDetails();
						?>
                        <h3 class="well-legend"><?php echo $this->translate("season_credit_finance_title"); ?></h3>
                        <table class="table noborder margin0" style="margin-top:10px;">
                            <tr>
                                <td style="width:20%;"><label class="control-label"><?php echo $this->translate("season_credit_type_label"); ?>:</label></td>
                                <td colspan="3"><?php $data = getCapitalSources(); echo $data[$input->getFinanceType()]; ?></td>
                            </tr>
                            <?php if($input->getFinanceType() == 5){ ?>
                            <tr>
                                <td style="width:20%;"><label class="control-label"><?php echo $this->translate("season_credit_client_label"); ?>:</label></td>
                                <td colspan="3"><?php echo $loan->getTheClient(); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_credit_value_label"); ?>:</label></td>
                                <td colspan="3"><?php echo isEmptyString($loan->getPrice()) ? '--' : nl2br($loan->getPrice()); ?></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_credit_terms_label"); ?>:</label></td>
                                <td colspan="3"><?php echo isEmptyString($loan->getContract()) ? '--' : nl2br($loan->getContract()); ?></td>
                            </tr>
                            <?php } ?>
                            <tr>
                                <td class="padding0" colspan="4">
                                <?php if($input->getFinanceType() == 3 || $input->getFinanceType() == 4){ ?>
                                    <table>
                                        <tbody id="hasloan">
                                            <tr>
                                                <td style="width:27%;"><label class="control-label"><?php echo $this->translate("season_credit_principal_label"); ?>:</label>
                                                <?php echo formatMoney($loan->getPrincipal()); ?></td>
                                                <td style="width:27%;"><label class="control-label"><?php echo $this->translate("season_credit_interestrate_label"); ?>:</label>
                                                <?php echo $loan->getInterestRate().'&nbsp;<span class="pagedescription">(%)</span>'; ?>&nbsp;</td>
                                                <td style="width:27%;"><label class="control-label"><?php echo $this->translate("season_credit_payperiod_label"); ?>:</label>
                                                <?php echo isEmptyString($loan->getPayBackPeriodText()) ? '--' : $loan->getPayBackPeriodText(); ?></td>
                                                <td><label class="control-label"><?php echo $this->translate("season_credit_repayment_label"); ?>:</label>
                                                <?php echo formatMoney($loan->getPayBackAmount()); ?></td>
                                            </tr>
                                            <tr>
                                                <td><label class="control-label"><?php echo $this->translate("season_credit_regularpay_label"); ?>:</label>
                                                <?php echo $loan->getInstallmentText(); ?></td>
                                                <td><label class="control-label"><?php echo $this->translate("season_credit_datereceived_label"); ?>:</label>
                                                <?php echo isEmptyString($loan->getcreditdate()) ? '--' : changeMySQLDateToPageFormat($loan->getcreditdate()); ?></td>
                                                <td colspan="2">
                                                <?php if($input->getFinanceType() == 4){ ?>
                                                    <label class="control-label"><?php echo $this->translate("season_credit_source_label"); ?>:</label>
                                                    <?php echo $loan->getFinancialSourceValue(); ?>
                                                <?php } ?>
                                                <?php if($input->getFinanceType() == 3){ ?>
                                                    <label class="control-label"><?php echo $this->translate("season_credit_source_label"); ?>:</label>
                                                    <?php echo isEmptyString($loan->getFinanceSourceText()) ? '--' : $loan->getFinanceSourceText(); ?>
                                                <?php } ?>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <?php } ?>
                                </td>
                            </tr>
                        </table>
                    </span>
                </div>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left" style="width:100%; margin-right:5px;">
                        <div id="location_left" class="well lighter margin0" style="min-height:100px; position:relative;"> 
                            <?php
								$notelines = $input->getNotesDetails();
								// debugMessage($expenselines->toArray());
								$count = $notelines->count();
								$notes_label = '';
								if($count > 0){
									$notes_label = '<span class="pagedescription">('.$count.')</span>';
								}
							?>
                            <h3 class="well-legend">Notes | Comments <?php echo $notes_label; ?></h3>
                            <div class="margin0" style="position:absolute; right:10px; top:5px;">
                                <a href="<?php echo $this->baseUrl('season/notes/type/SeasonInput/pgc/true/refid/'.encode($input->getID())); ?>" class="btn btn-mini addpopup" title="Add Notes" rel="Add Notes" id="newnote" formtitle="indexform" successurl="<?php echo $this->baseUrl('season/inputview/id/'.encode($input->getID())); ?>" action="<?php echo $this->baseUrl('season/notescreate/successurl/'.encode($this->baseUrl('season/addnotessuccess/successmessage/global_save_success/'))); ?>"><i class="icon-plus"></i> Add</a>                                            
                            </div>
                            <?php if($count == 0){ ?>
                                <br /><span class="pagedescription">None currently available.</span>
                            <?php } else { ?>
                                <ul id="datalist" class="nav nav-stacked">
                                <?php 
                                    $x = 1;
                                    foreach($notelines as $note){
										$farmer = $note->getNotedBy()->getFarmer();
                                ?>
                                    <li>
                                        <table class="table noborder margin0">
                                            <tr>                                
                                                <td class="" style="width:90%;">
                                                	<table class="itemlist table noborder margin0">
                                                        <tr>
                                                            <td style="width:75px; padding-top:10px;">
                                                                <div id="thumbinfo" class="<?php echo $farmer->getUser()->hasProfileImage() ? 'new_pic': ''; ?>"> 
                                                                    <a href="<?php //echo $this->baseUrl("farmer/view/id/".encode($line['id'])); ?>" title="<?php echo $this->translate("person_button_view_profile"); ?>"><img src="<?php echo $farmer->getUser()->getThumbnailPicturePath(); ?>" /></a>
                                                                </div>
                                                            </td>
                                                            <td style="padding-left:15px;"><label class="control-label"><?php echo date('M j, Y g:i A', strtotime($note->getDateNoted())); ?></label>
                                                            	<span><?php echo nl2br($note->getDescription()); ?></span>
                                                            
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="padding0">
                                                	<div style="position:relative;">
                                                        <div class="threadicons" style="position:absolute; right:5px; top:5px;">
                                                            <a href="javascript: void(0)" id="deleteline_multiple" title="Delete Entry" class="btn btn-mini deleteline noimgbutton" action="<?php echo $this->baseUrl('season/delete/id/'.$note->getID()."/entityname/Notes/successurl/".encode($this->baseUrl('season/inputview/id/'.encode($input->getID())))); ?>" message="Are you sure you want to delete this note?"><i class="icon-trash"></i></a>
                                                        </div>
                                            
                                                    </div>
                                                </td>
                                             </tr>
                                        </table>
                                     </li>
                                <?php } ?>
                                </ul>
                            <?php } ?>
                        </div>
                    </span>
                </div>
            <?php } ?>    
            </form>
		</div>
		<?php require APPLICATION_PATH."/views/scripts/farm/tabsbottom.phtml"; ?> 
    </div>
</div>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';