<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$tillage = new SeasonTillage();
	$season = new Season(); 
	$tcounter = "";
	if(!isEmptyString($request->sid)){
		$season->populate(decode($request->sid));
		$tillage->setSeasonID($season->getID());
		$tillage->setFarmID($season->getFarmID());
		$tillage->setStartDate(date('Y-m-d'));
		$tcounter = $tillage->getNextReferencePointer();
		$successurl = encode($this->baseUrl("season/tillage/sid/".$request->sid));
	}
	
	// default title is to enable adding any payee
	$title = $this->translate("season_tillage_pagetitle_new"); 
	$posturl = $this->baseUrl("season/tillagecreate");
	$button_title = $this->translate("global_button_save"); 
	
	// set the payee if provided in the url 
	if (!isEmptyString($request->id)) {
		$tillage->populate(decode($request->id));
		$title = $this->translate("season_tillage_pagetitle_edit"); 
		$button_title = $this->translate("global_button_save_changes");
		$tcounter = substr($tillage->getRef(), -3);
		$successurl = encode($this->baseUrl("season/tillage/id/".$request->id));
	}
	$thefarmid = $tillage->getSeason()->getFarmID();
	$loan = $tillage->getCreditDetails();
	
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$tillage->processPost($session->getVar(FORM_VALUES));	
	}
	
	// $tillagetypes = getAllTillageTypes();
		
	$this->headTitle($title);  
	
?>
<script>
	$(document).ready(function() {
		$("#indexform").validate({		
			// define the validation rules one field at a time
			rules: {
				startdate: "required",
				method: "required",
				status: "required",
				fieldsize: {
					required: true
				}
			}, 
			// the messages for each of the fields being validated
			messages: {		
				startdate: "<?php echo $this->translate("season_activitystartdate_error"); ?>",
				method: "<?php echo $this->translate("season_method_error"); ?>",
				status: "<?php echo $this->translate("season_status_error"); ?>",
				fieldsize: {
					required: "<?php echo $this->translate("season_fieldsize_error"); ?>"
				}
			},
			// custom error positions
			errorPlacement: function(error, element) {
				switch(element.attr("name")){					
					default:
						if(element.hasClass("useid_error")){
							error.appendTo("#"+element.attr("id")+"_error");
						} else {
							error.appendTo("#"+element.attr("name")+"_error");
						}
						break;
				}			
			}
		});
		
		// datepickerOpts = new Date();   
		$("#startdate, #enddate").datepicker(datepickerOpts);
		
		// compute activity reference
		$("#startdate").change(function(){
			var label = '';
			var counter = '<?php echo $tcounter; ?>';
			var date = new Date($(this).val());
			var year = date.getFullYear();
			var month = date.getShortMonthName();
			var label = "<?php echo ACTIVITY_TILLAGE_PREFIX; ?>"+month+"/"+year+"/"+counter;
			$("#reflabel").html(label);
			$("#ref").val(label);
		});
		$("#startdate").change();
		
		$("#creditdate").datepicker(datepickerOpts);
		$("#sourcetype").val("");
		$("#clienttype").val("");
		$("#financetype-1, #financetype-2").click(function(){
			multipleDisableContainerByID('hasloan,bankrow,softrow,cropfinancing');
		});
		$("#financetype-3").click(function(){
			multipleEnableContainerByID('hasloan,softrow');
			multipleDisableContainerByID('bankrow','cropfinancing');
			$("#sourcetype").val(2);
		});
		$("#financetype-4").click(function(){
			enableContainerByID('hasloan');
			enableContainerByID('bankrow');
			multipleDisableContainerByID('cropfinancing,softrow');
			$("#sourcetype").val(1);
		});
		$("#financetype-5").click(function(){
			enableContainerByID('cropfinancing');
			multipleDisableContainerByID('hasloan,bankrow,softrow');
			$("#clienttype").val(1);
		});
		<?php if(!isEmptyString($tillage->getFinanceType())){ ?>
			var currentval = '<?php echo $tillage->getFinanceType(); ?>';
			$("#financetype-"+currentval).click();
		<?php } ?>
		
	}); 
</script>
<style>
select.multipleselect {
	width:90%;
}
</style>
<h1><?php echo $this->translate('farm_title'); ?></h1>
<div id="tabs">
    <?php require APPLICATION_PATH."/views/scripts/farm/farmleftcolumn.phtml"; ?>
    <div class="span9 tab-content" id="center">
    	<?php require APPLICATION_PATH."/views/scripts/farm/tabstop.phtml"; ?>
		<div id="seasons">
            <form id="indexform" class="form-horizontal seasons" action="<?php echo $posturl; ?>" method="post">
            <?php if($request->tab == 'seasons'){ ?>
                <?php if(!isEmptyString($session->getVar(SUCCESS_MESSAGE)) ){ ?>
                    <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><?php echo $session->getVar(SUCCESS_MESSAGE); ?></div>
                <?php } ?>
                <?php if($sessionhaserror) { ?>
                    <div class="alert alert-error"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                <?php } ?>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left well lighter margin0" style="width:72%; min-height:160px;">
                        <h3 class="well-legend"><?php echo $title; ?></h3>
                        <table class="table margin0" style="margin-top:15px;">
                            <tr>
                                <td style="width:25%;"><label class="control-label"><?php echo $this->translate("season_activityref_label"); ?>: </label></td>
                                <td style="width:30%;"><span id="reflabel"></span><input type="hidden" id="ref" name="ref" value="<?php echo $tillage->getRef(); ?>" /></td>
                                <td style="width:20%;"><label class="control-label"><?php echo $this->translate("season_ref_label"); ?>: </label></td>
                                <td><a href="<?php $this->baseUrl('season/view/id/'.encode($tillage->getSeasonID())); ?>" title="Season details"><?php echo $tillage->getSeason()->getRef(); ?></a></td>
                            </tr>
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_activitystartdate_label"); ?>:  <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                                <td><input type="text" name="startdate" id="startdate" class="datefield width100" value="<?php echo changeMySQLDateToPageFormat($tillage->getStartDate()); ?>" /></td>
                                <td><label class="control-label"><?php echo $this->translate("season_activityenddate_label"); ?>:</label></td>
                                <td><input type="text" name="enddate" id="enddate" class="datefield width100" value="<?php echo changeMySQLDateToPageFormat($tillage->getEndDate()); ?>" /></td>
                            </tr>
                            
                            <tr>
                                <td><label class="control-label"><?php echo $this->translate("season_status_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                                <td colspan="3">
                                    <?php
                                        $allstatuses = getStatusValues();
                                        $statusesdropdown = new Zend_Form_Element_Select('status',
                                                            array(
                                                                'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $allstatuses),								
                                                                'view' => new Zend_View(),
                                                                'decorators' => array('ViewHelper'),
                                                                'class' => array('hastooltip', 'span2'),
                                                                'title' => $this->translate("season_status_tooltip")
                                                            )
                                                        );
                                        $statusesdropdown->setValue($tillage->getStatus()); 
                                        echo $statusesdropdown->render(); 
                                   ?><div id="status_error"></div>
                                </td>
                            </tr>
                        </table>
                    </span>
                    <span class="pull-right padding0" style="width:24%; margin-left:5px;">
                        <div class="well margin0" style="height:160px;">
                                <h3 class="well-legend">Quick Links</h3>
                                <table class="table noborder" >                       
                                   <tr>		                    
                                        <td class="formactions">
                                            <button type="submit" class="btn btn-primary savethenview"><i class="icon-ok icon-white"></i> <?php echo $button_title; ?></button>
                                            <a href="<?php echo $this->baseUrl('season/view/id/'.encode($season->getID())); ?>" class="btn"><i class="icon-remove"></i> <?php echo $this->translate('global_button_cancel'); ?></a>
                                            <input type="hidden" name="entityname" value="SeasonTillage" />
                                            <input type="hidden" id="id" name="id" value="<?php echo encode($tillage->getID()); ?>" />
                                            <input type="hidden" id="seasonid" name="seasonid" value="<?php echo $tillage->getSeasonID(); ?>" />
                                            <input type="hidden" id="farmid" name="farmid" value="<?php echo $tillage->getFarmID(); ?>" />
                                            <input type="hidden" id="farmerid" name="farmerid" value="<?php echo $tillage->getFarm()->getFarmerID(); ?>" />
                                            <input type="hidden" id="stage" name="stage" value="6" />
                                            <input type="hidden" name="sourcetype" id="sourcetype" value="<?php echo $loan->getSourceType(); ?>" />
                                            <input type="hidden" name="clienttype" id="clienttype" value="<?php echo $loan->getClientType(); ?>" />
                                            <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $this->translate("global_save_success"); ?>" /> 
                                            <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($this->baseUrl("season/tillageview")); ?>" /> 
                                            <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo $successurl; ?>" /> 
                                        </td>
                                   </tr>
                                </table>                           
                            </div>
                    </span>
                </div>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left" style="width:100%; margin-right:5px;">
                        <div id="location_left" class="well lighter margin0" style="min-height:150px;"> 
                                <h3 class="well-legend">Tillage Details</h3>
                                <table class="table ">
                                    <tr>
                                        <td style="width:45%; padding-left:0;">
                                            <table class="table">
                                                <tr>
                                                    <td style="width:30%;"><label class="control-label"><?php echo $this->translate("season_tillage_method_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                                                    <td>
                                                        <?php
                                                            $alltypes = getTillageMethods();
                                                            $methoddropdown = new Zend_Form_Element_Select('method',
                                                                                array(
                                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $alltypes),								
                                                                                    'view' => new Zend_View(),
                                                                                    'decorators' => array('ViewHelper'),
                                                                                    'class' => array('hastooltip', 'span2'),
                                                                                    'title' => $this->translate("season_tillage_type_tooltip")
                                                                                )
                                                                            );
                                                            
                                                            $methoddropdown->setValue($tillage->getMethod());
                                                            echo $methoddropdown->render();
                                                       ?><div id="method_error"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label"><?php echo $this->translate("season_tillage_area_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label></td>
                                                    <td><input style="width:50px;" type="text" name="fieldsize" id="fieldsize" class="centeralign isnumber" value="<?php echo $tillage->getFieldSize(); ?>" />
                                                        &nbsp;
                                                        <?php
                                                            $areavalues = getAreaUnits();
                                                            $unitdropdown = new Zend_Form_Element_Select('fieldsizeunit',
                                                                                array(
                                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select>'), $areavalues),								
                                                                                    'view' => new Zend_View(),
                                                                                    'decorators' => array('ViewHelper'),
                                                                                    'class' => array('hastooltip', 'width80'),
                                                                                    'title' => $this->translate("season_plant_fieldsize_tooltip")
                                                                                )
                                                                            );
                                                            $unitdropdown->setValue($tillage->getFieldSizeUnit()); 
                                                            echo $unitdropdown->render(); 
                                                       ?><div id="fieldsize_error"></div></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label"><?php echo $this->translate("season_tillage_depth_label"); ?>:</label></td>
                                                    <td><input style="width:50px;" type="text" name="depth" id="depth" class="centeralign isnumber" value="<?php echo $tillage->getDepth(); ?>" />
                                                        &nbsp;
                                                        <?php
                                                            $depthvalues = getDepthUnits();
                                                            $unitdropdown = new Zend_Form_Element_Select('depthunit',
                                                                                array(
                                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select>'), $depthvalues),								
                                                                                    'view' => new Zend_View(),
                                                                                    'decorators' => array('ViewHelper'),
                                                                                    'class' => array('hastooltip', 'width80'),
                                                                                    'title' => $this->translate("season_tillage_depth_tooltip")
                                                                                )
                                                                            );
                                                            $unitdropdown->setValue($tillage->getDepthUnit()); 
                                                            echo $unitdropdown->render(); 
                                                       ?><div id="depth_error"></div></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table">
                                                <tr>
                                                    <td style="width:25%;"><label class="control-label"><?php echo $this->translate("season_tillage_primaryimplements_label"); ?>: </label></td>
                                                    <td><?php
														  $primarydropdown = new Zend_Form_Element_Multiselect('primaryimplements',
																			  array(
																				  'multiOptions' => getPrimaryTillageMethods(),
																				  'view' => new Zend_View(),
																				  'decorators' => array(array('ViewHelper')),
																				  'class' => array('chzn-select','multipleselect','span3','hastooltip_custom'),
																				  'title' => $this->translate("season_tillage_primaryimplements_tooltip")
																			  )
																			);
														  
														  $primarydropdown->setValue($tillage->getPrimaryImplementsArray());
														  $primarydropdown->setAttrib("data-placeholder", 'Select all in category');
														  echo $primarydropdown->render();
													  ?><span id="tooltip_primaryimplements"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label"><?php echo $this->translate("season_tillage_secondaryimplements_label"); ?>: </label></td>
                                                    <td><?php
														  $secdropdown = new Zend_Form_Element_Multiselect('secondaryimplements',
																			  array(
																				  'multiOptions' => getSecondaryTillageMethods(),
																				  'view' => new Zend_View(),
																				  'decorators' => array(array('ViewHelper')),
																				  'class' => array('chzn-select','multipleselect','span3','hastooltip_custom'),
																				  'title' => $this->translate("season_tillage_secondaryimplements_tooltip")
																			  )
																			);
														  
														  $secdropdown->setValue($tillage->getSecondaryImplementsArray());
														  $secdropdown->setAttrib("data-placeholder", 'Select all in category');
														  echo $secdropdown->render();
													  ?><span id="tooltip_secondaryimplements"></span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                    </span>
                </div>
                <div class="row margin0" style="padding:2px; margin-bottom:10px;">
                    <span class="pull-left" style="width:100%; margin-right:5px;">
                        <div id="location_left" class="well lighter margin0" style="min-height:150px;"> 
                            <h3 class="well-legend"><?php echo $this->translate("season_credit_finance_title"); ?></h3>
                            <table class="table">
                                <tr>
                                    <td style="width:35%; padding-left:0;">
										<table class="table">
                                            <tr>
                                            	<td><label class="control-label" style="font-size:14px;"><?php echo $this->translate("season_credit_type_label"); ?></label></td>
                                            </tr>
                                            <tr>
                                                <td id="sourceradio">
                                                <?php
                                                     $data = getActivityFinanceSources(2);						  
                                                     $capitalradio = new Zend_Form_Element_Radio('financetype',
                                                              array(
                                                                      'multiOptions' => $data, 
                                                                      'view' => new Zend_View(),
                                                                      'disableLoadDefaultDecorators' => true,
                                                                      'class' => array('financetype'),
                                                                      'decorators' => array('ViewHelper',
                                                                                          array('HtmlTag', array('tag' => 'div', 'class' => array('inline', 'radio', 'zendradio'))) // use a sorrounding DIV with classes which are copied to the label by JQuery
                                                                                      )
                                                              )
                                                      );
                                                      $capitalradio->setValue($tillage->getFinanceType());
                                                      echo $capitalradio->render();
                                                ?>
                                                </td>
                                            </tr>
                                        </table>
									</td>
                                    <td>
                                    	<table class="table">
                                            <tbody id="hasloan" class="hide">
                                                <tr>
                                                    <td colspan="2"><label class="control-label" style="font-size:14px;"><?php echo $this->translate("season_credit_finance_details"); ?></label></td>
                                                </tr>
                                                <tr>
                                                    <td style="width:40%;"><label class="control-label"><?php echo $this->translate("season_credit_principal_label"); ?>:</label>
                                                        <div class="input-prepend"><span class="add-on"><?php echo $config->currency->default; ?></span><input type="text" style="width:80px;" name="principal" id="principal" class="width100 hastooltip isamount rightalign" value="<?php echo $loan->getPrincipal(); ?>" title="<?php echo $this->translate("season_principal_tooltip"); ?>" /></div><div id="principal_error"></div></td>
                                                    <td><label class="control-label"><?php echo $this->translate("season_credit_interestrate_label"); ?>:</label>
                                                    <input style="width:50px;" type="text" name="interestrate" id="interestrate" class="centeralign isnumber hastooltip" value="<?php echo $loan->getInterestRate(); ?>" title="<?php echo $this->translate("season_interestrate_tooltip"); ?>" />&nbsp;<span class="pagedescription">(%)</span><div id="interestrate_error"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label"><?php echo $this->translate("season_credit_repayment_label"); ?>:</label>
                                                        <div class="input-prepend"><span class="add-on"><?php echo $config->currency->default; ?></span><input type="text" style="width:80px;" name="paybackamount" id="paybackamount" class="width100 hastooltip isamount rightalign" value="<?php echo $loan->getPayBackAmount(); ?>" title="<?php echo $this->translate("season_paybackamount_tooltip"); ?>" /></div><div id="paybackamount_error"></div></td>
                                                    <td><label class="control-label"><?php echo $this->translate("season_credit_payperiod_label"); ?>:</label>
                                                        <input style="width:50px;" type="text" name="paybackperiod" id="paybackperiod" class="centeralign isnumber" value="<?php echo $loan->getPayBackPeriod(); ?>" />
                                                        <?php
                                                            $univalues = getLoanFrequencyValues();
                                                            $unitdropdown = new Zend_Form_Element_Select('paybackperiodunit',
                                                                                array(
                                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select>'), $univalues),								
                                                                                    'view' => new Zend_View(),
                                                                                    'decorators' => array('ViewHelper'),
                                                                                    'class' => array('span2','width100','hastooltip'),
																					'title' => $this->translate("season_paybackperiod_tooltip")
                                                                                )
                                                                            );
                                                            $unitdropdown->setValue($loan->getPayBackPeriodUnit()); 
                                                            echo $unitdropdown->render(); 
                                                        ?>
                                                        <div id="paybackperiod_error"></div></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="control-label"><?php echo $this->translate("season_credit_datereceived_label"); ?>:</label>
                                                    <input type="text" name="creditdate" id="creditdate" class="datefield width100" value="<?php echo changeMySQLDateToPageFormat($loan->getcreditdate()); ?>" /><div id="creditdate_error"></div></td>
                                                    <td><label class="control-label"><?php echo $this->translate("season_credit_regularpay_label"); ?>:</label>
                                                        <div class="input-prepend"><span class="add-on"><?php echo $config->currency->default; ?></span><input type="text" style="width:65px;" name="installment" id="installment" class="width50 isamount rightalign" value="<?php echo $loan->getInstallment(); ?>" /></div>
                                                        &nbsp;/&nbsp;
                                                        <?php
                                                            $univalues = getLoanRepaymentFrequencyValues();
                                                            $unitdropdown = new Zend_Form_Element_Select('installmentunit',
                                                                                array(
                                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select>'), $univalues),								
                                                                                    'view' => new Zend_View(),
                                                                                    'decorators' => array('ViewHelper'),
                                                                                    'class' => array('span2','width80','hastooltip'),
																					'title' => $this->translate("season_installment_tooltip")
                                                                                )
                                                                            );
                                                            $unitdropdown->setValue($loan->getInstallmentUnit()); 
                                                            echo $unitdropdown->render(); 
                                                        ?>
                                                        <div id="installment_error"></div></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><label class="control-label"><?php echo $this->translate("season_credit_source_label"); ?>:</label>
														<span id="bankrow">
														<?php
                                                            $allsources = getAllFinancialInstitutions();
                                                            $sourcedropdown = new Zend_Form_Element_Select('financesourceid',
                                                                                array(
                                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $allsources),								
                                                                                    'view' => new Zend_View(),
                                                                                    'decorators' => array('ViewHelper'),
                                                                                    'class' => array('hastooltip', 'width150'),
                                                                                    'style' => 'width:215px;',
                                                                                    'title' => $this->translate("season_financesource_tooltip")
                                                                                )
                                                                            );
                                                            
                                                            $sourcedropdown->setValue($loan->getFinanceSourceID());
                                                            echo $sourcedropdown->render();
                                                       ?>
                                                       </span>
                                                       <span id="softrow">
                                                   		<input type="text" name="financesourcetext" id="financesourcetext" class="width150 hastooltip" value="<?php echo $loan->getFinanceSourceText(); ?>" placeholder="" title="<?php echo $this->translate("season_financesource_tooltip"); ?>" />
                                                       </span>
                                                       <div id="financesource_error"></div>
                                                    </td>
                                                </tr>
                                           	</tbody>
                                            <tbody id="cropfinancing" class="hide">
                                            	<tr>
                                                	<td colspan="2">
                                                    	<label class="control-label"><?php echo $this->translate("season_credit_client_label"); ?>:</label>
                                                    	<?php
                                                            $allclients = getAllClients();
                                                            $sourcedropdown = new Zend_Form_Element_Select('clientid',
                                                                                array(
                                                                                    'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $allclients),								
                                                                                    'view' => new Zend_View(),
                                                                                    'decorators' => array('ViewHelper'),
                                                                                    'class' => array('hastooltip', 'width150'),
                                                                                    'style' => 'width:215px;',
                                                                                    'title' => $this->translate("season_credit_clientid_tooltip")
                                                                                )
                                                                            );
                                                            
                                                            $sourcedropdown->setValue($loan->getClientID());
                                                            echo $sourcedropdown->render();
                                                       ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2"><label class="control-label"><?php echo $this->translate("season_credit_value_label"); ?>:</label>
                                                        <div class="input-prepend"><span class="add-on"><?php echo $config->currency->default; ?></span><input type="text" style="width:80px;" name="price" id="price" class="width100 hastooltip isamount rightalign" value="<?php echo $loan->getPrice(); ?>" title="<?php echo $this->translate("season_creditvalue_tooltip"); ?>" /></div><div id="price_error"></div></td>
                                                </tr>
                                            	<tr>
                                                	<td colspan="2">
                                                    	<label class="control-label"><?php echo $this->translate("season_credit_terms_label"); ?>:</label>
                                                    	<textarea id="contract" name="contract" class="hastooltip" title="<?php echo $this->translate("season_contract_tooltip"); ?>" style="width:85%;"><?php echo $loan->getContract(); ?></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </span>
                </div>
            <?php } ?>    
            </form>
		</div>
		<?php require APPLICATION_PATH."/views/scripts/farm/tabsbottom.phtml"; ?> 
    </div>
</div>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>